<form #form="ngForm" id="Form_1495447577225">
  <div id="LayoutFvrt" class="layout vertical fullHeight">
    <div id="LayoutFvrtBtnTop" class="layout horizontal fill">
      <div id="LayoutFvrtBtnTopLft" class="layout horizontal">
        <phi-combobox [(ngModel)]="serviceDeliveryLocationId" name="serviceDeliveryLocationId" id="CmbBxFvrtWard" [listElementsExpression]="enabledSdlocs" converter="Integer Converter" (change)="sdlChange()"></phi-combobox>
      </div>
      <div id="LayoutFvrtBtnRght" class="layout horizontal end">
        <phi-buttonback (binding)="goToDrugPrescriber()" id="BtnBackFvrt"></phi-buttonback>
      </div>
    </div>
    <div id="LayoutFvrtCenter" class="layout horizontal fill fillHeight">
      <div phi-tabbedpanel #TabPnlFavTab [binding]="FavoriteTabList?.entities" conversationName="FavoriteTab">
        <div class="tab-content" *ngIf="FavoriteTab">
        <div id="PanelTabFav" class="layout horizontal fill">
          <div id="LayoutFavoriteTabColumn" class="layout vertical"  *ngFor="let column of columnList" [style.width]="columns2Percentage(FavoriteTab?.numColumn)">
            <div id="LayoutSection" class="layout vertical" *ngFor="let Section of FavoriteTab?.section">
              <div id="LayoutSectionOfColumn" class="layout vertical fieldset" *ngIf="Section.columnIndex == column" [style.background-color]="color2hex(Section.color)">
                <div id="LayoutSectionTitle" class="layout horizontal fill">
                  <div id="LayoutSectionTitleLft" class="layout horizontal center">
                    <div class="lbl">
                    <span class="bold">{{Section.title}}</span>
                    </div>
                  </div>
                  <phi-link (binding)="editSection(Section)" id="LnkEditSectionLft" styleClass="fa fa-pencil" [renderedEl]="favoriteConfiguration"></phi-link>
                  <phi-link (binding)="deleteSection(Section)" id="LnkDeleteSectionLft" styleClass="fa fa-remove" [renderedEl]="favoriteConfiguration"></phi-link>
                </div>
                <div id="DgProfile" [phi-datagrid]="Section.profile">
                  <thead class="tableHeader">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="selectable">
                    <tr *ngFor="let Profile of Section?.profile; let i = index" (click)="ie(Profile, 'Profile')" [class.selRow]="selected(Profile, 'Profile')">
                      <td>
                        <span>{{Profile.title}}</span>
                      </td>
                      <td>
                        <phi-link (binding)="editProfile(Profile)" id="Link_1496064818845" styleClass="fa fa-pencil" tooltip="{{'alt_Link_1496064818845' | translate}}" [renderedEl]="favoriteConfiguration"></phi-link>
                      </td>
                      <td>
                        <phi-link (binding)="deleteProfile(Profile)" id="Link_1496064821454" styleClass="fa fa-remove" tooltip="{{'alt_Link_1496064821454' | translate}}" [renderedEl]="favoriteConfiguration"></phi-link>
                      </td>
                  </tr>
                  </tbody>
                </div>
                <phi-button (binding)="addProfile(FavoriteTab, Section)" id="BtnProfileAdd" styleClass="{{FavoriteTab.subTypeCode?.code}}" [renderedEl]="favoriteConfiguration">{{'BtnProfileAdd' | translate}}</phi-button>
              </div>
            </div>
            <phi-button (binding)="addSection(FavoriteTab, column)" id="BtnSectionAdd" [renderedEl]="favoriteConfiguration">{{'BtnSectionAdd' | translate}}</phi-button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="LayoutFvrtBtnBttm" class="layout horizontal">
      <phi-button (binding)="newTabPanelAction()" id="BtnFvrtNew" [renderedEl]="favoriteConfiguration">{{'BtnFvrtNew' | translate}}</phi-button>
      <phi-button (binding)="modTabPanelAction(FavoriteTab)" id="BtnFvrtModify" *ngIf="favoriteConfiguration && FavoriteTab">{{'BtnFvrtModify' | translate}}</phi-button>
      <phi-button (binding)="deleteTabPanelAction(FavoriteTab)" id="BtnFvrtDelete" *ngIf="favoriteConfiguration && FavoriteTab">{{'BtnFvrtDelete' | translate}}</phi-button>
      <phi-button (binding)="editTemplateDosage()" id="BtnFvrtModifyTmplyDsgs" [renderedEl]="favoriteConfiguration">{{'BtnFvrtModifyTmplyDsgs' | translate}}</phi-button>
      <phi-button (binding)="addManually()" id="BtnFvrtMnlPrscrptn" styleClass="PHARMA" [renderedEl]="!favoriteConfiguration && favoriteType == 'THERAPY'">{{'BtnFvrtMnlPrscrptn' | translate}}</phi-button>
      <phi-button (binding)="addManuallyInfu()" id="BtnFvrtMnlInfu" styleClass="INFU" [renderedEl]="!favoriteConfiguration && favoriteType == 'THERAPY' && !dischargeMode">{{'BtnFvrtMnlInfu' | translate}}</phi-button>
      <phi-button (binding)="addActivity(true)" id="BtnFvrtActivity" [renderedEl]="!favoriteConfiguration && favoriteType == 'ACTIVITY'">{{'BtnFvrtActivity' | translate}}</phi-button>
    </div>
  </div>
</form>
