<form #form="ngForm" id="FrmSrchMdcn">
  <h1>{{'FrmSrchMdcn' | translate}}</h1>
  <div id="LayoutSrchMdcn" class="layout vertical">
    <div id="TxtSrchMdcnName" class="layout horizontal">
      <phi-textbox [(ngModel)]="MedicineAction.fullLike['name.giv']" name="MedicineAction.fullLike['name.giv']" id="TxtSrchMdcnName" [widgetLabel]="'label_TxtSrchMdcnName' | translate" (keyup.enter)="searchMedicine()"></phi-textbox>
      <phi-textbox [(ngModel)]="MedicineAction.like['substance.name.giv']" name="MedicineAction.like['substance.name.giv']" id="TxtSrchSbstncName" [widgetLabel]="'label_TxtSrchSbstncName' | translate" (keyup.enter)="searchMedicine()"></phi-textbox>
      <phi-button (binding)="searchMedicine()" id="BtnSrchMdcn" styleClass="fa fa-search fa-2x"></phi-button>
    </div>
    <phi-checkbox [(ngModel)]="extendedSearch" name="extendedSearch" id="ChkBxSrchMdcnExtndd" [widgetLabel]="'label_ChkBxSrchMdcnExtndd' | translate"></phi-checkbox>
    <div id="DgSrchMdcn" [phi-datagrid]="MedicineList" class="max-height-300">
      <thead class="tableHeader">
        <tr>
          <th>{{'DcSrchMdcnName' | translate}}</th>
          <th>{{'DcSrchMdcnSubstance' | translate}}</th>
          <th>{{'DcSrchMdcnPta' | translate}}</th>
          <th>{{'DcSrchMdcnInfo' | translate}}</th>
          <th>{{'DcSrchMdcnAlternatives' | translate}}</th>
        </tr>
      </thead>
      <tbody class="selectable">
        <tr *ngFor="let Medicine of MedicineList?.entities; let i = index" (click)="ie(Medicine, 'Medicine', $event)" [class.selRow]="selected(Medicine, 'Medicine')">
          <td>
            <span>{{Medicine.name.giv}}</span>
          </td>
          <td>
            <span>{{Medicine.substance.name.giv}}</span>
          </td>
          <td>
            <span *ngIf="Medicine.reference" class="fa fa-check"></span>
          </td>
          <td>
            <phi-link (binding)="getMedicineDetails(Medicine)" id="LnkSrchMdcnInfo" styleClass="fa fa-info-circle"></phi-link>
          </td>
          <td>
            <phi-link (binding)="searchAlternatives(Medicine)" id="LnkSrchMdcnAlternatives" styleClass="fa fa-search"></phi-link>
          </td>
      </tr>
      </tbody>
    </div>
  </div>
</form>
