//
// Variables
// --------------------------------------------------

/* COMMONS */

/*button*/
$font-awesome-buttons: true;
$iconColor: #000;
$iconHoverColor: #555;


/* BLUE CONFIGURATION */

$primaryColor: #9EADCC;
$secondaryColor: #3b5998;
$tertiaryColor: #81D4FA;

/*datagrid*/

$headerColor: #3B5998;
$headerTextColor: #fff;
$headerBorderColor: #ccc;
$tableRowOdd: #ECF2FF;
$tableRowEven: #fff;
$tableRowHover: #ddd;
$tableRowSelected: #C1CBE0;

/*groupbox*/

$groupBoxBorder: 3px solid #ccc;
$groupBoxBgColor: none;
$groupBoxLegendBgColor: #ccc;
$groupBoxLegendTextColor: #000;

/*tabs*/

$tabTextColor: #000;
$tabBgColor: #ccc;
$tabTextColorDisabled: #000;
$tabBgColorDisabled: #eee;
$tabBorder: 3px solid #ccc;
$tabBackground: #fff;

$sidebarBackground: #fff;
$menuHighlightColor: #1EAEDB;
$menuBackgroud: rgba(0, 0, 0, 0);

$logo: './customer/vco/logo.jpg';
$logoheight: 132px;
$logo-header: '../../../../../style/customer/vco/logo.jpg';
$loader:  none;
$loader1: none;
$loader2: none;
$loader3: none;
