//
// Variables
// --------------------------------------------------

/* COMMONS */

/*button*/
$font-awesome-buttons: false;
$iconColor: #000;
$iconHoverColor: #555;


/* www.martinsbrunn.it colors CONFIGURATION */

$primaryColor: #f0eeeb; // #f3c309;
$secondaryColor: #85aa11;  // #d57a1a;
$tertiaryColor: #85aa11;

/*datagrid*/

$headerColor: #f3c309; //#b23737;
$headerTextColor: #000;
$headerBorderColor: #ccc;
$tableRowOdd: fff;
$tableRowEven: #fff;
$tableRowHover: rgba(243, 195, 9, 1);/*#85aa11;*/
$tableRowSelected: rgba(213, 122, 26, 1);/*#d57a1a;*/

/*groupbox*/

$groupBoxBorder: 1px solid #d57a1a;
$groupBoxBgColor: none; /*rgba(213, 122, 26, 0.1);*/
$groupBoxLegendBgColor: #b23737;
$groupBoxLegendTextColor: #fff;

/*tabs*/

$tabTextColor: #fff;
$tabBgColor: #85aa11; /*rgba(133, 170, 17, 0.2);*/ /**/
$tabTextColorDisabled: #000;
$tabBgColorDisabled: rgba(133, 170, 17, 0.1); /*#85aa11;*/
$tabBorder: 1px solid #85aa11;; /*none;*/
$tabBackground: none; /*rgba(133, 170, 17, 0.2);*/ /*#85aa11;*/

/*$sidebarBackground: #fff;*/
$menuHighlightColor: #ccc;
$menuBackgroud: rgba(0, 0, 0, 0.15);

$logo: './customer/martinsbrunn/logo.jpg';
$logoheight: 150px;
$logo-header: '../../../../../style/customer/martinsbrunn/logo.jpg';
$loader: 3px solid #d57a1a;
$loader1: 3px solid #b23737;
$loader2: 3px solid #85aa11; 
$loader3: 3px solid #f3c309;

