<form #form="ngForm" id="Form_1517921913172">
  <div id="lyt-agendaannotation" class="layout vertical">
      <phi-color-picker [(ngModel)]="AgendaAnnotation.color" name="AgendaAnnotation.color" id="txt-app-color" [required]="isAppointmentNote" [widgetLabel]="'label_txt-app-color' | translate" [renderedEl]="isAppointmentNote" converter="Integer Converter"></phi-color-picker>
   
    <div class="lbl">
    <label>{{'label_agenda' | translate}}</label>
    <span>{{AgendaAnnotation.serviceDeliveryLocation?.name?.giv}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_date' | translate}}</label>
    <span>{{AgendaAnnotation.availabilityTime | dateFormat: 'short'}}</span>
    </div>
    <phi-combobox [(ngModel)]="AgendaAnnotation.lengthCode" name="AgendaAnnotation.lengthCode" id="cmb-app-duration" [widgetLabel]="'label_cmb-app-duration' | translate" [required]="isAppointmentNote"  [renderedEl]="isAppointmentNote" domain="PHIDIC:Length" converter="Code Value Converter"></phi-combobox>
    <phi-textarea [(ngModel)]="AgendaAnnotation.text.string" name="AgendaAnnotation.text.string" id="note" [widgetLabel]="'label_note' | translate"  [required]="isAppointmentNote"></phi-textarea>
    <div id="lyt-agendaannotation-ftr" class="layout horizontal space-between">
      <phi-buttoncancel (binding)="close()" id="btn-agendaannotation-close"></phi-buttoncancel>
      <phi-buttonsave (binding)="onSave()" id="btn-agendaannotation-save" [disabled]="form.invalid"></phi-buttonsave>
    </div>
  </div>
</form>
