<form #form="ngForm" id="frm-app-menu">
    <div id="lyt-app-menu" class="layout vertical popup-menu">
        <div id="lyt-app-menu-edit" class="layout vertical">
            <phi-button (binding)="edit()" id="btn-menu-edit" [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss()">
                <i class="fa fa-2x fa-pencil-square"></i>{{'btn-menu-edit' | translate}}</phi-button>
            <phi-button (binding)="copy()" id="btn-menu-copy" [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss()">
                <i class="fa fa-2x fa-files-o"></i>{{'btn-menu-copy' | translate}}</phi-button>
            <phi-button (binding)="move()" id="btn-menu-move" [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss()">
                <i class="fa fa-2x fa-arrows"></i>{{'btn-menu-move' | translate}}</phi-button>
            <phi-button (binding)="delete()" id="btn-menu-del" [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss()" tooltip="{{'alt_btn-menu-del' | translate}}">
                <i class="fa app cancelled"></i>{{'btn-menu-del' | translate}}</phi-button>
        </div>
    </div>
</form>