<form #form="ngForm" id="frm-app-menu">
  <div id="lyt-app-menu" class="layout vertical popup-menu">
    <phi-button
      (binding)="showDetails()"
      id="btn-menu-details"
      styleClass="hiddenForMobile"
      *ngIf="(!environment.appointmentMenu.showDetailsProcess || (environment.appointmentMenu.showDetailsProcess && editMode)) && !patientFromConversation"
      tooltip="{{'alt_btn-menu-details' | translate}}"
      ><i class="fa fa-info fa-2x"></i>{{'btn-menu-details' |
      translate}}</phi-button
    >
    <div id="lyt-app-menu-edit" class="layout vertical" *ngIf="editMode">
      <phi-button
        (binding)="select()"
        id="btn-menu-inject"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.select && !patientFromConversation"
        ><i class="fa fa-2x fa-hand-pointer-o"></i>{{'btn-menu-inject' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="edit()"
        id="btn-menu-edit"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.edit"
        [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss() || !isPlannedOrArrived() || grouperStatus || sdlCupOrCode || !hasClassCode() || isCupCtrl()"
        ><i class="fa fa-2x fa-pencil-square"></i>{{'btn-menu-edit' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="copy()"
        id="btn-menu-copy"
        styleClass="hiddenForMobile"
        [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss() || isGrouperNewOrCompleted() || sdlCupOrCode || !hasClassCode() || isCupCtrl()"
        ><i class="fa fa-2x fa-files-o"></i>{{'btn-menu-copy' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="move()"
        id="btn-menu-move"
        [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss() || !isPlanned() || sdlCupOrCode || isCupCtrl()"
        ><i class="fa fa-2x fa-arrows"></i>{{'btn-menu-move' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="endCycle()"
        id="btn-menu-end"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.endCycle  && !patientFromConversation"
        [disabled]="!AmbulatoryCalendarAction.isSuperUser() || !isGrouperActive() || sdlCupOrCode || isCupCtrl()"
        ><i class="fa fa-2x fa-stop-circle"></i>{{'btn-menu-end' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="history()"
        id="btn-menu-history"
        styleClass="hiddenForMobile"
        *ngIf="!hasPatient && environment.appointmentMenu.noteHistory && !patientFromConversation"
        [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !AmbulatoryCalendarAction.isProNurse() && !AmbulatoryCalendarAction.isObstetrician() && !AmbulatoryCalendarAction.isOss() || isGrouperNewOrCompleted() || sdlCupOrCode || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-history"></i>{{'btn-menu-history' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="generateReport()"
        id="btn-menu-genrep"
        styleClass="bg-color-lightblue hiddenForMobile"
        tooltip="{{'alt_btn-menu-genrep' | translate}}"
        *ngIf="isErogated() && sdlWaitingList  && !patientFromConversation"
        ><i class="fa fa-2x fa-file-pdf-o"></i>{{'btn-menu-genrep' |
        translate}}</phi-button
      >
    </div>
    <div
      id="lyt-app-menu-patient"
      class="layout vertical"
      *ngIf="hasPatient && !patientFromConversation"
    >
      <phi-button
        (binding)="arrived()"
        id="btn-menu-cnfrm"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-cnfrm' | translate}}"
        *ngIf="environment.appointmentMenu.arrived || editMode"
        [disabled]="!isPlanned() || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa app arrived"></i>{{'btn-menu-cnfrm' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="takeInCharge()"
        id="btn-menu-actv"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.takeInCharge && !editMode"
        [disabled]="!isAwaiting() || AmbulatoryCalendarAction.isRadiologist() || isCupCtrl()"
        ><i class="fa app active"></i>{{'btn-menu-actv' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="procedure()"
        id="btn-menu-prcdr"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.procedure && !editMode"
        [disabled]="!isActive() || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-cog"></i>{{'btn-menu-prcdr' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="registry()"
        id="btn-menu-rgrstry"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-rgrstry' | translate}}"
        *ngIf="environment.appointmentMenu.registry"
        [disabled]="AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-user"></i>{{'btn-menu-rgrstry' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="medicalHistory()"
        id="btn-menu-hstry"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-hstry' | translate}}"
        *ngIf="environment.appointmentMenu.history"
        [disabled]="(isAwaiting() && editMode) || isErogated() || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-file-text"></i>{{'btn-menu-hstry' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="episodeList()"
        id="btn-menu-epsd"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-epsd' | translate}}"
        *ngIf="environment.appointmentMenu.episodeList"
        [disabled]="AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-list"></i>{{'btn-menu-epsd' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="invoice()"
        id="btn-menu-nvc"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-nvc' | translate}}"
        *ngIf="environment.appointmentMenu.invoice"
        [disabled]="AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-eur"></i>{{'btn-menu-nvc' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="note()"
        id="btn-menu-note"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.note && !editMode"
        [disabled]="AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-comment-o"></i>{{'btn-menu-note' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="outpatientSummary()"
        id="btn-menu-smmry"
        styleClass="hiddenForMobile"
        *ngIf="environment.appointmentMenu.summary"
        [disabled]="isAwaiting() && editMode || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-list-alt"></i>{{'btn-menu-smmry' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="erogate()"
        id="btn-menu-ergt"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-ergt' | translate}}"
        *ngIf="environment.appointmentMenu.erogate"
        [disabled]="AmbulatoryCalendarAction.isReadOnly() || !isPlannedOrArrived() || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa app completed"></i>{{'btn-menu-ergt' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="report()"
        id="btn-menu-rfrt"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-rfrt' | translate}}"
        *ngIf="environment.appointmentMenu.report || !editMode"
        [disabled]="!AmbulatoryCalendarAction.reportingEnabled() && !(AmbulatoryCalendarAction.isOssNurse() && isOncology) || isCancelled()"
        ><i class="fa app reported"></i>{{'btn-menu-rfrt' |
        translate}}</phi-button
      >
      <phi-button
        (binding)="reopen()"
        id="btn-menu-reopen"
        styleClass="hiddenForMobile"
        tooltip="{{'alt_btn-menu-reopen' | translate}}"
        *ngIf="environment.appointmentMenu.reopen"
        [disabled]="!isErogated() || AmbulatoryCalendarAction.isRadiologist()"
        ><i class="fa fa-2x fa-folder-open"></i>{{'btn-menu-reopen' |
        translate}}</phi-button
      >
    </div>
    <phi-button
      (binding)="delete()"
      id="btn-menu-del"
      tooltip="{{'alt_btn-menu-del' | translate}}"
      [disabled]="isDeleteDisabled() || AmbulatoryCalendarAction.isRadiologist()"
      ><i class="fa app cancelled"></i>{{'btn-menu-del' |
      translate}}</phi-button
    >
    <phi-button
      (binding)="reputInWl()"
      id="btn-menu-wl"
      styleClass="hiddenForMobile"
      tooltip="{{'alt_btn-menu-wl' | translate}}"
      *ngIf="environment.appointmentMenu.reputInWl && !patientFromConversation"
      [disabled]="!AmbulatoryCalendarAction.isSuperUser() && !(AmbulatoryCalendarAction.isPsychologist() && isPsychoOncology) || !isPlanned() || !isGrouperPlanned() || AmbulatoryCalendarAction.isRadiologist()"
      ><i class="fa app planned"></i>{{'btn-menu-wl' | translate}}</phi-button
    >
    <phi-button
      (binding)="cancel()"
      id="btn-menu-ne"
      styleClass="hiddenForMobile"
      tooltip="{{'alt_btn-menu-ne' | translate}}"
      *ngIf="environment.appointmentMenu.cancel && !patientFromConversation"
      [disabled]="AmbulatoryCalendarAction.isReadOnly() || !isPlanned() || sdlCupOrCode || AmbulatoryCalendarAction.isRadiologist()"
      ><i class="fa app nullified"></i>{{'btn-menu-ne' | translate}}</phi-button
    >
  </div>
</form>
