#LytLoginErr span {
  font-weight: bold;
  color: #a94442;
  background-color: #f2dede;
  padding: 5px 10px;
  border: 1px solid #ebccd1;
  border-radius: 5px;
  margin: 5px;
}

/deep/ #LytLoginBtn {
  margin-top: 10px;
  button {
    background-color: white;
  }
}

/deep/ .widget-value {
  background-color: white;
}

.app-footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: end;
}
