<div id="LytLoginMain" class="layout vertical center fullHeightWidth">

  <div id="LytLoginLogo" class="layout horizontal customer-logo">
  </div>

  <div id="LytLoginInner" class="layout horizontal center">
    <router-outlet></router-outlet>
  </div>

  <div id="LytLoginErr" class="layout horizontal center">
    <span *ngFor="let error of errors">{{error}}</span>
  </div>

  <footer class="app-footer">
    <span>Powered by</span>
    <div class="phi-logo">
    </div>
    <span>© 2008 - 2021. All Rights Reserved.</span>
  </footer>
</div>
