//
// Variables
// --------------------------------------------------

/* COMMONS */

/*button*/
$font-awesome-buttons: false;
$iconColor: #000;
$iconHoverColor: #555;


/* GREY CONFIGURATION */

$primaryColor: #ccc;
$secondaryColor: #404851;
$tertiaryColor: #404851;

/*datagrid*/

$headerColor: #FFD248;
$headerTextColor: #000;
$headerBorderColor: #ccc;
$tableRowOdd: #eee;
$tableRowEven: #fff;
$tableRowHover:#ccc;
$tableRowSelected:  rgb(247, 230, 181);;

/*groupbox*/

$groupBoxBorder: 1px solid #404851;
$groupBoxBgColor: none; /*rgba(213, 122, 26, 0.1);*/
$groupBoxLegendBgColor:#404851;
$groupBoxLegendTextColor: #fff;

/*tabs*/

$tabTextColor: #000;
$tabBgColor: #ccc;
$tabTextColorDisabled: #000;
$tabBgColorDisabled: #eee;
$tabBorder: 3px solid #ccc;
$tabBackground: #fff;


/*$sidebarBackground: #fff;*/
$sidebarBackground: #fff;
$menuHighlightColor: #ccc;
$menuBackgroud: rgba(0, 0, 0, 0.15);

$logo: './customer/omega/logo.png';
$logoheight: 80px;
$logo-header: '../../../../../style/customer/omega/logo.png';
$loader: 3px solid #FFD248;
$loader1: 3px solid #FFD248; 
$loader2: 3px solid #bbb;
$loader3: 3px solid #404851;

