th, td {
  //padding: 0px 2px;
  //text-align: center;
}

.green { color: green; }
.blue { color: blue; }

.started { color: limegreen; }
.ended { color: red; }
.notstarted { color: #999999; }

#LayoutDrgPrscrbrBtnBarCenter /deep/ label{display:inline-block;}
