<form #form="ngForm" id="Form_1495011279022">
  <div id="LayoutDrgPrscrbr" class="layout vertical fullHeight">
    <div id="LayoutDrgPrscrbrBtnBar" class="layout horizontal" *ngIf="!copyMode">
      <phi-button (binding)="printReport()" id="ButtonDrgPrscrbrReport" styleClass="fa fa-file-pdf-o fa-2x" tooltip="{{'alt_ButtonDrgPrscrbrReport' | translate}}" [renderedEl]="!dischargeMode"></phi-button>
      <phi-button (binding)="startDischargeLetterProcess()" id="ButtonDrgPrscrbrDschrg" styleClass="fa fa-pencil-square-o fa-2x" tooltip="{{'alt_ButtonDrgPrscrbrDschrg' | translate}}" [renderedEl]="dischargeMode"></phi-button>
      <phi-button (binding)="openFavoriteTherapies()" id="ButtonDrgPrscrbr" styleClass="fa fa-plus fa-2x" tooltip="{{'alt_ButtonDrgPrscrbr' | translate}}"></phi-button>
      <phi-button (binding)="validateAllPrescription()" id="ButtonDrgPrscrbrValidate" styleClass="fa fa-check-square-o fa-2x" tooltip="{{'alt_ButtonDrgPrscrbrValidate' | translate}}" [renderedEl]="!dischargeMode"></phi-button>
      <phi-button (binding)="refresh()" id="ButtonDrgPrscrbrRefresh" styleClass="fa fa-refresh fa-2x" tooltip="{{'alt_ButtonDrgPrscrbrRefresh' | translate}}"></phi-button>
      <phi-button (binding)="vitalSign()" id="ButtonDrgPrscrbrVitalSign" styleClass="fa fa-heartbeat fa-2x" tooltip="{{'alt_ButtonDrgPrscrbrVitalSign' | translate}}" [renderedEl]="!dischargeMode"></phi-button>
      <phi-button (binding)="activateCopyMode()" id="ButtonDrgPrscrbrCopyMode" [renderedEl]="dischargeMode">{{'ButtonDrgPrscrbrCopyMode' | translate}}</phi-button>
      <div class="layout horizontal fillHeight">
      </div>
      <div class="lbl">
      <label>{{'label_LblDrgPrscrbrTotal' | translate}}</label>
      <span>{{PrescriptionList?.entities.length}}</span>
      </div>
      <phi-checkbox [(ngModel)]="showNew" name="showNew" id="ChkBxDrgPrscrbrToValidate" [widgetLabel]="'label_ChkBxDrgPrscrbrToValidate' | translate" (change)="filterPrescriptions()" style="padding:0px 10px;">{{newPrescriptions}}</phi-checkbox>
      <phi-checkbox [(ngModel)]="showActive" name="showActive" id="ChkBxDrgPrscrbrActive" [widgetLabel]="'label_ChkBxDrgPrscrbrActive' | translate" (change)="filterPrescriptions()" style="padding:0px 10px;">{{activePrescriptions}}</phi-checkbox>
      <phi-checkbox [(ngModel)]="showCompleted" name="showCompleted" id="ChkBxDrgPrscrbrEnded" [widgetLabel]="'label_ChkBxDrgPrscrbrEnded' | translate" (change)="filterPrescriptions()" style="padding:0px 10px;">{{completedPrescriptions}}</phi-checkbox>
      <div class="layout horizontal fillHeight">
      </div>
      <phi-button (binding)="searchPatient()" id="BtnDrgPrscrbrSearch" styleClass="fa fa-search fa-2x" tooltip="{{'alt_BtnDrgPrscrbrSearch' | translate}}"></phi-button>
      <phi-button (binding)="configFavoriteTherapies()" id="BtnDrgPrscrbrFavorite" styleClass="fa fa-cog fa-2x" tooltip="{{'alt_BtnDrgPrscrbrFavorite' | translate}}"></phi-button>
    </div>
    <div id="LayoutDrgPrscrbrCopy" class="layout horizontal fill" *ngIf="copyMode">
      <phi-button (binding)="selectAll()" id="ButtonDrgPrscrbrCopyAll">{{'ButtonDrgPrscrbrCopyAll' | translate}}</phi-button>
      <phi-button (binding)="copyToPrescriptionDischarge()" id="ButtonDrgPrscrbrCopy">{{'ButtonDrgPrscrbrCopy' | translate}}</phi-button>
      <phi-button (binding)="closeCopyMode()" id="ButtonDrgPrscrbrCopyClose">{{'ButtonDrgPrscrbrCopyClose' | translate}}</phi-button>
    </div>
    <div id="DgDrgPrscrbr" [phi-datagrid]="PrescriptionList" class="fillHeight">
      <thead class="tableHeader">
        <tr>
          <th *ngIf="copyMode" (click)="PrescriptionList?.orderBy('isSelected')"></th>
          <th *ngIf="!dischargeMode">{{'DcDrgPrscrbrStatus' | translate}}</th>
          <th>{{'DcDrgPrscrbrType' | translate}}</th>
          <th>{{'DcDrgPrscrbrPrescription' | translate}}</th>
          <th>{{'DcDrgPrscrbrRoute' | translate}}</th>
          <th>{{'DcDrgPrscrbrDose' | translate}}</th>
          <th *ngIf="!dischargeMode" (click)="PrescriptionList?.orderBy('startdate')">{{'DcDrgPrscrbrStart' | translate}} <i *ngIf="PrescriptionList?.sortColumn('startdate')" [class]="PrescriptionList.sortArrow"></i></th>
          <th *ngIf="dischargeMode" (click)="PrescriptionList?.orderBy('duration')">{{'DcDrgPrscrbrDuration' | translate}} <i *ngIf="PrescriptionList?.sortColumn('duration')" [class]="PrescriptionList.sortArrow"></i></th>
          <th *ngIf="!dischargeMode">{{'DcDrgPrscrbrDetails' | translate}}</th>
          <th>{{'DcDrgPrscrbrActions' | translate}}</th>
        </tr>
      </thead>
      <tbody class="selectable">
        <tr *ngFor="let Prescription of PrescriptionList?.entities; let i = index" [class.selRow]="selected(Prescription, 'Prescription')">
          <td *ngIf="copyMode">
            <phi-checkbox [(ngModel)]="Prescription.isSelected" [name]="'Prescription.isSelected'+i" id="ChkBxDrgPrscrbrSelect" [renderedEl]="Prescription.code == 'PHARMA' && !Prescription.extemporaneous"></phi-checkbox>
          </td>
          <td *ngIf="!dischargeMode">
            <span class="fa {{getStatusClass(Prescription.status)}}" title="{{Prescription.status | translate}}"></span>
          </td>
          <td class="{{Prescription.code}}">
            <span></span>
          </td>
          <td>
            <span class="c-text-bold" *ngFor="let row of Prescription.description?.split('\n')">{{row}}</span>
          </td>
          <td>
            <span>{{Prescription.route}}</span>
          </td>
          <td>
            <span>{{Prescription.quantity}}</span>
          </td>
          <td *ngIf="!dischargeMode">
		  	    <span [class] = "getClass(Prescription.startdate, Prescription.enddate)"  title="{{Prescription.startdate | dateFormat: 'short'}} - {{Prescription.enddate | dateFormat: 'short'}}">{{Prescription.startdate | dateFormat: 'shortDate'}} {{getDuration(Prescription.startdate, Prescription.enddate)}}</span>
          </td>
          <td *ngIf="dischargeMode">
            <span>{{Prescription.duration}}</span>
            <phi-link id="LnkDrgPrscrbrNote" styleClass="fa fa-file-text-o" [renderedEl]="Prescription.note"></phi-link>
          </td>
          <td *ngIf="!dischargeMode">
            <phi-link (binding)="showAdministrationHistory(Prescription)" id="LnkDrgPrscrbrHistory" styleClass="fa fa-history" tooltip="{{'alt_LnkDrgPrscrbrHistory' | translate}}"></phi-link>
            <phi-link id="LnkDrgPrscrbrCustom" styleClass="fa fa-file-text-o" [renderedEl]="Prescription.note" tooltip="{{Prescription.note}}"></phi-link>
            <phi-link id="LnkDrgPrscrbrFuture" styleClass="fa fa-calendar" tooltip="{{'alt_LnkDrgPrscrbrFuture' | translate}}" [renderedEl]="Prescription.modified"></phi-link>
          </td>
          <td>
            <phi-link (binding)="edit(Prescription)" id="LnkDrgPrscrbrEdit" styleClass="fa fa-edit" tooltip="{{Prescription.status == 'completed' ? ('alt_LnkDrgPrscrbrCopy' | translate) : ('alt_LnkDrgPrscrbrEdit' | translate)}}" [renderedEl]="Prescription.continuos!=1"></phi-link>
            <phi-link (binding)="validate(Prescription)" id="LnkDrgPrscrbrValidate" styleClass="fa fa-check-square-o" tooltip="{{'alt_LnkDrgPrscrbrValidate' | translate}}" [renderedEl]="Prescription.status=='new' && !dischargeMode"></phi-link>
            <phi-link (binding)="delete(Prescription)" id="LnkDrgPrscrbrDelete" styleClass="fa fa-trash-o" tooltip="{{'alt_LnkDrgPrscrbrDelete' | translate}}" [renderedEl]="Prescription.status=='new' || Prescription.status=='active'"></phi-link>
          </td>
      </tr>
      </tbody>
    </div>
  </div>
</form>
