<form #form="ngForm" id="FrmSbstncAdmnstrtn">
  <h1>{{'FrmSbstncAdmnstrtn' | translate}}</h1>
  <div id="LytSbstncAdmnstrtn" class="layout vertical">
    <div id="DgSbstncAdmnstrtn" [phi-datagrid]="ErogationHistoryList">
      <thead class="tableHeader">
        <tr>
          <th>{{'DcSbstncAdmnstrtnStatus' | translate}}</th>
          <th (click)="ErogationHistoryList?.orderBy('planneddate')">{{'DcSbstncAdmnstrtnPlannedDate' | translate}} <i *ngIf="ErogationHistoryList?.sortColumn('planneddate')" [class]="ErogationHistoryList.sortArrow"></i></th>
          <th>{{'DcSbstncAdmnstrtnPlannedTime' | translate}}</th>
          <th (click)="ErogationHistoryList?.orderBy('erogationdate')">{{'DcSbstncAdmnstrtnErogationDate' | translate}} <i *ngIf="ErogationHistoryList?.sortColumn('erogationdate')" [class]="ErogationHistoryList.sortArrow"></i></th>
          <th>{{'DcSbstncAdmnstrtnErogationTime' | translate}}</th>
          <th (click)="ErogationHistoryList?.orderBy('infusionenddate')">{{'DcSbstncAdmnstrtnEndDate' | translate}} <i *ngIf="ErogationHistoryList?.sortColumn('infusionenddate')" [class]="ErogationHistoryList.sortArrow"></i></th>
          <th>{{'DcSbstncAdmnstrtnAuthor' | translate}}</th>
          <th>{{'DcSbstncAdmnstrtnNote' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Erogation of ErogationHistoryList?.entities; let i = index">
          <td>
            <span class="fa {{erogationStatus.getStatusClass(Erogation)}}"></span>
          </td>
          <td>
            <span>{{Erogation.planneddate | dateFormat: 'short'}}</span>
          </td>
          <td>
            <span>{{Erogation.plannedtime}}</span>
          </td>
          <td>
            <span>{{Erogation.erogationdate | dateFormat: 'short'}}</span>
          </td>
          <td>
            <span>{{Erogation.erogationtime}}</span>
          </td>
          <td>
            <span>{{Erogation.infusionenddate | dateFormat: 'short'}}</span>
          </td>
          <td>
            <span>{{Erogation.author}}</span>
          </td>
          <td>
            <span>{{Erogation.note}}</span>
          </td>
      </tr>
      </tbody>
    </div>
  </div>
</form>
