<form #form="ngForm" id="FormAdtCancel">
  <div id="LytAdtCancel" class="layout vertical">
    <phi-textarea [(ngModel)]="cancellationNote" name="cancellationNote" id="TxtAdtCancelMotivation" [widgetLabel]="'label_TxtAdtCancelMotivation' | translate"></phi-textarea>
    <div id="LytAdtCancelBtns" class="layout horizontal space-between">
      <phi-buttoncancel (binding)="handleClose()" id="btnAdtCancel"></phi-buttoncancel>
      <phi-buttoncheck (binding)="handleOk()" id="btnAdtCancelOk"></phi-buttoncheck>
    </div>
  </div>
</form>
