<div id="loader" class="overlay-loading zIndexFront" style="display: none;"> <!--used in process loading-->
  <div class="spinner">
    <div class="loader" id="loader"></div>
    <div class="loader" id="loader2"></div>
    <div class="loader" id="loader3"></div>
    <div class="loader" id="loader4"></div>
  </div>
</div>

<div id="ng-loader" class="overlay-loading zIndexFront" *ngIf="httpService.loading">
  <div class="spinner">
    <div class="loader" id="loader"></div>
    <div class="loader" id="loader2"></div>
    <div class="loader" id="loader3"></div>
    <div class="loader" id="loader4"></div>
  </div>
</div>
