th, td {
  color: black !important;
  padding: 0px 5px;
}

th:first-child {
  min-width: 150px;
}

th:not(:first-child):not(:last-child) {
  text-align: center;
  width: 15px;
}

th:last-child {
  width: 50px;
  background-color: #fff !important;
}

.OS {
  th { background-color: #6DF0F2; }
}
.IMU {
  th { background-color: #91F26D; }
}
.EV {
  th { background-color: #FA9D9D; }
}
.various {
  th { background-color: #6DB4F2; }
}

/deep/ .wrong-model label {
  padding: 0px 2px;
  background-color: red;
}

/deep/ #lyt-prs-smp {
  input, button {
    height: unset;
  }
}
