<form #form="ngForm" id="frm-prs-smp">
  <div id="lyt-prs-smp" class="layout vertical">
    <div id="dg-oral-trp" [phi-datagrid]="PrescriptionSimpleList" [class]="route">
      <thead class="tableHeader">
        <tr>
          <th (click)="PrescriptionSimpleList?.orderBy('description')"><span *ngIf="route!=='various'">{{'dgc-prs-smp-desc' | translate}}</span>{{route | translate}}<i *ngIf="PrescriptionSimpleList?.sortColumn('description')" [class]="PrescriptionSimpleList.sortArrow"></i></th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration2')">2</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration4')">4</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration6')">6</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration8')">8</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration10')">10</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration12')">12</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration14')">14</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration16')">16</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration18')">18</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration20')">20</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration22')">22</th>
          <th (click)="PrescriptionSimpleList?.orderBy('administration24')">24</th>
          <th><phi-buttonadd (binding)="add()" id="btn-prs-smp-add" [disabled]="!issuperuser" ></phi-buttonadd></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PrescriptionSimple of PrescriptionSimpleList?.entities; let i = index; trackBy:trackByFn">
          <td>
            <phi-textbox [(ngModel)]="PrescriptionSimple.description" [name]="'PrescriptionSimple.description'+i" id="txt-prs-smp-desc" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-textbox>
          </td>
          <td [class.wrong-model]="limitedSchedule && PrescriptionSimple.administration2">
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration2" [name]="'PrescriptionSimple.administration2'+i" id="CheckBox_1515490317698" [disabled]="limitedSchedule || !issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)" *ngIf="!limitedSchedule || (limitedSchedule && PrescriptionSimple.administration2)" ></phi-checkbox>
          </td>
          <td [class.wrong-model]="limitedSchedule && PrescriptionSimple.administration4">
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration4" [name]="'PrescriptionSimple.administration4'+i" id="CheckBox_1515490319738" [disabled]="limitedSchedule || !issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)" *ngIf="!limitedSchedule || (limitedSchedule && PrescriptionSimple.administration4)"></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration6" [name]="'PrescriptionSimple.administration6'+i" id="CheckBox_1515490321457" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration8" [name]="'PrescriptionSimple.administration8'+i" id="CheckBox_1515490323170" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td [class.wrong-model]="limitedSchedule && PrescriptionSimple.administration10">
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration10" [name]="'PrescriptionSimple.administration10'+i" id="CheckBox_1515490324667" [disabled]="limitedSchedule || !issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)" *ngIf="!limitedSchedule || (limitedSchedule && PrescriptionSimple.administration10)" ></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration12" [name]="'PrescriptionSimple.administration12'+i" id="CheckBox_1515490326273" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration14" [name]="'PrescriptionSimple.administration14'+i" id="CheckBox_1515490327697" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration16" [name]="'PrescriptionSimple.administration16'+i" id="CheckBox_1515490328994" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration18" [name]="'PrescriptionSimple.administration18'+i" id="CheckBox_1515490330209" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration20" [name]="'PrescriptionSimple.administration20'+i" id="CheckBox_1515490331545" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td [class.wrong-model]="limitedSchedule && PrescriptionSimple.administration22">
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration22" [name]="'PrescriptionSimple.administration22'+i" id="CheckBox_1515490334906" [disabled]="limitedSchedule || !issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)" *ngIf="!limitedSchedule || (limitedSchedule && PrescriptionSimple.administration22)" ></phi-checkbox>
          </td>
          <td>
            <phi-checkbox [(ngModel)]="PrescriptionSimple.administration24" [name]="'PrescriptionSimple.administration24'+i" id="CheckBox_1515490336810" [disabled]="!issuperuser" (change)="onChangeCallback(PrescriptionSimpleList)"></phi-checkbox>
          </td>
          <td>
            <phi-buttoncancel (binding)="remove(i)"  id="btn-prs-smp-remove" [disabled]="!issuperuser"></phi-buttoncancel>
          </td>
      </tr>
      </tbody>
    </div>
  </div>
</form>
