//
// Variables
// --------------------------------------------------


/* COMMONS */

/*button*/
$font-awesome-buttons: false;
$iconColor: #000;
$iconHoverColor: #555;


/* GREY CONFIGURATION */

$primaryColor: #ccc;
$secondaryColor: #8E111F;
$tertiaryColor: #ccc;

/*datagrid*/

$headerColor: #ddd;
$headerTextColor: #000;
$headerBorderColor: #ccc;
$tableRowOdd: #eee;
$tableRowEven: #fff;
$tableRowHover: #c8c9ca;
$tableRowSelected:  rgb(245, 217, 217);

/*groupbox*/

$groupBoxBorder: 1px solid #8E111F;
$groupBoxBgColor: none;
$groupBoxLegendBgColor: #8E111F;
$groupBoxLegendTextColor: #fff;

/*tabs*/

$tabTextColor: #fff;
$tabBgColor: #8E111F;
$tabTextColorDisabled: #000;
$tabBgColorDisabled: #B9BABC;
$tabBorder: 1px solid #8E111F;
$tabBackground: #fff;

$sidebarBackground: #fff;
$menuHighlightColor: #ccc;
$menuBackgroud: rgba(0, 0, 0, 0.15);


$logo: './customer/kronplatz/logo.png';
$logoheight: 132px;
$logo-header: '../../../../../style/customer/kronplatz/logo.png';
$loader: 1px solid #000;
$loader1: 2px solid #8E111F; 
$loader2: 2px solid #8E111F;
$loader3: 3px solid #B9BABC;

@media only screen and (max-width: 405px) {
    /deep/ .hiddenNavigation {
      display: none;
    }
  }
  
  @media only screen and (max-width: 865px) {
    /deep/ .hiddenForMobile {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 1035px) {
    /deep/ .hiddenToday {
      display: none;
    }
  }
  