@import 'variables';

/deep/ .nanda::after { content: "N"}

/deep/ #LayoutDiagnosisHeader .phi-widget button {
  background-color: white;
}

/deep/ #LayoutObjectivesHeader .phi-widget button {
  background-color: white;
}

/deep/ #LayoutActivitiesHeader .phi-widget button {
  background-color: white;
}

.tableHeader {color: $headerTextColor;background-color: $headerColor;width:100%;
  font-weight: 600;
  //padding:10px;
  position: sticky;
  div {
    align-items: center;
  }
}

.tableHeaderMini {color: #f0eeeb;background-color: #f0eeeb;width:100%;
  padding: 5px;
  position: sticky;
  div {
    align-items: center;
  }
}

#LytCarePlanListContainer > div:nth-of-type(odd),
#LayoutObjectivesRow > div:nth-of-type(odd),
#LayoutActivitiesRow > div:nth-of-type(odd),
#PanelAllActivity > div:nth-of-type(odd) {
// .row > div:nth-of-type(odd) {
  background: $tableRowEven;
}

#LytCarePlanListContainer > div:nth-of-type(even),
#LayoutObjectivesRow > div:nth-of-type(even),
#LayoutActivitiesRow > div:nth-of-type(even),
#PanelAllActivity > div:nth-of-type(even) {
  // .row > div:nth-of-type(odd) {
  background: #f0eeeb;
}

#LayoutObjectivesRow > div:first-child,
#LayoutActivitiesRow > div:first-child {
  // .row > div:nth-of-type(odd) {
  background: transparent;
}

#LytActivityLft, #LytActivityRght { width:50%; padding:5px; }

.column-active 	{ background-color: limegreen; width: 10px;}
.column-cancelled { background:red; width: 10px;}
.column-modified { background:orange; width: 10px;}
.column-completed { background:grey; width: 10px;}

.active 	{ color: limegreen; }
.cancelled { color:red; }
.modified { color:orange; }

.rowbox {
  border: 1px solid #E1E1E1;
}

label {
  display: inline;
  margin-right: 3px;
}

.layout-40 {
  float: left;
  width: 40%;
}

.layout-50 {
  float: left;
  width: 50%;
}

.layout-60 {
  float: left;
  width: 60%;
}

.smaller {
  font-size: smaller; 
}