//
// Variables
// --------------------------------------------------

/* COMMONS */

/*button*/
$font-awesome-buttons: false;
$iconColor: #000;
$iconHoverColor: #555;


/* GREY CONFIGURATION */

$primaryColor: #ccc;
$secondaryColor: #CC1619;
$tertiaryColor: #ccc;

/*datagrid*/

$headerColor: #ddd;
$headerTextColor: #000;
$headerBorderColor: #ccc;
$tableRowOdd: #eee;
$tableRowEven: #fff;
$tableRowHover: #c8c9ca;
$tableRowSelected:  rgb(243, 223, 223);

/*groupbox*/

$groupBoxBorder: 1px solid #CC1619;
$groupBoxBgColor: none;
$groupBoxLegendBgColor: #CC1619;
$groupBoxLegendTextColor: #fff;

/*tabs*/

$tabTextColor: #fff;
$tabBgColor: #CC1619;
$tabTextColorDisabled: #000;
$tabBgColorDisabled: #eee;
$tabBorder: 1px solid #CC1619;
$tabBackground: #fff;

$sidebarBackground: #fff;
$menuHighlightColor: #ccc;
$menuBackgroud: rgba(0, 0, 0, 0.15);

$logo: './customer/dsc/logo.png';
$logoheight: 132px;
$logo-header: '../../../../../style/customer/dsc/logo.png';
$loader: 3px solid #808080;
$loader1: 3px solid #CC1619;
$loader2: 3px solid #b2b2b2; 
$loader3: 3px solid #404851;

