@import 'variables';

.ps {
  &.RED { color: red; }
  &.YELLOW { color: yellow; }
  &.GREEN { color: green; }
  &.WHITE { color: white; -webkit-text-stroke: 1px black; }
  &.BLACK { color: black; }
  &.BLUE { color: blue; }
  &.AZURE { color: cyan; }
  &.ORANGE { color: orange; }
}

.suspended { color: grey }
