  <div id="Banner" class="layout horizontal {{Banner.managementClass}}" *ngIf="Patient">
    <div id="BannerIcons" class="layout horizontal">
    	<div>
        <div class="content iconstyle">
          <span id="LnkManagementType" [class]="'fa fa-3x ' + getManagementType() + ' ' +  getManagementColor()" (click)="editPatientNote($event)" title={{getManagementTooltip()}}></span>
          <span class="title">{{getManagementTypeDescription()}}</span>
        </div>
      </div>

      <div *ngIf="environment.banner.showAllergy" [class]="getAllergy()"  >
        <div class="content iconstyle">
          <span id="LnkAllergy" class="fa fa-exclamation-triangle fa-3x" title={{Banner.allergyToolTip}}></span>
          <span class="title">{{'label_BannerAllergy' | translate}}</span>
        </div>
      </div>

      <div *ngIf="environment.banner.showCVC" [class]="getCVC()"  >
        <div class="contentCVC iconstyle">
          <span id="LnkCVC" class="fa fa-medkit fa-3x" title={{Banner.cvcToolTip}}></span>
          <span class="title">{{'label_BannerCVC' | translate}}</span>
        </div>
      </div>

      <div  *ngIf="getDiet() !== 'undefined_diet'"  [class]="getDiet()">
          <div class="content iconstyle">
            <span id="LnkDiet" class="fa fa-cutlery fa-3x" title={{Banner.dietToolTip}}></span>
            <span class="title">{{'label_BannerDiet' | translate}}</span>
          </div>
      </div>

      <div *ngIf="(getIsolation() !== 'undefined_isolation') && isolationvis"  [class]="getIsolation()">
        <div class="contentIso iconstyle">
          <span id="LnkIsolation" class="fa fa-flag fa-3x" title={{Banner.isolationToolTip}}></span>
          <span class="title">{{'label_BannerIsolation' | translate}}</span>
        </div>
      </div>
    </div>

    <div id="BannerDetails" class="layout horizontal">
      <div id="LytPtnt" class="layout vertical">
        <div class="lbl">
          <label></label>
          <span style="font-size:150%; font-weight: bold; cursor: pointer; " (click)="startProcess($event)">{{Patient.name?.fam}} {{Patient.name?.giv}}
            <i (click)="openDetails($event)" class="fa fa-info-circle"></i>
          </span>
          <span style="font-weight: bold;" *ngIf="environment.banner.showExtraInfo">({{Patient.internalId}})</span>  
          <span title="IE Repository" *ngIf="environment.banner.ieRepositoryViewer && Param['p.ie.repository.use']?.visible && PatientEncounter" style="font-size:150%; font-weight: bold; cursor: pointer;"><i (click)="openIeRepository()" class="fa fa-file-pdf-o"></i></span>
          <span title="Entità gestita da altro utente" *ngIf="PatientAction.isLocked()" class="fa fa-exclamation-triangle lockedEntity" style="font-size: 150%;color: white;"></span>
        </div>
        <div class="lbl">
          <label>{{'label_BannerPtntBrthTm' | translate}}</label>
          <span>{{Patient.birthTime | dateFormat: 'shortDate'}} ({{Banner.patientAge}})</span>
        </div>
        <div class="lbl">
          <label>{{'label_BannerPtntGndr' | translate}}</label>
          <span>{{gender}}</span>
          <label *ngIf="Patient.telecom">{{'label_BannerPtntTel' | translate}}</label>
          <span>{{Patient.telecom?.hp}}  {{Patient.telecom?.mc}}</span>
        </div>
    </div>
    <div id="LytPtnt3" class="layout vertical align-central-column" *ngIf="environment.banner.showExtraInfo">
      <div class="lbl" (click)="editPatientNote($event)">
        <label>{{'DcAdtNote' | translate}}</label>
        <span>{{Banner['PatientNote']?.text?.string}}</span>       
      </div>   
      <div class="lbl" *ngIf="Patient.fiscalCode">
        <label>{{'label_BannerFiscalCode' | translate}}</label>
        <span>{{Patient.fiscalCode}}</span>       
      </div>
      <div class="lbl" *ngIf="Patient.doctor">
          <label>Mmg</label>
          <span>{{Patient.doctor.name?.giv}}</span>
        </div>
      <div class="lbl" *ngIf="Patient.addr">
        <label>{{'label_BannerPtntAddr' | translate}}</label>
        <span>{{Patient.addr.str}} {{Patient.addr.stb}} {{Patient.addr.bnr}} {{Patient.addr.zip}} {{Patient.addr.cty ? Patient.addr.cty : Patient.addr.cnt}} {{Patient.addr.cpa}} {{Patient.addr.cty && Patient.addr.cnt ? Patient.addr.cnt : ''}}</span>
      </div>      
  </div>
      <div id="LytPtnt2" class="layout vertical">
        <div class="lbl" *ngIf="environment.banner.showLanguage && Patient.language">
          <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
          <span>{{Patient.language.currentTranslation}}</span>
        </div>
        <div class="lbl" *ngIf="environment.banner.showConsent">
          <i class="fa fa-lock fa-2x"
             [class.fa-unlock] = "consent"></i>
        </div>
        <div *ngIf="privacyvis && Banner.privacy !== null && Banner.privacy !== undefined"  (click)="openPrivacy()" [class]="getPrivacyColor()" style=" cursor: pointer; ">
              <i  style="display:inline-block;"  [class]="'fa ' + privacyIcon(Banner.privacy) + ' '+ getPrivacyColor()" [title]="Banner.privacyTooltip"></i>
        </div>
      </div>
      <div id="LytWard" class="layout vertical" *ngIf="environment.banner.showEncounter && PatientEncounter">
        <div class="lbl" *ngIf="PatientEncounter && PatientEncounter.visitNumber">
          <label>{{'label_BannerNosologic' | translate}}</label>
          <span>{{PatientEncounter.visitNumber.extension}}</span>
        </div>
        <div class="lbl" *ngIf="Banner.DischargeDate">
          <label>{{'label_BannerDischargeDate' | translate}}</label>
          <span>{{Banner.DischargeDate | dateFormat: 'shortDate'}}</span>
        </div>
        <div class="lbl" *ngIf="Banner.RecoveryDays">
          <label>{{'label_BannerRecoveryDays' | translate}}</label>
          <span>{{Banner.RecoveryDays}}</span>
        </div>
      </div>
      <div id="removeBtn" *ngIf="isPortal">
        <i class="fa fa-times-circle" (click)="ejectPatient()"></i>
      </div>
    </div>
  </div>
