//#lyt-drg-prs-smp {
//  justify-content: center;
//}
//
#lyt-drg-prs-smp > div {
  max-width: 1000px;
}

#lyt-drg-prs-smp-hdr {
  background-color: #B0FFC4;
  margin-bottom: 1rem;
  font-weight: 600;
}

.somethingChanged {
  background-color: #FFB0B0 !important;
}

/deep/ #lyt-drg-prs-smp-main input[type=text] {
  width:100%;
}

#lyt-drg-prs-smp-ftr {
  justify-content: space-around;
  flex-wrap: wrap;
}

/deep/ #txta-drg-prs-smp-note label {
  background-color: #FAF89D;
}
