<form #form="ngForm" id="frm-drg-prs-smp">
  <!--div id="lyt-drg-prs-smp" class="layout horizontal center"-->
    <div id="lyt-drg-prs-smp-cntr" class="layout vertical">
      <div id="lyt-drg-prs-smp-hdr" class="layout horizontal center" [class.somethingChanged]="somethingChanged">
        <div class="lbl" *ngIf="!somethingChanged">
        <span>{{'lbl-drg-prs-smp-hdr' | translate}} {{TherapySimple.editDate | dateFormat: 'short'}}</span>
        </div>
        <div class="lbl" *ngIf="somethingChanged">
        <span>{{'lbl-drg-prs-smp-hdr-chngd' | translate}}</span>
        </div>
      </div>
      <div id="lyt-drg-prs-smp-main" class="layout vertical">
        <phi-prescription-simple-edit [(ngModel)]="PrescriptionOral" name="PrescriptionOral" [issuperuser]="issuperuser" [limitedSchedule]="limitedSchedule" route="OS"></phi-prescription-simple-edit>
        <phi-prescription-simple-edit [(ngModel)]="PrescriptionIntraSub" name="PrescriptionIntraSub"  [issuperuser]="issuperuser" [limitedSchedule]="limitedSchedule" route="IMU"></phi-prescription-simple-edit>
        <phi-prescription-simple-edit [(ngModel)]="PrescriptionEndo" name="PrescriptionEndo"  [issuperuser]="issuperuser" [limitedSchedule]="limitedSchedule" route="EV"></phi-prescription-simple-edit>
        <phi-prescription-simple-edit [(ngModel)]="PrescriptionVarious" name="PrescriptionVarious"  [issuperuser]="issuperuser" [limitedSchedule]="limitedSchedule" route="various"></phi-prescription-simple-edit>
        <phi-textarea [(ngModel)]="TherapySimple.note" name="TherapySimple.note" id="txta-drg-prs-smp-note" [disabled]="!issuperuser"> [widgetLabel]="'label_txta-drg-prs-smp-note' | translate"></phi-textarea>
        <div id="lyt-drg-prs-smp-ftr" class="layout horizontal">
          <phi-button (binding)="cancel()" id="btn-drg-prs-smp-cancel" [disabled]="!issuperuser">{{'btn-drg-prs-smp-cancel' | translate}}</phi-button>
          <phi-button (binding)="save()" id="btn-drg-prs-smp-save" [disabled]="!issuperuser">{{'btn-drg-prs-smp-save' | translate}}</phi-button>
          <phi-button (binding)="printSimple()" id="btn-drg-prs-smp-print" [renderedEl]="limitedSchedule" [disabled]="!TherapySimple.internalId">{{'btn-drg-prs-smp-print' | translate}}</phi-button>
          <phi-button (binding)="printUtic()" id="btn-drg-prs-smp-print2" [renderedEl]="!limitedSchedule" [disabled]="!TherapySimple.internalId">{{'btn-drg-prs-smp-print2' | translate}}</phi-button>
        </div>
      </div>
    </div>
  <!--/div-->
</form>
