<form #form="ngForm" id="poc">
  <div id="poc" class="layout vertical fullHeight">
    <div id="poc-main" class="layout horizontal fillHeight">
      <div phi-tabbedpanel #poc>
        <ul class="tab-nav">
          <li>
            <a class="button" [class.activetab]="poc.selectedTabIndex == 0" (click)="poc.ie(null, 0)">{{'poc-multichannel' | translate}}</a>
          </li>
          <li>
            <a class="button" [class.activetab]="poc.selectedTabIndex == 1" (click)="poc.ie(null, 1)">{{'poc-diary' | translate}}</a>
          </li>
          <li>
            <a class="button" [class.activetab]="poc.selectedTabIndex == 2" (click)="poc.ie(null, 2)">{{'poc-measures' | translate}}</a>
          </li>
          <li>
            <a class="button" [class.activetab]="poc.selectedTabIndex == 3" (click)="poc.ie(null, 3)">{{'poc-measure' | translate}}</a>
          </li>
        </ul>
        <div class="tab-content">
        <div id="poc-multichannel" class="layout horizontal fullHeight" *ngIf="poc.selectedTabIndex == 0">
          <div id="multichannel-graph" class="layout horizontal fillHeight fixIeGraphWidth">
            <canvas baseChart width="100%"
	[datasets]="multichannelChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptionsCustomRatio"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
          </div>
          <div id="multichannel-options" class="layout vertical">
            <div id="multichannel-select-all" class="layout horizontal">
              <phi-button (binding)="onMultichannelSelectAll()" id="btn-multichannel-all">{{'btn-multichannel-all' | translate}}</phi-button>
              <phi-button (binding)="onMultichannelDeselectAll()" id="btn-multichannel-none">{{'btn-multichannel-none' | translate}}</phi-button>
            </div>
            <phi-groupcheckbox [(ngModel)]="selectedMultichannel" name="selectedMultichannel" id="multichannel-select" [listElementsExpression]="measureType" (change)="multichannelMeasureChanged($event)" layout="vertical"></phi-groupcheckbox>
          </div>
        </div>
        <div id="poc-diary" class="layout vertical" *ngIf="poc.selectedTabIndex == 1">
          <div id="diary-item" class="layout vertical row" *ngFor="let ClinicalDiary of ClinicalDiaryList?.entities">
            <div id="diary-item-header" class="layout horizontal fill">
              <div class="lbl">
              <span>{{ClinicalDiary.author.name.fam + ' ' + ClinicalDiary.author.name.giv}}</span>
              </div>
              <div id="diary-item-spacer" class="layout horizontal">
              </div>
              <div class="lbl">
              <span>{{ClinicalDiary.availabilityTime | dateFormat: 'short'}}</span>
              </div>
            </div>
            <div class="lbl">
            <span [innerHTML]="ClinicalDiary.text"></span>
            </div>
          </div>
        </div>
        <div id="poc-measures" class="layout horizontal" *ngIf="poc.selectedTabIndex == 2">
          <div id="graphs" class="layout vertical fillHeight">
            <div id="lyt-pa" class="layout horizontal" *ngIf="showMeasure('PA')">
              <canvas baseChart width="100%"
	[datasets]="paChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-spo2" class="layout horizontal" *ngIf="showMeasure('SPO2')">
              <canvas baseChart width="100%"
	[datasets]="spo2ChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-fc" class="layout horizontal" *ngIf="showMeasure('FC')">
              <canvas baseChart width="100%"
	[datasets]="fcChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-t" class="layout horizontal" *ngIf="showMeasure('T')">
              <canvas baseChart width="100%"
	[datasets]="tChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-glc" class="layout horizontal" *ngIf="showMeasure('DLC')">
              <canvas baseChart width="100%"
	[datasets]="dlcChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-diuresi" class="layout horizontal" *ngIf="showMeasure('DIURESIS')">
              <canvas baseChart width="100%"
	[datasets]="diuresisChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-dolore" class="layout horizontal" *ngIf="showMeasure('PAIN')">
              <canvas baseChart width="100%"
	[datasets]="painChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-peso" class="layout horizontal" *ngIf="showMeasure('WEIGHT')">
              <canvas baseChart width="100%"
	[datasets]="weightChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
            <div id="lyt-altezza" class="layout horizontal" *ngIf="showMeasure('HEIGHT')">
              <canvas baseChart width="100%"
	[datasets]="heightChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div id="measures-options" class="layout vertical">
            <div id="measures-select-all" class="layout horizontal">
              <phi-button (binding)="onSelectAll()" id="btn-measures-all">{{'btn-measures-all' | translate}}</phi-button>
              <phi-button (binding)="onDeselectAll()" id="btn-measures-none">{{'btn-measures-none' | translate}}</phi-button>
            </div>
            <phi-groupcheckbox [(ngModel)]="selectedMeasures" name="selectedMeasures" id="measures-select" [listElementsExpression]="measureType" layout="vertical" (change)="measuresChanged($event)"></phi-groupcheckbox>
          </div>
        </div>
        <div id="poc-measure" class="layout horizontal fullHeight" *ngIf="poc.selectedTabIndex == 3">
          <div id="single-graph" class="layout vertical fillHeight">
            <canvas baseChart width="100%"
	[datasets]="singleLineChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptionsCustomRatio"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
          </div>
          <div id="measure-options" class="layout vertical">
            <phi-radiogroup [(ngModel)]="selectedSingleMeasure" name="selectedSingleMeasure" id="measure-select" [listElementsExpression]="measureType" (change)="singleMeasureChanged($event)" layout="vertical"></phi-radiogroup>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="poc-footer" class="layout horizontal fill">
      <phi-monthcalendar [(ngModel)]="startDate" name="startDate" id="start-date"></phi-monthcalendar>
      <div id="lyt-slider" class="layout horizontal">
        <phi-slider [(ngModel)]="from" name="from" id="poc-slider" styleClass="fullWidth" converter="Date Time Converter" [range]="true" [highValue]="to.getTime()" (mouseup)="readVitalSign($event)" step="86400000" [showBounds]="false" [minimum]="startDate?.getTime()" [maximum]="endDate?.getTime()"></phi-slider>
      </div>
      <phi-monthcalendar [(ngModel)]="endDate" name="endDate" id="end-date"></phi-monthcalendar>
    </div>
  </div>
</form>
