<form #form="ngForm" id="FrmNrsActvtyErgted">
  <h1>{{'FrmNrsActvtyErgted' | translate}}</h1>
  <div id="LayoutRow_1505288355051" class="layout vertical">
    <div class="lbl bold" style="padding-bottom: 10px;">
    <span>{{NurseActivity.description}}</span>
    </div>
    <div class="lbl" style="padding-bottom: 10px;">
    <span>{{NurseActivity.statusTranslated}}</span>
    </div>
    <div class="lbl smaller">
    <label class="labelinline">{{'label_LblActvtyErgtedAuthor' | translate}}</label>
    <span>{{LEPExecution.lepActivity.author.name.fam + ' ' + LEPExecution.lepActivity.author.name.giv}}</span>
    </div>
    <div class="lbl smaller">
    <label class="labelinline">{{'label_LblActvtyErgtedPlnndDt' | translate}}</label>
    <span>{{NurseActivity.planneddate | dateFormat: 'short'}}</span>
    </div>
    <div class="lbl smaller">
    <label class="labelinline">{{'label_LblActvtyErgtedExctnDt' | translate}}</label>
    <span>{{LEPExecution.executionDate.low | dateFormat: 'short'}}</span>
    </div>
    <div class="lbl smaller">
    <label class="labelinline">{{'label_LblActvtyErgtedInsrtDt' | translate}}</label>
    <span>{{LEPExecution.availabilityTime | dateFormat: 'short'}}</span>
    </div>
    <div class="lbl smaller">
    <label class="labelinline">{{'label_LblActvtyErgtedNote' | translate}}</label>
    <span>{{LEPExecution.note}}</span>
    </div>
  </div>
</form>
