<form #form="ngForm" id="FrmLepActivity">
  <div id="LytLepActivity" class="layout vertical">
  	<div class="layout horizontal">
	  <h1>{{'FrmLepActivity' | translate}}</h1>
  	</div>
    <div id="LytLepActivityBtns" class="layout horizontal fill">
      <div id="LytLepActivityBtnsL" class="layout horizontal">
        <div class="lbl">
        <label>{{'label_LblLepActivityManual' | translate}}</label>
        <span></span>
        </div>
      </div>
      <div id="LytLepActivityBtnsR" class="layout horizontal end">
        <div class="lbl">
        <span></span>
        </div>
      </div>
    </div>
    <div id="LytLepActivityMain" class="layout horizontal fill">
      <div id="LytLepActivityTree" class="layout vertical">
        <phi-radiogroup id="RdGrpLepActivityTree" [listElementsExpression]="getAllOrFavorites()" (change)="typeChanged($event.value)"></phi-radiogroup>
        <div id="LytLepActivityTreeSearch" class="layout horizontal">
          <phi-textbox [(ngModel)]="DictionaryManager.searchByName['NANDA:K630119']" name="DictionaryManager.searchByName['NANDA:K630119']" id="TxtLepActivityTreeSearch"></phi-textbox>
          <phi-buttonsearch (binding)="search()" id="BtnSearchLepActivityTree"></phi-buttonsearch>
        </div>
        <phi-tree [(ngModel)]="LEPActivity.nandaLep" name="LEPActivity.nandaLep" [listElementsExpression]="DictionaryManager.searchResults['NANDA:K630119']" styleClass="max-height-600" [required]="true" [selectOnlyLeaves]="true" [hide]="3"></phi-tree>
      </div>
      <div id="LytLepActivityDetails" class="layout vertical">
        <div class="lbl">
        <label>{{'label_LblLepActivityDesc' | translate}}</label>
        <span>{{LEPActivity.nandaLep?.langIt}}</span>
        </div>
        <phi-monthcalendar [(ngModel)]="LEPActivity.effectiveDate.low" name="LEPActivity.effectiveDate.low" id="lep-activity-effectiveDate" [widgetLabel]="'label_lep-activity-effectiveDate' | translate" dateTimeFormat="Date and Time"></phi-monthcalendar>
        <!--<phi-textbox [(ngModel)]="LEPActivity.timeSpent" name="LEPActivity.timeSpent" id="lep-activity-timeSpent" [widgetLabel]="'label_lep-activity-timeSpent' | translate" converter="Integer Converter" minimum="1" maximum="60"></phi-textbox>-->
        <phi-combobox [(ngModel)]="LEPActivity.responsibleRole" name="LEPActivity.responsibleRole" id="ComboBox_1504874008257" [widgetLabel]="'label_ComboBox_1504874008257' | translate" domain="ROLES:EmployeeFunction:10,12,21" converter="Code Value Converter"></phi-combobox>
        <div id="LayoutRow_1504874017993" class="layout horizontal">
          <phi-combobox [(ngModel)]="LEPActivity.supportRole" name="LEPActivity.supportRole" id="ComboBox_1504874022049" [widgetLabel]="'label_ComboBox_1504874022049' | translate" [disabled]="!LEPActivity.supportNumber || LEPActivity.supportNumber == 0" domain="ROLES:EmployeeFunction:10,12,21" converter="Code Value Converter"></phi-combobox>
          <phi-textbox [(ngModel)]="LEPActivity.supportNumber" name="LEPActivity.supportNumber" id="TextBox_1504874026921" converter="Integer Converter" minimum="0" (change)="supportNumberChanged(LEPActivity, $event.value)"></phi-textbox>
        </div>
        <phi-textarea [(ngModel)]="LEPActivity.lepExecution[0].note" name="LEPActivity.lepExecution[0].note" id="TextArea_1504874033426" [widgetLabel]="'label_TextArea_1504874033426' | translate"></phi-textarea>
      </div>
    </div>
    <div id="LytLepActivityBtns2" class="layout horizontal fill">
      <div id="LytLepActivityBtns2L" class="layout horizontal">
        <phi-buttoncancel (binding)="close()" id="BtnCancelLepActivity"></phi-buttoncancel>
      </div>
      <div id="LytLepActivityBtns2R" class="layout horizontal end">
        <phi-buttonsave (binding)="save()" id="BtnSaveLepActivity" [form]="form"></phi-buttonsave>
      </div>
    </div>
  </div>
</form>
