<form #form="ngForm" id="FrmNrsActvtyCancel">
  <h1>{{'FrmNrsActvtyCancel' | translate}}</h1>
  <div id="LytNrsActvtyCancel" class="layout vertical">
    <phi-textarea [(ngModel)]="note" name="note" id="TxtaNrsActvtyCancelNote" [widgetLabel]="'label_TxtaNrsActvtyCancelNote' | translate" [required]="true"></phi-textarea>
    <div id="LytNrsActvtyCancelBtns" class="layout horizontal center">
      <phi-button (binding)="save()" id="BtnNrsActvtyOk" [form]="form">{{'BtnNrsActvtyOk' | translate}}</phi-button>
    </div>
  </div>
</form>
