<form #form="ngForm" id="FrmSbstncAdmnstrtn">
  <h1>{{'FrmSbstncAdmnstrtn' | translate}}</h1>
  <div id="LytSbstncAdmnstrtn" class="layout vertical">
    <div class="lbl">
    <span>{{NurseActivity.description}}</span>
    </div>
    <div class="lbl">
    <span>{{NurseActivity.statusTranslated}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_Label_1504528697256' | translate}}</label>
    <span>{{SubstanceAdministration.author.name.fam + ' ' + SubstanceAdministration.author.name.giv}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_Label_1507302362532' | translate}}</label>
    <span>{{NurseActivity.planneddate | dateFormat: 'short'}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_Label_1504419321686' | translate}}</label>
    <span>{{SubstanceAdministration.administratedDate.low | dateFormat: 'short'}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_Label_1506880732071' | translate}}</label>
    <span>{{SubstanceAdministration.availabilityTime | dateFormat: 'short'}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_Label_1506561946843' | translate}}</label>
    <span>{{SubstanceAdministration.text.string}}</span>
    </div>
  </div>
</form>
