<form #form="ngForm" id="FrmDosage">
  <div id="LytDosage" class="layout vertical fieldset">
    <div id="LytDosageHeader" class="layout horizontal">
      <phi-textbox [(ngModel)]="dayInterval" name="dayInterval" id="TxtDsgDyIntrvl" [widgetLabel]="'label_TxtDsgDyIntrvl' | translate" [required]="true" converter="Integer Converter" minimum="1" (change)="dayIntervalChanged($event)"></phi-textbox>
      <div id="spacer" class="layout horizontal fillHeight">
      </div>
      <phi-buttonadd (binding)="addDosage()" id="BtnDosageAdd"></phi-buttonadd>
    </div>
    <div id="DgDosage" [phi-datagrid]="DosageList">
      <thead class="tableHeader">
        <tr>
          <th (click)="DosageList?.orderBy('daytime')">{{'DcDosageHour' | translate}} <i *ngIf="DosageList?.sortColumn('daytime')" [class]="DosageList.sortArrow"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Dosage of DosageList?.entities; let i = index">
          <td>
            <phi-monthcalendar [(ngModel)]="Dosage.daytime" [name]="'Dosage.daytime'+i" id="CalDosage" [required]="true" dateTimeFormat="Time only"></phi-monthcalendar>
          </td>
          <td>
            <phi-buttonremove (binding)="removeDosage(Dosage)" id="BtnDosageRemove"></phi-buttonremove>
          </td>
      </tr>
      </tbody>
    </div>
  </div>
</form>
