<form #form="ngForm" id="FrmTmpltDsg">
  <h1>{{'FrmTmpltDsg' | translate}}</h1>
  <div id="LytTmpltDsg" class="layout vertical">
    <div id="LytTmpltDsgMain" class="layout horizontal">
      <div id="LayoutRow_1499698866481" class="layout vertical">
        <div id="LytTmpltDsgBtns" class="layout horizontal end">
          <phi-button (binding)="addTemplate()" id="BtnTmpltDsgAddTmplt" tooltip="{{'alt_BtnTmpltDsgAddTmplt' | translate}}"><i class="fa fa-2x fa-plus"></i></phi-button>
        </div>
        <div id="DgTmpltDsg" [phi-datagrid]="TemplateDosageList" label="" *ngIf="TemplateDosageList.entities.length > 0">
          <thead class="tableHeader">
            <tr>
              <th>{{'DgcTitle' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="selectable">
            <tr *ngFor="let TemplateDosage of TemplateDosageList?.entities; let i = index" (click)="ie(TemplateDosage, 'TemplateDosage')" [class.selRow]="selected(TemplateDosage, 'TemplateDosage')">
              <td>
                <span>{{TemplateDosage.title}}</span>
              </td>
              <td>
                <phi-button (binding)="deleteTemplate(TemplateDosage)" id="BtnTmpltDsgDelTmplt" tooltip="{{'alt_BtnTmpltDsgDelTmplt' | translate}}"><i class="fa fa-2x fa-minus"></i></phi-button>
              </td>
          </tr>
          </tbody>
        </div>
      </div>
      <div id="LytTmpltDsgDetailz" class="layout vertical" *ngIf="TemplateDosage">
        <div id="LytTmpltDsgDetail" class="layout vertical fieldset">
        <label class="fldstLabel">{{'LytTmpltDsgDetail' | translate}}</label>
          <phi-textbox [(ngModel)]="TemplateDosage.title" name="TemplateDosage.title" id="TxtTmpltDsgTitle" [widgetLabel]="'label_TxtTmpltDsgTitle' | translate" [required]="true"></phi-textbox>
        </div>
        <phi-dosage [(ngModel)]="TemplateDosage.dosage" name="TemplateDosage.dosage" [required]="true" validateDosage></phi-dosage>
      </div>
    </div>
    <div id="LytTmpltDsgBtn" class="layout horizontal fill">
      <div id="LytTmpltDsgBtnLft" class="layout horizontal">
        <phi-button (binding)="close()" id="BtnTmpltDsgClose">{{'BtnTmpltDsgClose' | translate}}</phi-button>
      </div>
      <div id="LytTmpltDsgBtnRght" class="layout horizontal end">
        <phi-button (binding)="save(TemplateDosage)" id="BtnTmpltDsgSave" [form]="form">{{'BtnTmpltDsgSave' | translate}}</phi-button>
      </div>
    </div>
  </div>
</form>
