<form #form="ngForm" id="FrmLogin">
  <div id="LytOptions" class="layout vertical">

    <div class="lbl">
      <span>L'utente <b>{{employee?.name?.giv}} {{employee?.name?.fam}}</b> risulta già loggato su questo computer.<br/>
        Verifica se hai ancora una sessione attiva in un'altra finestra. Se non è così effettua nuovamente il login.</span>
    </div>

    <div id="LytLoginBtn" class="layout horizontal center ok-butt-layout" >
      <phi-button (binding)="logout()" id="BtnLogout" [autoFocus]="true">{{'BtnLogout' | translate}}</phi-button>
      <!--phi-button (binding)="goHome()" id="BtnHome">{{'BtnHome' | translate}}</phi-button-->
    </div>

  </div>
</form>
