<form #form="ngForm" id="FrmLogin">
  <div id="LytOptions" class="layout vertical">

    <div class="lbl">
      <label>{{'label_LblWelcome' | translate}}</label>
      <span>{{employee?.name?.giv}} {{employee?.name?.fam}}</span>
    </div>

    <div class="lbl">
      <label>{{'label_LblLanguage' | translate}}</label>
      <select (change)="changeLang($event.target.value)"  [(ngModel)]="selectedLang" name="selectedLang">
        <option *ngFor="let lang of environment.languages" value="{{lang[0]}}">{{lang[1]}}</option>
      </select>
    </div>

    <phi-radiogroup [(ngModel)]="selectedRole" name="selectedRole" id="RGrpLoginRole" [widgetLabel]="'label_RGrpLoginRole' | translate" [listElementsExpression]="enabledRoles" (change)="reloadSdloc()" layout="vertical" styleClass="max-height-120"></phi-radiogroup>

    <phi-tree [(ngModel)]="sdLocs" name="sdLocs" [listElementsExpression]="enabledSdlocs" [checkbox]="true" [widgetLabel]="'TreeLogin' | translate" styleClass="max-height-400" (change)="onSdlocChange()"></phi-tree>

    <div id="LytLoginBtn" class="layout horizontal center ok-butt-layout" >
      <phi-button (binding)="logout()" id="BtnLogout">{{'BtnLogout' | translate}}</phi-button>
      <phi-button (binding)="options()" id="BtnOptions" [disabled]="sdLocs?.length === 0" [autoFocus]="true">{{'BtnOptions' | translate}}</phi-button>
    </div>

  </div>
</form>

