<form #form="ngForm" id="FrmLogin">
  <div id="LytLogin" class="layout vertical">

    <div class="lbl">
      <label>{{'label_LblWelcome' | translate}}</label>
      <span>{{employee?.name?.giv}} {{employee?.name?.fam}}</span>
    </div>

    <div id="LytLoginOldPass" class="layout horizontal center">
      <phi-password [(ngModel)]="oldPassword" name="oldPassword" id="TxtOldPassword" [widgetLabel]="'label_TxtOldPassword' | translate"></phi-password>
    </div>
    <div id="LytLoginNewPass" class="layout horizontal center">
      <phi-password [(ngModel)]="newPassword" name="newPassword" id="TxtNewPassword" [widgetLabel]="'label_TxtNewPassword' | translate"></phi-password>
    </div>
    <div id="LytLoginCheckPass" class="layout horizontal center">
      <phi-password [(ngModel)]="checkPassword" name="checkPassword" id="TxtCheckPassword" [widgetLabel]="'label_TxtCheckPassword' | translate"></phi-password>
    </div>

    <div id="LytLoginBtn" class="layout horizontal center">
      <phi-button (binding)="logout()" id="BtnLogout">{{'BtnLogout' | translate}}</phi-button>
      <phi-button (binding)="password()" id="BtnPassword">{{'BtnPassword' | translate}}</phi-button>
    </div>

  </div>
</form>
