<form #form="ngForm" id="FrmLogin">
  <div id="LytLogin" class="layout vertical">
    <div id="LytLoginUser" class="layout horizontal center">
      <phi-textbox [(ngModel)]="username" name="username" id="TxtLoginUsername" [widgetLabel]="'label_TxtLoginUsername' | translate" [autoFocus]="true" autocomplete="username"></phi-textbox>
    </div>
    <div id="LytLoginPass" class="layout horizontal center">
      <phi-password [(ngModel)]="password" name="password" id="TxtLoginPassword" [widgetLabel]="'label_TxtLoginPassword' | translate" autocomplete="current-password"></phi-password>
    </div>
    <div id="LytLoginBtn" class="layout horizontal center">
      <button type="submit" (click)="login()" [disabled]="form.invalid">{{'BtnLogin' | translate}}</button>
    </div>
  </div>
</form>
