/*Overrides to defaut.scss of webapp-skeleton*/

/*html {zoom:80%;}*/

.tabset .tabs li a {
  background-color: #7FBADA;
}

.reqStar {
  display:none;
}

/* banner */
.banner {
	display:flex;
	/*justify-content: space-between;*/
	padding: 0 30px;

	.iconAndtype, .details {
		background-color: #7FBADA;
		color: white; 
	}
	.iconAndtype {
		display:flex;
		margin: 10px 0.5% 10px 0;
		width: 30%;
	}
	.iconAndtype i {
		font-size: 5em;
		margin: 10px;
	}
	.details {
		margin: 10px 0 10px 0;
		width: 69%;
		
		span {
		  font-weight: 600;
		  margin-right: 30px;
		}
	}
	.iconAndtype .type, .details {
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		font-size: 18px;
	}
}

/* stato comunicazioni: */
.protocollo {
  vertical-align: middle;
  color: $headerColor;

  &:before {
    font-size: 24px;
    vertical-align: bottom;
    line-height: 24px;
  }

  &.new:before {content: "\f017";} // fa-clock-o
  &.held:before {content: "\f096";} // fa-square-o
  &.nullified:before {content: "\f0c8";} // fa-square
  &.active:before {content: "\f046";} // fa-check-square-o
  &.terminated:before {content: "\f147";} // fa-minus-square-o
  &.completed:before {content: "\f14a";} // fa-check-square
  &.cancelled:before {content: "\f00d";} // fa-times
  &.obsolete:before {content: "\f187";} // fa-archive
  &.nullified:before, &.cancelled:before {content: "\f040";} // fa-pencil
}

/* stato pratiche: */
.procpratiche {
  vertical-align: middle;
  color: $headerColor;

  &:before {
    font-size: 24px;
    vertical-align: bottom;
    line-height: 24px;
  }

  &.verified:before {content: "\f046";} // fa-check-square-o
  &.active:before {content: "\f115";} // fa-folder-open-o
  &.completed:before {content: "\f114";} // fa-folder-o
  &.suspended:before {content: "\f07c";} // fa-folder-open
  &.nullified:before {content: "\f07b";} // fa-folder
  &.held:before {content: "\f187";} // fa-archive
}

/*Linea di lavoro*/

.WorkinkLine {
  background-repeat: no-repeat;
  min-width: 45px;
}
td .WorkinkLine {
  min-width: 24px;
  min-height: 20px;
}

.ARPAV { /*Verifiche Impiantistiche ARPAV*/
  background-image: url(../images/icons/arpav.svg);
}
.GENERIC { /*Attivit� generica*/
  background-image: url(../images/icons/attivita_generica.svg);
}
.WORKMEDICINE { /*Medicina del lavoro*/
  &.type01,
  &.type04,
  &.type05
  { /*Visite*/
  	background-image: url(../images/icons/medicina_del_lavoro_visita.svg);
  }
  &.type02
  { /*ESPOSTI*/
  	background-image: url(../images/icons/medicina_del_lavoro_esposti.svg);
  }
  &.type03
  { /*RICORSO AVVERSO*/
  	background-image: url(../images/icons/medicina_del_lavoro_ricorso.svg);
  }
}
.TECHNICALADVICE { /*Espressione Pareri Tecnici Formalizzati*/
  background-image: url(../images/icons/espressione_pareri_tecnici.svg);
}
.TRAINING { /*Formazione*/
  background-image: url(../images/icons/formazione.svg);
}
.INFORMATION { /*Informazione*/
  background-image: url(../images/icons/informazione.svg);
}
.WORKACCIDENT { /*Infortunio sul lavoro*/
  background-image: url(../images/icons/infortunio_sul_lavoro.svg);
}
.WORKDISEASE { /*Malattia professionale*/
  background-image: url(../images/icons/malattia_professionale.svg);
}
.LIFESTYLE { /*Promozione della salute e stili di vita*/
  background-image: url(../images/icons/prevenzione.svg);
}
.COUNSELING { /*Sportello ascolto e centro benessere organizzativo*/
  background-image: url(../images/icons/sportello_ascolto.svg);
}
.SUPERVISION { /*Vigilanza Spisal*/
  background-image: url(../images/icons/vigilanza.svg);
  
  &.Asbestos {
  	background-image: url(../images/icons/vigilanza_amianto.svg);
  }
  &.Generic {
    background-image: url(../images/icons/vigilanza_aziendale.svg);
  }
  &.Yard {
    background-image: url(../images/icons/vigilanza_cantiere.svg);
  }
}

/*First level groupboxes*/
.groupBox, .layoutGroupBox {
  /*background-color: rgba(2, 136, 209, 0.1);*/
  border-top: 1px solid #0288D1;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.groupBox .groupBoxLegend, .layoutGroupBox .groupBoxLegend {
  background-color: #0288D1;
  color: #fff;
}

/*Second level groupboxes*/
.groupBox .groupBox, .layoutGroupBox .layoutGroupBox {
  background-color: initial;
  // border: none;
}
.groupBox .groupBox .groupBoxLegend, .layoutGroupBox .layoutGroupBox .groupBoxLegend {
  font-size: 16px;
  border: 1px solid #0288D1;
  background-color: #fff;
  color: #0288D1;
}

/*Third level groupboxes*/
.groupBox .groupBox .groupBox, .layoutGroupBox .layoutGroupBox .layoutGroupBox {
  background-color: initial;
  border: none;
}
.groupBox .groupBox .groupBox .groupBoxLegend, .layoutGroupBox .layoutGroupBox .layoutGroupBox .groupBoxLegend {
  font-size: 14px;
  padding:0;
  background-color: initial;
  border: none;
  color: #000;
}

.validaechiudi {
  background: url(../images/icons/validaechiudi.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.annulla {
  background: url(../images/icons/annulla.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.sospendi {
  background: url(../images/icons/sospendi.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.cessione {
  background: url(../images/icons/cessione.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.pratiche {
  background: url(../images/icons/pratiche.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.pratiche-in-scadenza {
  background: url(../images/icons/pratiche-in-scadenza.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.comunicazioni {
  background: url(../images/icons/comunicazioni.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.comunicazioni-in-scadenza {
  background: url(../images/icons/comunicazioni-in-scadenza.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.associaapraticanuova {
  background: url(../images/icons/associa-a-pratica-nuova.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.associaapraticaesistente {
  background: url(../images/icons/associa-a-pratica-esistente.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.estrai-dati {
  background: url(../images/icons/estrai-dati.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.circle-pencil {
  background: url(../images/icons/circle_pencil.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.ditte {
  background: url(../images/icons/ditte.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.engine {
  background: url(../images/icons/engine.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.page-next {
  background: url(../images/icons/page-next.svg) center no-repeat;
  width: 32px;
  height: 32px;
}
.page-prev {
  background: url(../images/icons/page-prev.svg) center no-repeat;
  width: 32px;
  height: 32px;
}