/*VCO
$primaryColor: #9EADCC;
$secondaryColor: #3B5998;
$headerColor: #3B5998;
$headerTextColor: #000;
$tableRowOdd: #ECF2FF;
$tableRowEven: #fff;
$tableRowHover: #ddd;
$tableRowSelected: #bbb;
*/
/*SPISAL*/
$primaryColor: #03A9F4;   /*medio*/
$secondaryColor: #0288D1; /*scuro*/
$tertiaryColor: #81D4FA;  /*chiaro*/
$iconColor: #01579B;
$headerColor: #0288D1;
$headerTextColor: #fff;
$tableRowOdd: #fff;
$tableRowEven: #fff;
$tableRowHover: #FCE4EC;	/*giallo #F2F3C9;*/			/*blu #039BE5;*/
$tableRowSelected: #F8BBD0;	/*giallo scuro #f1e974;*/	/*blu scuro#0277BD;*/
$groupBoxBorder: 3px solid #0288D1;
$sidebarBackground: #fff;

/*groupbox*/
$groupBoxBorder: 1px solid #E1E1E1;
$groupBoxBgColor: initial;/*rgba(125, 210, 247, 0.2);*/
$groupBoxLegendBgColor: initial;
$groupBoxLegendTextColor: #000;

/*tabset*/
$tabsetBorder: 1px solid #E1E1E1;
$tabsetBgColor: initial;
