//
// Variables
// --------------------------------------------------

/* COMMONS */

/*button*/
$font-awesome-buttons: true;
$iconColor: #000;
$iconHoverColor: #555;


/* GREY CONFIGURATION */

$primaryColor: #7dd2f7; // #DEEBB4;
$secondaryColor: #69b9dc; // #bbd565;
$tertiaryColor: #DEEBB4;

/*datagrid*/

$headerColor: #DEEBB4;
$headerTextColor: #000;
$headerBorderColor: #ccc;
$tableRowOdd: #fff;
$tableRowEven: #f6faeb;
$tableRowHover: #DEEBB4;
$tableRowSelected: #bbd565;

/*groupbox*/

$groupBoxBorder: none;
$groupBoxBgColor: rgba(125, 210, 247, 0.2);
$groupBoxLegendBgColor: none;
$groupBoxLegendTextColor: #000;

/*tabs*/

$tabTextColor: #fff;
$tabBgColor: #602050;
$tabTextColorDisabled: #000;
$tabBgColorDisabled: #eee;
$tabBorder: 3px solid #602050;
$tabBackground: #fff;

$sidebarBackground: #fff;
$menuHighlightColor: #ccc;
$menuBackgroud: rgba(0, 0, 0, 0);

$logo: './customer/bolzano/logo.png';
$logoheight: 132px;
$logo-header: '../../../../../style/customer/bolzano/logo.png';
$loader:  none;
$loader1: none;
$loader2: none;
$loader3: none;
