<form #form="ngForm" id="FrmLepTree">
  <h1>{{'FrmLepTree' | translate}}</h1>
  <div id="LytLepTreeMain" class="layout vertical">
    <phi-radiogroup id="RdGrpLepTree" [listElementsExpression]="getAllOrFavorites()" (change)="typeChanged($event.value)"></phi-radiogroup>
    <div id="LytLepTreeSearch" class="layout horizontal">
      <phi-textbox [(ngModel)]="DictionaryManager.searchByName['NANDA:K630119']" name="DictionaryManager.searchByName['NANDA:K630119']" id="TxtLepTreeSearch"></phi-textbox>
      <phi-buttonsearch (binding)="search()" id="BtnSrcLepTreeSearch"></phi-buttonsearch>
      <phi-button (binding)="info()" id="BtnInfoLepTreeSearch" styleClass="fa fa-info fa-2x"></phi-button>
    </div>
    <div id="LytLepTree" class="layout vertical" *ngIf="NandaInfo">
      <div class="lbl" *ngIf="NandaInfo.code" style="margin-bottom:.5em;">
      <label>{{'label_NandaLEPInfoCode' | translate}}</label>
      <span>{{NandaInfo.code}}</span>
      </div>
      <div class="lbl" *ngIf="NandaInfo.currentTranslation" style="margin-bottom:.5em;">
      <label>{{'label_NandaLEPInfoDesc' | translate}}</label>
      <span>{{NandaInfo.currentTranslation}}</span>
      </div>
      <div class="lbl" *ngIf="NandaInfo.description" style="margin-bottom:.5em;">
      <label>{{'label_NandaLEPInfoDet' | translate}}</label>
      <span>{{NandaInfo.description}}</span>
      </div>
    </div>
    <phi-tree [(ngModel)]="LEPActivity.nandaLep" name="LEPActivity.nandaLep" [listElementsExpression]="DictionaryManager.searchResults['NANDA:K630119']" (change)="lepChanged()" styleClass="max-height-600" [required]="true" [selectOnlyLeaves]="true" [hide]="3"></phi-tree>
    <div id="LytLepTreeBtns" class="layout horizontal fill">
      <div id="LytLepTreeBtnsL" class="layout horizontal">
        <phi-buttoncancel (binding)="close()" id="BtnCancLytLepTree"></phi-buttoncancel>
      </div>
      <div id="LytLepTreeBtnsR" class="layout horizontal end">
        <phi-buttonok (binding)="onSelect()" id="BtnOKLytLepTree" [form]="form"></phi-buttonok>
      </div>
    </div>
  </div>
</form>
