<form #form="ngForm" id="FrmLepActvtyEdt">
  <h1>{{'FrmLepActvtyEdt' | translate}} {{getNandaTitle()}}</h1>
  <div id="LytLepActvtyEdt" class="layout vertical">
    <div id="LytLepActvtyEdtHdr" class="layout horizontal fill">
      <div class="lbl" *ngIf="!favoriteConfiguration">
      <span>{{'LblLepActvtyEdt' | translate}}</span>
      </div>
      <phi-textbox [(ngModel)]="FavoriteProfile.title" name="FavoriteProfile.title" id="LblLepActvtyFavoriteName" [widgetLabel]="'label_LblLepActvtyFavoriteName' | translate" [required]="favoriteConfiguration" *ngIf="favoriteConfiguration == true && FavoriteProfile != null"></phi-textbox>
      <div id="LytLepActvtySpacer" class="layout horizontal fillHeight">
      </div>
      <phi-buttonadd (binding)="onAddActivity()" id="BtnAddLepActvty"></phi-buttonadd>
    </div>
    <div id="LayoutRow_1505729919862" class="layout vertical fieldset" *ngFor="let LEPActivity of LEPActivityList?.entities; let i = index">
      <div id="LayoutFill_1507809948577" class="layout horizontal fill">
        <div id="LytLepActvtyEdtTitle" class="layout horizontal">
          <div class="lbl">
		        <label>{{LEPActivity.nandaLep.code + ' - ' + LEPActivity.nandaLep.currentTranslation}}</label>
            <span>{{info[LEPActivity.nandaLep.id]?.description}}</span>
          </div>
        </div>
        <phi-button (binding)="infoActivity(LEPActivity)" id="BtnInfoLepActvty" styleClass="fa fa-info fa-2x"></phi-button>
        <phi-buttoncancel (binding)="onRemoveActivity(LEPActivity)" id="BtnCancLepActvty"></phi-buttoncancel>
      </div>
      <div id="LayoutRow_1505729937861" class="layout horizontal">
        <div id="LytLepActvtyDate" class="layout vertical" *ngIf="!favoriteConfiguration">
          <phi-monthcalendar [(ngModel)]="LEPActivity.effectiveDate.low" [name]="'LEPActivity.effectiveDate.low' + i" id="CalLepActvtyEdtStrt" [widgetLabel]="'label_CalLepActvtyEdtStrt' | translate" [required]="true" dateTimeFormat="Date and Time"></phi-monthcalendar>
          <div id="LayoutRow_1505729992765" class="layout horizontal">
            <phi-monthcalendar [(ngModel)]="LEPActivity.effectiveDate.high" [name]="'LEPActivity.effectiveDate.high' + i" id="CalLepActvtyEdtEnd" [widgetLabel]="'label_CalLepActvtyEdtEnd' | translate" [required]="true" [disabled]="!LEPActivity.effectiveDate.high" dateTimeFormat="Date and Time"></phi-monthcalendar>
            <phi-checkbox id="ChkBxLepActvtyEdtEnd" (change)="enableEndDateChange(LEPActivity)"></phi-checkbox>
          </div>
        </div>
        <div id="LytLepActvtyFreq" class="layout vertical">
        <phi-frequency [(ngModel)]="LEPActivity.dosage" [name]="'LEPActivity.dosage' + i" [frequencyDomain]="TemplateDosageAction.getDosages4Activity()" [required]="true"></phi-frequency>
        <!--<phi-textbox [(ngModel)]="LEPActivity.timeSpent" [name]="'LEPActivity.timeSpent' + i" id="TxtLepActvtyTmSpnt" [widgetLabel]="'label_TxtLepActvtyTmSpnt' | translate" converter="Integer Converter" minimum="1" maximum="60"></phi-textbox>-->
        </div>
        <div id="LayoutRow_1505729952493" class="layout vertical">
          <phi-combobox [(ngModel)]="LEPActivity.responsibleRole" [name]="'LEPActivity.responsibleRole' + i" id="CmbBxLepActvtyEdtResp" [widgetLabel]="'label_CmbBxLepActvtyEdtResp' | translate" domain="ROLES:EmployeeFunction:10,12,21" [required]="true" converter="Code Value Converter"></phi-combobox>
          <div id="LayoutRow_1505730039717" class="layout horizontal">
            <phi-combobox [(ngModel)]="LEPActivity.supportRole" [name]="'LEPActivity.supportRole' + i" id="CmbBxLepActvtyEdtSupp" [widgetLabel]="'label_CmbBxLepActvtyEdtSupp' | translate" domain="ROLES:EmployeeFunction:10,12,21" [disabled]="!LEPActivity.supportNumber || LEPActivity.supportNumber == 0" converter="Code Value Converter"></phi-combobox>
            <phi-textbox [(ngModel)]="LEPActivity.supportNumber" [name]="'LEPActivity.supportNumber' + i" id="TextBox_1505730064101" converter="Integer Converter" minimum="0" (change)="supportNumberChanged(LEPActivity, $event.value)"></phi-textbox>
          </div>
        </div>
        <div id="LayoutRow_1505729953605" class="layout horizontal">
          <phi-textarea [(ngModel)]="LEPActivity.note" [name]="'LEPActivity.note' + i" id="TxtALepActvtyEdtNote" [widgetLabel]="'label_TxtALepActvtyEdtNote' | translate" styleClass="two-row-height"></phi-textarea>
        </div>
      </div>
    </div>
    <div id="LytLepActvtyEdtBtns" class="layout horizontal fill">
      <div id="LytLepActvtyEdtBtnsL" class="layout horizontal">
        <phi-buttoncancel (binding)="close()" id="BtnCancLepActvtyEdt"></phi-buttoncancel>
      </div>
      <div id="LytLepActvtyEdtBtnsR" class="layout horizontal end">
        <phi-buttonsave (binding)="onSave()" id="BtnSveLepActvtyEdt" [form]="form"></phi-buttonsave>
      </div>
    </div>
  </div>
</form>
