/* NO FLEX FOR IE
------------------------------------------------------------ */
#i > div{display: block;height:100%;width:100%;}
#i > div > div{display: block;}
.layoutRoot {display:block;}
.fillHeight {display:block;}