//
// Variables
// --------------------------------------------------

/* COMMONS */

/*button*/
$font-awesome-buttons: false;
$iconColor: #000;
$iconHoverColor: #555;


/* GREY CONFIGURATION */

$primaryColor: #ccc;
$secondaryColor: #010307;
$tertiaryColor: #646a75;

/*datagrid*/

$headerColor: #bba871;
$headerTextColor: #000;
$headerBorderColor: #ccc;
$tableRowOdd: #eee;
$tableRowEven: #fff;
$tableRowHover:#ccc;
$tableRowSelected:  #f1eedf;

/*groupbox*/

$groupBoxBorder: 1px solid #030303;
$groupBoxBgColor: none; /*rgba(213, 122, 26, 0.1);*/
$groupBoxLegendBgColor:#3a424e;
$groupBoxLegendTextColor: #fff;

/*tabs*/

$tabTextColor: #000;
$tabBgColor: #bba871;
$tabTextColorDisabled: #000;
$tabBgColorDisabled: #f1eedf;
$tabBorder: 3px solid #bba871;
$tabBackground: #fff;


/*$sidebarBackground: #fff;*/
$sidebarBackground: #fff;
$menuHighlightColor: #ccc;
$menuBackgroud: rgba(0, 0, 0, 0.15);

$logo: './customer/marien/logo.png';
$logoheight: 132px;
$logo-header: '../../../../../style/customer/marien/logo.png';
$loader: 3px solid #bba871;
$loader1: 3px solid rgba(7, 0, 0, 0); 
$loader2: 3px solid #787878;
$loader3: 3px solid #080807;

@media only screen and (max-width: 405px) {
    /deep/ .hiddenNavigation {
      display: none;
    }
  }
  
  @media only screen and (max-width: 865px) {
    /deep/ .hiddenForMobile {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 1035px) {
    /deep/ .hiddenToday {
      display: none;
    }
  }
  