<phi-header></phi-header>
<main [class.banner-visible]="bannerVisible">
  <phi-menu></phi-menu>
  <section class="main-container" [class.menu-visible]="menuVisible">
    <phi-alert-message></phi-alert-message>
    <phi-flex-container [ngClass]="{'hide': this.router.url.indexOf('flex') == -1}"></phi-flex-container>
    <phi-popup *ngIf="showDashboardAsPopup" (onClose)="hideDashboardPopup()">
      <phi-ambulatory-calendar patientFromConversation="true"></phi-ambulatory-calendar>
    </phi-popup>
    <router-outlet (activate)="formLoaded($event)" (deactivate)="formUnLoaded($event)" [hidden]="this.router.url.indexOf('flex') === -1"></router-outlet>
  </section>
</main>
