main {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 80px;
  bottom: 0px;
}

main > section {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;
  // Use this to have alertmessage popup not overflowing home
  //display: flex;
  //flex-direction: column;
}

phi-flex-container {
  height: 100%;
  display: block;
}

phi-flex-container.hide {
  height: 0;
  overflow: hidden;
}

.main-container {
  box-sizing: border-box;
}

.main-container.menu-visible {
  padding-left: 290px;
}
