@import 'variables';

#DgAdt {
  font-size: 14px;
}

th, td {
  /*padding: 0px 2px;*/ /*reoved by Daniele*/
  text-align: center;
}

.phi-row {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  // padding-top: 2px;
  cursor: pointer;
}
.phi-row:hover {
  background-color: $tableRowHover;
}

.phi-row.header {
  // background-color: #FFEEDB;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: default;
  background-color: transparent;
}
#GroupCheckBoxWards /deep/ div {
  max-height: 80px;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
#TreeAdtAgendas /deep/ > ul {
  max-height: 175px;
  overflow: auto;
  margin-bottom: 0;
}

#LytAdtWard {
  padding: 6px 10px;
  position: static;
}

#TextBoxEncounterYear /deep/ input {
  width: 115px;
}
#TextBoxNosologic /deep/ input {
  width: 80px;
}

.bold { font-weight:bold; }

.active { color: limegreen; }
.new { color: yellow; }
.held { color: red; }
/*.cancelled { color: red; }
.discharged { color: blue; }*/

.bigIcons {
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
}
.bigIcons:before {
  font-size: 23px;
  line-height: 30px;
  color: white;
}
.encounter.bigIcons.new {background-color: cornflowerblue;}
.encounter.bigIcons.new:before {content: "\f254";} // fa-hourglass

.encounter.bigIcons.active {background-color: green;}
.encounter.bigIcons.active:before {content: "\f236";} // fa-bed

.encounter.bigIcons.cancelled {background-color: red;}
.encounter.bigIcons.cancelled:before {content: "\f00d";} // fa-times

.encounter.bigIcons.discharged {background-color: darkslateblue;}
.encounter.bigIcons.discharged:before {content: "\f015";} // fa-home

.encounter.bigIcons.completed {background-color: green;}
.encounter.bigIcons.completed:before {content: "\f00c";} // fa-check

.encounter.bigIcons.waitingproc {background-color: green;}
.encounter.bigIcons.waitingproc:before {content: "\f12a";color: yellow;} // fa-exclamation

.procedure.bigIcons.new {background-color: cornflowerblue;}
.procedure.bigIcons.new:before {content: "\f254";} // fa-hourglass

.procedure.bigIcons.completed {background-color: green;}
.procedure.bigIcons.completed:before {content: "\f00c";} // fa-check

.procedure.bigIcons.nullified {background-color: red;}
.procedure.bigIcons.nullified:before {content: "\f00d";} // fa-times

.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: limegreen; }
.black { color: black; }
.grey { color: grey; }
.white { color: white; -webkit-text-stroke: 1px gray;}

.yellowBackGround { background-color: #FFFFB3; }

.DcAdtPatient { min-width: 200px; cursor: pointer; }
.DcAdtDate { min-width: 135px; cursor: pointer; }
.DcAdtDate { min-width: 135px; }
.DcAdtDep { min-width: 160px; }
.DcAdtDepDeg { min-width: 160px; cursor: pointer; }

.smaller {
  font-size: smaller; 
}
