<form #form="ngForm" id="Form_1526889038835">
  <div id="LayoutPrscrtnEdit" class="layout vertical">
    <div class="lbl" *ngIf="Prescription.code.code == 'PHARMA'">
    <span>{{medicineName()}}</span>
    </div>
    <div id="LayoutInfusion" class="layout vertical" *ngIf="Prescription.code.code == 'INFU'">
      <div id="LayoutInfusionSol" class="layout horizontal">
        <phi-combobox [(ngModel)]="Prescription.infusionTypeCode" name="Prescription.infusionTypeCode" id="CbxPrscrtnInfuSolution" [widgetLabel]="'label_CbxPrscrtnInfuSolution' | translate" domain="PHIDIC:InfusionType" converter="Code Value Converter"></phi-combobox>
        <phi-buttoncancel (binding)="removeSolution()" id="BtnPrscrtnInfuSolutionCanc"></phi-buttoncancel>
      </div>
      <div id="LayoutInfusionQty" class="layout horizontal">
        <phi-textbox [(ngModel)]="Prescription.quantity.value" name="Prescription.quantity.value" id="TxtPrscrtnInfuQty" [widgetLabel]="'label_TxtPrscrtnInfuQty' | translate" converter="Double Converter" minimum="1" (change)="quantityChange()">{{'TxtPrscrtnInfuQty' | translate}}</phi-textbox>
        <phi-textbox [(ngModel)]="Prescription.infusionSpeed.value" name="Prescription.infusionSpeed.value" id="TxtPrscrtnInfuSpd" [widgetLabel]="'label_TxtPrscrtnInfuSpd' | translate" converter="Double Converter" minimum="1" (change)="speedChange()"></phi-textbox>
        <phi-combobox [(ngModel)]="Prescription.infusionSpeed.unit" name="Prescription.infusionSpeed.unit" id="CmbPrscrtnInfuSpdUnt" [widgetLabel]="'label_CmbPrscrtnInfuSpdUnt' | translate" [listElementsExpression]="speedUMcodes"></phi-combobox>
        <phi-textbox [(ngModel)]="Prescription.infusionDuration.value" name="Prescription.infusionDuration.value" id="TxtPrscrtnInfuDrtn" [widgetLabel]="'label_TxtPrscrtnInfuDrtn' | translate" converter="Double Converter" minimum="1" (change)="durationChange()"></phi-textbox>
        <phi-combobox [(ngModel)]="Prescription.infusionDuration.unit" name="Prescription.infusionDuration.unit" id="CmbPrscrtnInfuDrtnUnt" [listElementsExpression]="timeUMcodes"></phi-combobox>
      </div>
    </div>
    <phi-combobox [(ngModel)]="Prescription.routeCode" name="Prescription.routeCode" id="CbxPrscrtnPhrmRoute" [widgetLabel]="'label_CbxPrscrtnPhrmRoute' | translate" [required]="true" converter="Code Value Converter" [domain]="getRoute()"></phi-combobox>
    <div id="LayoutPrscrtnPhrmFrq" class="layout horizontal">
      <phi-combobox [(ngModel)]="frqncyz" name="frqncyz" id="TxtPrscrtnPhrmFrqncy" [widgetLabel]="'label_TxtPrscrtnPhrmFrqncy' | translate" [listElementsExpression]="TemplateDosageAction.getDosages4Prescription(Prescription.code.code, favoriteConfiguration, dischargeMode)" [required]="true" (change)="fillTemplateDosages(frqncyz)"></phi-combobox>
      <phi-button (binding)="toggleAdvanced()" id="BtnPrscrtnPhrmFrqncyAdvanced" [renderedEl]="renderAdvanced()">{{'BtnPrscrtnPhrmFrqncyAdvanced' | translate}}</phi-button>
      <phi-button (binding)="configNeedsBased()" id="BtnPrscrtnPhrmFrqncyConfig" [renderedEl]="frqncyz == 'as-needed'" [disabled]="dischargeMode">{{'BtnPrscrtnPhrmFrqncyConfig' | translate}}</phi-button>
    </div>
    <div id="LayoutPrscrtnPhrmQty" class="layout horizontal" *ngIf="Prescription.code.code == 'PHARMA'">
      <phi-textbox [(ngModel)]="Prescription.quantity.value" name="Prescription.quantity.value" id="TxtPrscrtnPhrmQty" [widgetLabel]="'label_TxtPrscrtnPhrmQty' | translate" converter="Double Converter" minimum="1" (change)="updateDosages()"></phi-textbox>
      <phi-combobox [(ngModel)]="Prescription.quantity.unit" name="Prescription.quantity.unit" id="CbxPrscrtnPhrmQty" domain="PHIDIC:DosageForm" (change)="updateDosages()"></phi-combobox>
    </div>
    <div id="LayoutRow_1504692766168" class="layout horizontal" *ngIf="dischargeMode">
      <phi-combobox [(ngModel)]="Prescription.prescriptionMedicine[0].aifaNote" name="Prescription.prescriptionMedicine[0].aifaNote" id="CbxPrscrtnAifa" [widgetLabel]="'label_CbxPrscrtnAifa' | translate" converter="Code Value Converter"></phi-combobox>
      <phi-checkbox [(ngModel)]="Prescription.prescriptionMedicine[0].showMedicineName" name="Prescription.prescriptionMedicine[0].showMedicineName" id="ChkPrscrtnShwMdcnNm" [widgetLabel]="'label_ChkPrscrtnShwMdcnNm' | translate"></phi-checkbox>
      <phi-checkbox [(ngModel)]="Prescription.prescriptionMedicine[0].therapeuticPlan" name="Prescription.prescriptionMedicine[0].therapeuticPlan" id="CheckBox_1504693088223" [widgetLabel]="'label_CheckBox_1504693088223' | translate"></phi-checkbox>
    </div>
    <div id="LayoutPrscrtnPhrmDosage" class="layout vertical fieldset" *ngIf="renderDosages()">
      <div id="LayoutPrscrtnPhrmDet" class="layout horizontal fill">
        <div id="LayoutPrscrtnPhrmDetLft" class="layout horizontal">
          <phi-textbox [(ngModel)]="dayInterval" name="dayInterval" id="TxtPrscrtnDsgDyIntrvl" [widgetLabel]="'label_TxtPrscrtnDsgDyIntrvl' | translate" [required]="true" converter="Integer Converter" minimum="1" (change)="dayIntervalChanged()"></phi-textbox>
          <phi-combobox [(ngModel)]="dayInterval" name="dayInterval" id="CmbPrscrtnPhrmDosageRep" [widgetLabel]="'label_CmbPrscrtnPhrmDosageRep' | translate" [listElementsExpression]="periods" [renderedEl]="false" converter="Code Value Converter"></phi-combobox>
        </div>
        <div id="LayoutPrscrtnPhrmDetRght" class="layout horizontal end">
          <phi-buttonadd (binding)="addDosage()" id="BtnPrscrtnPhrmDosageAdd"></phi-buttonadd>
        </div>
      </div>
      <div phi-datagrid id="DgPrscrtnPhrmDosage">
        <thead class="tableHeader">
          <tr>
            <th *ngIf="Prescription.code.code == 'PHARMA'">{{'DcPrscrtnPhrmDosageQty' | translate}} </th>
            <th *ngIf="Prescription.code.code == 'PHARMA'">{{'DcPrscrtnPhrmDosageUnt' | translate}} </th>
            <th>{{'DcPrscrtnPhrmDosageHour' | translate}}</th>
            <th *ngIf="false">{{'DcPrscrtnPhrmDosageOffset' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Dosage of Prescription.prescriptionMedicine[0].dosage; let i = index">
            <td *ngIf="Prescription.code.code == 'PHARMA'">
              <phi-textbox [(ngModel)]="Dosage.quantity.value" [name]="'Dosage.quantity.value'+i" id="TxtPrscrtnPhrmDsgQty" [required]="true" converter="Double Converter" minimum="1" (change)="checkDosages()"></phi-textbox>
            </td>
            <td *ngIf="Prescription.code.code == 'PHARMA'">
              <phi-combobox [(ngModel)]="Dosage.quantity.unit" [name]="'Dosage.quantity.unit'+i" id="CmbPrscrtnPhrmDsgQty" domain="PHIDIC:DosageForm" [required]="true" (change)="checkDosages()"></phi-combobox>
            </td>
            <td>
              <phi-monthcalendar [(ngModel)]="Dosage.daytime" [name]="'Dosage.daytime'+i" id="CalPrscrtnPhrmDosage" [required]="true" dateTimeFormat="Time only"></phi-monthcalendar>
            </td>
            <td *ngIf="false">
              <phi-combobox [(ngModel)]="Dosage.dayOffset" [name]="'Dosage.dayOffset'+i" id="CmbPrscrtnPhrmDosageOffst" [listElementsExpression]="days"></phi-combobox>
            </td>
            <td>
              <phi-buttonremove (binding)="removeDosage(Dosage)" id="BtnPrscrtnPhrmDosageRemove"></phi-buttonremove>
            </td>
        </tr>
        </tbody>
      </div>
    </div>
    <div id="LayoutInfusionMedicine" class="layout vertical fieldset" *ngIf="Prescription.code.code == 'INFU'">
      <div id="LayoutRow_1502888771068" class="layout horizontal end">
        <phi-buttonadd (binding)="addPrescriptionMedicine()" id="BtnInfusionMedicineAdd"></phi-buttonadd>
      </div>
      <div id="DgInfusionMedicine" [phi-datagrid]="Prescription.prescriptionMedicine">
        <thead class="tableHeader">
          <tr>
            <th>{{'DgInfusionMedicineName' | translate}}</th>
            <th>{{'DgInfusionMedicineQty' | translate}}</th>
            <th>{{'DgInfusionMedicineUnt' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="Prescription.prescriptionMedicine[0].medicine">
          <tr *ngFor="let PrescriptionMedicine of Prescription.prescriptionMedicine; let i = index">
            <td>
              <span>{{PrescriptionMedicine.medicine?.name.giv}}</span>
            </td>
            <td>
              <phi-textbox [(ngModel)]="PrescriptionMedicine.dosage[0].quantity.value" [name]="'PrescriptionMedicine.dosage[0].quantity.value'+i" id="TxtInfusionMedicineQty" [required]="true" converter="Double Converter" minimum="1"></phi-textbox>
            </td>
            <td>
              <phi-combobox [(ngModel)]="PrescriptionMedicine.dosage[0].quantity.unit" [name]="'PrescriptionMedicine.dosage[0].quantity.unit'+i" id="CmbInfusionMedicineUnt" [required]="true" domain="PHIDIC:DosageForm:g,mg,mcg,ml,mEq"></phi-combobox>
            </td>
            <td>
              <phi-buttonremove (binding)="removePrescriptionMedicine(PrescriptionMedicine)" id="BtnInfusionMedicineRemove"></phi-buttonremove>
            </td>
        </tr>
        </tbody>
      </div>
    </div>
  </div>
</form>
