/*!
 * PHI Theme
 * styles in src/style directory are applied to the whole page
 */

@import 'variables';

html,body, #app {width:100%;height: 100%;}

//a {
//  cursor: pointer;
//  text-decoration: none;
//  color:$iconColor;
//}

@font-face {
  font-family: Open Sans;
  //font-style: normal;
  //font-weight: 400;
  src: local("Open Sans Regular"),local("OpenSans-Regular"),url(../public/font/OpenSans-Regular.ttf) format("truetype")
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

@media print {
  header, nav, button { display: none !important; }
  main { position: initial !important; }
  .main-container.menu-visible { padding-left: 0 !important; }
  body { font-size: 1em; }
  input { border: 0 !important; padding:0 !important; overflow:visible; }
  .fullHeight { display: block !important; }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

form {
  height: 100%;
  width: 100%;
  margin: 0;
}

form#hf {
  display: none;
}

.fullHeightWidth {
  height: 100%;
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}

.halfHeight {
  height: 50%;
}
.halfWidth {
  width: 50%;
}

.fillHeight {
  display:flex;
  flex:2;
  overflow:auto;
}

.max-height-100 {
  max-height: 100px;
  overflow: auto;
}
.max-height-120 {
  max-height: 120px;
  overflow: auto;
}
.max-height-300 {
  max-height: 300px;
  overflow: auto;
}
.max-height-400 {
  max-height: 400px;
  overflow: auto;
}
.max-height-600 {
  max-height: 600px;
  overflow: auto;
}
.max-height-100x100 {
  max-height: 100%;
  overflow: auto;
}

.max-width-half-screen {
  max-width: 50vw;
}

.max-width-half-spaced {
  padding-left: 10px;
  max-width: 50%;
}

.two-row-height {
  height: 102px;
}

.scroll {
  overflow: auto;
}
.scrollX {
  overflow-x: auto;
}

caption {
  padding-top: 0;
  padding-bottom: 0;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.bold { font-weight:bold; }
.italic { font-style: italic; }
.small { font-size:x-small; }

.layout { display: flex; box-sizing: border-box;}
.layout.fill > .layout {flex-basis: 100%;}
.layout.center {justify-content: center;}
.layout.end {justify-content: flex-end;}
.layout.space-between {justify-content: space-between; flex-wrap: wrap;}
.layout.space-around {justify-content: space-around; flex-wrap: wrap;}
.layout.vertical {flex-direction: column;}

.layout.horizontal > .phi-widget:not(.phi-textarea){align-self: flex-end;}
.layout.horizontal > .phi-widget.no-label {margin-top: 23px;}

.phi-textarea {width:100%;}
.phi-textarea textarea {width:100%;}

.phi-widget {padding: 1px;box-sizing: border-box;}
td > .phi-widget {padding: 0;}

.phi-widget > input[type="number"] {width: 75px;}
.phi-widget > input[type="time"] {width: 100px;}

.fieldset, .widget-value {
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
}
.widget-value label {
  display: inline-block;
}
.widget-value.vertical label {
  display: block;
}

.fieldset {
  position: relative;
  padding: 20px 10px 6px 10px;
}

.fldstLabel {
  position: absolute;
  top: 0px;
}

.widget-value:not(.vertical) > label {
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

button, .button {
  margin-bottom: 0;
}
input, textarea, select, fieldset {
  margin-bottom: 0;
}

td > span {display: block;}

.row {
  padding: 5px 5px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

.tab-content > .layout {
  width: 100%;
}

.ng-invalid > label:after {
  content:"*";
  color:#b94a48;
}
.disabled {
  pointer-events: none;
  cursor: default;
}

.popup-menu {
  width: 250px;
  button {position:relative; width:98%;};
  i {position:absolute; top:8px; left: 10px; width: 16px;};
}

.loader{
  border: #{$loader};
}
#loader2{
  border: #{$loader1};
}
#loader3{
  border: #{$loader2};
}
#loader4{
  border: #{$loader3};
}

.phi-logo {
  background: url(svg/phiTechMinimal-small.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 40px;
  width: 130px;
  display: inline-block;
}

.customer-logo {
  background: url(#{$logo});
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: #{$logoheight};
  background-color: $primaryColor;
  margin-bottom: 18px;
}

.PHARMA {
  background: url(svg/pill.svg);
  background-repeat:no-repeat;
  background-position-y: center;
  background-size: 20px;
  background-position-x: 8px;
}
.INFU {
  background: url(svg/dropper.svg);
  background-repeat:no-repeat;
  background-position-y: center;
  background-size: 30px;
}

.warning {
  color:orange;
}

.error {
  color:red;
}

.orangeStroke { -webkit-text-stroke: 1px orange; }

//Erogation Status used by dashboard\nurse-activity\nurse-activity.html and dashboard\drug-prescriber\erogation.html
.ALMOST_NOW { background-color: red }

.CANCELLED, .DUE_FUTURE_DISABLED, .DUE, .OVERDUE { color: grey; }
.CANCELLED:before, .DUE_FUTURE_DISABLED:before, .DUE:before, .OVERDUE:before, .DUE_FUTURE_ENABLED:before { content: "\f111"; }

.CANCELLED_NOTE { color: red; }
.CANCELLED_NOTE:before { content: "\f111"; }

.EROGATED_AS_PLANNED, .DUE	{ color: limegreen; }
.EROGATED_EARLY, .EROGATED_LATE, .DUE_FUTURE_ENABLED  { color: #ffd024; }
.EROGATED_AS_PLANNED:before, .EROGATED_EARLY:before, .EROGATED_LATE:before { content:"\f058"; }

//fa-times-circle \f057
.MISSED		{ color: red; }
.MISSED:before  { content:"\f06a"; }

.EXCEPTION, .EXCEPTION_WRONG_DRUG, .EXCEPTION_WRONG_DOSE, .EXCEPTION_OTHER_REASON { color: red; }
.EXCEPTION:before, .EXCEPTION_WRONG_DRUG:before, .EXCEPTION_WRONG_DOSE:before, .EXCEPTION_OTHER_REASON:before { content:"\f057"; }

.UNSUCCESSFUL, .UNSUCCESSFUL_PATIENT_REFUSED, .UNSUCCESSFUL_PATIENT_ABSENT, .UNSUCCESSFUL_DRUG_UNAVAILABLE, .UNSUCCESSFUL_NIL_BY_MOUTH, .UNSUCCESSFUL_OTHER_REASON { color: red; }
.UNSUCCESSFUL:before, .UNSUCCESSFUL_PATIENT_REFUSED:before, .UNSUCCESSFUL_PATIENT_ABSENT:before, .UNSUCCESSFUL_DRUG_UNAVAILABLE:before, .UNSUCCESSFUL_NIL_BY_MOUTH:before, .UNSUCCESSFUL_OTHER_REASON:before { content:"\f057"; }

.AS_NEEDED { color: cornflowerblue; }
.AS_NEEDED:before { content:"\f059"; }

.EROGATING { color: limegreen; }


//Appointment status used by ambulatory-calendar and ambulatory portal
.app {
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 3px;

  &:before {
    color: white;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 14px;
  }

  &.new {background-color: cornflowerblue;}
  &.new:before {content: "\f254";} // fa-hourglass

  &.planned, &.awaiting {background-color: cornflowerblue;} // awaiting for KLINIK
  &.planned:before, &.awaiting:before {content: "\f017";} // fa-clock-o

  &.arrived {background-color: cornflowerblue;}

  &.active {background-color: green;}

  &.reported {background-color: green;}
  &.reported:before {content: "\f15c";} // fa-file-text

  &.completed {background-color: green;}
  &.completed:before {content: "\f00c";} // fa-check

  &.suspended {background-color: orange;}
  &.suspended:before {content: "\f068";} // fa-minus

  &.nullified { background-color: orange;  }
  &.nullified:before {content: "\f12a";} // fa-exclamation

  &.cancelled {background-color: red;}
  &.cancelled:before {content: "\f00d";} // fa-times

  &.terminated {background-color: orange;} // terminated for KLINIK
  &.terminated:before {content: "\f12a";} // fa-exclamation

  &.waitingproc {background-color: green;} // waiting for KLINIK
  &.waitingproc:before {content: "\f12a";color: yellow;} // fa-exclamation
}

//Appointment status used only by ambulatory portal
.app-portal{
  width: 30px;
  height: 30px;

  &:before {
    font-size: 28px;
    line-height: 30px;
  }
}


.truncate-text { max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.errorMessages {
  z-index: 98;
  margin: 0;
  color: #a94442;
  background-color: #f2dede;
  padding: 3px;
  font-weight: bold;
  position: relative;
  border: 1px solid #ebccd1;
  line-height: 20px;
  border-radius: 4px;
}

/* Chrome datepicker customization */

input[type="date"], input[type="datetime-local"] {
  position: relative;
}
/* custom icon inside input */
/* input[type="date"]:after, input[type="datetime-local"]:after {
   font-family: FontAwesome;
   content: "\f073";
   color: #555;
   padding: 0 5px;
 }*/
 /* make the native arrow invisible and stretch it over the left 20px so you can click right part of the input field to trigger the native datepicker*/
 ::-webkit-calendar-picker-indicator {
   cursor: pointer;
   position: relative;
   top: 0;
   right: 0;
   bottom: 0;
   width: 20px;
   height: 20px;
   //color: transparent;
   //background: transparent;
 }
/* adjust increase/decrease button */
::-webkit-inner-spin-button {
  z-index: 1;
}

/* hide clear button */
::-webkit-clear-button {
  display: none;
}

.dummyClassVisibleSearch{
  min-height: 10px;
}

.dummyClassInvisibleSearch{
  min-height: 20px;
}
