@import 'variables';

// tabbedpanel
.hidden {display:none !important;}

/* action messages */
.message {padding:16px;margin:0 0 16px;position:relative;text-align:center;}
.message div {padding:5px 0 7px 80px;}
.message div h3 {margin-bottom:8px;font-weight:bold;}
.message div .cms {background:none;padding:0;}
.message .close {position:absolute;right:0px;top:0px;padding:5px 30px;cursor:pointer;background-color: black;}
.message .logout {position:absolute;left:0px;top:0px;padding:5px 30px;cursor:pointer;background-color: black;}
.message .close:hover {font-weight:bold;cursor:pointer;}
.msg-warning {background: #dbce0b;}
.msg-warning:before {font-family: FontAwesome;color: red;font-size: 60px;content: "\f06a";display: inline;line-height: 1;}
.msg-error {background:#ca1e1e;color:#fff;}
.msg-error .cms {/*background:url(../images/icons/error.png) no-repeat 0 0;*/min-height:60px;}
.msg-success {background:#76ac12 /*url(../images/layout/bg-green.png) repeat-x 0 0;*/}
.msg-success .cms {/*background:url(../images/icons/success.png) no-repeat 0 0;*/min-height:60px;}


/* paging */
.paging {display:block;float:right;}
.paging ul {display:block}
.paging ul li {display:block;float:left;margin-bottom:0;}
.paging ul li a {display:block;float:left;padding:7px 2px;line-height:1;font-size:15px;text-decoration:none;font-weight:bold;background-color: $headerColor;color:$headerTextColor;}
.paging ul li:hover a,
.paging ul li.active a {background-color:$tableRowSelected;color:$headerTextColor;}

/* calendar button*/
.ui-datepicker-trigger {font-family:FontAwesome;color:$iconColor;font-style:normal;display: inline-block;transform: translateX(-180%);line-height: 21px;cursor:pointer;/*pointer-events:none;*/}
.ui-datepicker-trigger:before {content:"\f073";}
/* jQuery UI tabs */
.tabset {width:100%;}
.tabset .tabs {list-style: none;margin-bottom: 22px;}
.tabset .tabs li {float:left;margin:0 6px 0 0;background-color: $tabBgColorDisabled;}
.tabset .tabs li a {text-decoration: none;font-size: 16px;padding:2px 5px;color: $tabTextColorDisabled;}
.tabset .tabs li.active {background-color: $tabBgColor;}
.tabset .tabs li.active a {cursor:text;color: $tabTextColor;}

.tabset .tab-content {background-color: $tabBackground;border: $tabBorder;margin-bottom: 3px;padding-bottom: 3px;}

/*Div widget container*/
.widgetDiv {position: absolute;/*white-space: nowrap;*/}

/* GroupBox and Legend */
.groupBoxLegend {display: block !important;font-size: 16px;padding: 1px 10px;background:$groupBoxLegendBgColor;color:$groupBoxLegendTextColor;}
.groupBox{height:100%;background-color: $groupBoxBgColor;border: $groupBoxBorder;}

#fPop .groupBox{position:static;height:100%;border: $groupBoxBorder;}

input[type=image]:hover, a:hover img {opacity: 0.7; filter: alpha(opacity=70); /* For IE8 and earlier */}

input[type=text]:disabled, input[type=password]:disabled, textarea:disabled, select:disabled, .disabled {background-color:#ddd;}
a {color: $iconColor;text-decoration:none;}
a:hover {cursor:pointer;}
a.disabled {color: #EBEBE4;cursor: default;}
a.disabled:before, a.disabled i:before, .disabled .ui-datepicker-trigger {color: #EBEBE4;cursor: default;}

.buttonContainer.disabled:after {color: #EBEBE4;cursor: default;}
.buttonContainer.disabled input {cursor: default;}
.buttonContainer > a {margin: 2.5px; display: inline-block; text-align: center;}
.buttonContainer {padding: 0 !important;}

/* Error, validation msg */
.rich-message, .errorMessage {display:block;color:red;font-weight:bold;z-index:1999;min-height:20px; margin:2.5px 0;}
.errorMessage {position: absolute;}

/*Errors in home header*/
.errorHeader {color:red; font-weight:bold;}

/*Errors in home summary*/
#main-nav #errorMenu #errorMenuErrors dl dt span {color:red;display:block;padding:6px 10px 3px 33px;border-bottom:1px solid #ddd;}
//#main-nav #errorMenu #errorMenuErrors dl dt span {background-image:url(../images/audit/outcome-12.gif);background-repeat:no-repeat;background-position:10px 6px;}

#main-nav #errorMenu #errorMenuInfos dl dt span {color:green;display:block;padding:6px 10px 3px 33px;border-bottom:1px solid #ddd;}
//#main-nav #errorMenu #errorMenuInfos dl dt span {background-image:url(../images/audit/outcome-0.gif);background-repeat:no-repeat;background-position:10px 6px;}

/* BIRTHPLACE WIDGET */
.birthPlace {width:100%;clear:both;display:block;}
.birthPlace li {width:100%;clear:both;display:block;float:left;}
.birthPlace li label {float:left;}
.birthPlace li input {float:left;}
.birthPlace li span {float:left;}

/*CUSTOM POSITIONING TO BE USED IN styleClass of widgets*/
.topDiv {width:100%;height:50%;}
.bottomDiv {width:100%;height:50%;}
.leftDiv {float:left;width:50%;height:100%;}
.rightDiv {float:left;width:50%;height:100%;}

.h50 {width:97%;height:47%;margin:1%}
.h45 {width:97%;height:42%;margin:1%}
.h45scroll {width:97%;height:42%;margin:1%;overflow:auto;}
.h10 {width:97%;height:7%;margin:1%}

.w50 {width:47%;height:97%;margin:1%;float:left;}

.h50w50 {width:47%;height:47%;margin:1%;float:left;}
.h100w100 {width:100%;height:100%;}

/*JsTree*/
.treeIconSize {font-size:22px;}
/*checkbox tree-show checkbox only on leaves*/
.checkOnlyLeaves li.jstree-open > a.jstree-anchor > i.jstree-checkbox,
.checkOnlyLeaves li.jstree-closed > a.jstree-anchor > i.jstree-checkbox { display:none;}


.buttonBase, .pdfReportButton {text-decoration: none;background: transparent;cursor:pointer;display: inline-block;color:$iconColor;}/*BUTTON TRASPARENT TO REMOVE 4 VCO!!!*/
.buttonBase i {vertical-align: middle;}
.buttonBase i:before, .pdfReportButton i:before{font-family:FontAwesome;color:$iconColor;font-size:48px;font-style:normal;line-height:1em;}
.buttonBase:hover i:before, .pdfReportButton:hover i:before {color:$iconHoverColor;}

/*@if $font-awesome-buttons == true {*/

.buttonGeneric {margin-right: 5px;width: initial;height: initial;/*background-color: $tertiaryColor;*/border: none;}/*BUTTON BORDER TO REMOVE 4 VCO!!!*/
//.buttonGeneric span:hover {color:#fff;}
.dt .buttonBase i:before {font-size: 24px;}
.buttonBan i:before {content:"\f05e";}
.buttonBase.fa2x i:before {font-size: 2em;}
.buttonAdd i:before {content:"\f067";}
.buttonBack i:before {content:"\f060";}
.buttonCancel i:before {content:"\f00d";}
.buttonCheck i:before {content:"\f00c";}
.buttonClean i:before {content:"\f12d";}
.buttonEdit i:before {content:"\f040";}
.buttonHistory i:before {content:"\f017";}
.buttonHome i:before {content:"\f015";}
.buttonInfo i:before {content:"\f129";}
.buttonLock i:before {content:"\f023";}
.buttonNext i:before {content:"\f061";}
.buttonOk i:before {content:"\f00c";}
.buttonRefresh i:before {content:"\f021";}
.buttonRemove i:before {content:"\f068";}
.buttonSave i:before {content:"\f0c7";}
.buttonSaveTemp i:before {content:"\f0c7";color:orange;}
.buttonSearch i:before {content:"\f002";}
.buttonUnlock i:before {content:"\f13e";}
.pdfReportButton i:before {content:"\f1c1";}

/*} @else {

.buttonFlat {background-color: #e7e7e7;color: black;border: none;font-size: 14px;margin: 4px 2px;padding: 5px 20px;}
.buttonBase {min-width:12px;border: none;}
.buttonAdd {background:transparent url(../../images/24x24/plus.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.buttonBack {background:transparent url(../../images/phi_arrow_BACK_green_72.png) no-repeat top left;;background-size:100% 100%;border:0;height:49px;width:49px;}
.buttonCancel {background:transparent url(../../images/24x24/cancel.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.buttonCheck {background:transparent url(../../images/24x24/check.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.buttonClean {background:transparent url(../../images/clean_24.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.buttonEdit {background:transparent url(../../images/edit.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.buttonHome {background:transparent url(../../images/HomeIcon.png) no-repeat top left;background-size:100% 100%;border:0;height:49px;width:49px;}
.buttonNext {background:transparent url(../../images/phi_arrow_green_72.png) no-repeat top left;;background-size:100% 100%;border:0;height:49px;width:49px;}
.buttonOk {background:transparent url(../../images/phi_frame_OK.png) no-repeat top left;;background-size:100% 100%;border:0;height:49px;width:49px;}
.buttonRemove {background:transparent url(../../images/24x24/minus.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.pdfReportButton {background:transparent url(../../images/pdf.png) no-repeat top left;;background-size:100% 100%;border:0;height:49px;width:49px;}
.pdfReportButtonMulti{background-size: 28px 28px;display: block;cursor:pointer;}
.buttonRefresh {background:transparent url(../../images/24x24/reload.png) no-repeat top left;background-size:100% 100%;border:0;height:24px;width:24px;}
.buttonSave {background:transparent url(../../images/save.png) no-repeat top left;background-size:100% 100%;border:0;height:48px;width:48px;}
.buttonSaveTemp {background:transparent url(../../images/saveTemp.png) no-repeat top left;background-size:100% 100%;border:0;height:48px;width:48px;}
.buttonSearch {background:transparent url(../../images/Medical_Report_Search.png) no-repeat top left;background-size:100% 100%;border:0;height:48px;width:48px;}
.buttonAdd, .buttonBack, .buttonCancel, .pdfReportButton, .buttonCheck, .buttonEdit, .buttonHome, .buttonNext, .buttonNext > a, .buttonOk, .buttonRemove, .buttonExport, .buttonClean, .buttonRefresh, .buttonSave, .buttonSaveTemp, .buttonSearch {display:block;}
.buttonBase, .buttonAdd, .buttonBack, .buttonCancel, .buttonCheck, .pdfReportButton, .buttonEdit, .buttonHome, .buttonNext, .buttonOk, .buttonRemove, .buttonExport, .buttonClean, .buttonRefresh, .buttonSave, .buttonSaveTemp, .buttonSearch {cursor:pointer;}

}*/

/* LABELS */
.label, .widget-label{font-weight:bold; text-align: right; margin-right: 5px; width:150px;}
.label, .widget-label, .reqStar  {min-height:20px;}
.widget-label{float:left;}

/* WIDGETS */
.listBox {max-height:250px;}

option:disabled{display:none;}

.sizePlaceholder {width:100%;height:1px;clear:both;}
.virtualPageBox{width:100%;/*height:100%;*/}
/* TEXT AREA */
textarea {resize:vertical;}
.inputArea textarea {width: 100%;height: 100%;}
.pell-button {width: 40px !important}
/* .inputArea>div is necessary for tinymce to work properly */
.inputArea>div {padding-left: 155px;height: 100%;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;}
textarea[readonly],textarea[disabled] {overflow:auto;}
input[readonly],textarea[readonly],textarea[disabled] {background-color:#EBEBE4;}

textarea { transition: all 0.5s ease; }

/* MONTH CALENDARS */
.monthCalendar.datepicker {width:200px;}
.monthCalendar.datetimepicker {width:200px;}
.monthCalendar.timepicker {width:70px;}

/* RADIO GROUP RENDERED TABLE SETTINGS */
.radioGroupTable {margin-bottom: 0px;}
.radioGroupTable td {padding:3px 5px;border-bottom: 0px;line-height: 1;}
.radioGroupTable td input,
.radioGroupTable td label {vertical-align:middle;display: inline;}

/* GROUP CHECKBOX RENDERED TABLE SETTINGS */
.checkGroupTable {margin-bottom: 0px;}
.checkGroupTable td {padding:3px 0;border-bottom: 0px;line-height: 1;}
.checkGroupTable td input,
.checkGroupTable td label {vertical-align:middle;display: inline;}

/* SLIDER */
.hSlider {display:inline-block;width:120px;}
.vSlider {margin: 0 auto;height:150px;}
.vSlider a{left:0 !important;}
.hInput {margin-left:5px;}
.vInput {margin:5px 2.5px 0 2.5px;}
.hInput, .vInput{text-align:right;height:19px;}
.hSlider, .hInput{vertical-align:middle;}

/* PICKLIST */
.pickList_sourceListContainer, .pickList_targetListContainer {width: 39%; height: 100%;}
.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer { float: left; margin: 0 0.5%; box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.pickList_controlsContainer { text-align: center;width:19%;height: 100%;}
.pickList_controlsContainer button {width: 100%;padding: 5px;background-color:$tertiaryColor;border: none;margin: 2px;}
.pickList_list { list-style-type: none; margin: 0; padding: 0; float: left; width: 100%; height: 85%; border: 1px solid #ABADB3; overflow-y: auto; cursor: default;  box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.pickList_selectedListItem { background-color: #3297FD; color: #FFFFFF; }
.pickList_listLabel { font-size: 0.9em; font-weight: bold; text-align: center; height:15%;}
.pickList_clear { clear: both; }
.pickList {max-height: 250px;min-height: 10px;}
.pickList_sourceListContainer ul.required, .pickList_targetListContainer ul.required {border: 1px solid red;}
.pickList_sourceListContainer ul.disabled, .pickList_targetListContainer  ul.disabled{border:1px solid #ABADB3;background-color:#EBEBE4;color:#545454;}

/* TEXT SUGGESTION */
.inputText.autoAddress {width:150px;}
.textSuggestionSeparator {display:inline-block;width:5px;text-align:center;}
.layoutHorizontal .textSuggestionSeparator, .layoutVertical .textSuggestionSeparator {float:left;}

/* LAYOUTS AND CONTAINERS*/
.layoutRoot {display: flex;height:100%;width:100%;}
.layoutRootVertical {flex-direction: column;}

.layoutContainerHorizontal, .layoutContainerVertical, .layoutHorizontal, .layoutVertical,
.layoutContainerHorizontal .ui-datepicker-trigger, .layoutContainerVertical .ui-datepicker-trigger, .layoutHorizontal .ui-datepicker-trigger, .layoutVertical .ui-datepicker-trigger,
.reqStar, .widgetDivChild, .interval input, .interval label, .interval .ui-datepicker-trigger, .intervalSpan, .tabbedPanel,
.inputText, .label, .comboBox, .listBox, .monthCalendar, .inputArea, .radioGroup, .groupCheckBox, .link, .layoutSuggestionCpa {float:left;box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.hr {margin-block-start: 0.5em; margin-block-end: 0.5em;}
.slider, .widgetDivChild {float:left;}
.checkBox, .layoutGroupBox, .layoutGroupBoxOuter {box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.layoutContainerVertical, .layoutVertical {clear:both;flex-shrink:0;}
.groupCheckBox td, .radioGroup td {padding-left: 0;}
.layoutContainerVertical {width:100%;}
.layoutContainerHorizontal {height:100%;}
.layoutGroupBox {width:100%;background-color:$groupBoxBgColor;border:$groupBoxBorder;}

.layoutVertical, .widgetDivChild, .inputArea  {width:100%;}
.layoutHorizontal, .layoutVertical, .layoutGroupBox, .layoutGroupBoxOuter, .tabbedPanel .tab-content {padding:2.5px;}
.layoutHorizontal .errorMessages, .layoutVertical .errorMessages {float:left;clear:both;}

.layoutSuggestionCpa {margin:0 5px;width: 25px;}

/* Data table */
.dt {width:100%;float:initial;}
.dt table {width:100%;}
.dt .caption {float:left;padding:4px 10px 3px 10px;color:$headerTextColor;background-color:$headerColor;}
.dt .caption input {border:none;margin-bottom:0px;height:28px;margin-left:10px;color:black;}
.dt .caption label {font-size: 16px;float:left;}
.dt table thead tr th {
  color: $headerTextColor;
  background-color: $headerColor;
  font-weight: normal;
  position: sticky;
  top: 0;
}
.dt table thead tr th:after {
  content:'';
  position: absolute;
  width:100%;
  /*border-bottom: 3px solid $headerBorderColor;*/
  box-sizing: border-box;
  left: 0;
  bottom: -3px;
}
.borderTop {
  border-top: 3px solid $headerBorderColor;
}

.dt table .selRow td {background-color:$tableRowSelected;}
.dt .selectable tr,
.dt .sortableColumn,
.dt table th a {cursor:pointer;}
.dt .selectable tr:hover {background-color: $tableRowHover;}
.dt table th a {color: $headerTextColor;text-decoration:none;}
/*.dt span {display:block;}*/

.dt table tbody {overflow: auto;border-bottom: 2px solid $headerColor;}

.dt table tbody tr:nth-child(even) {background: $tableRowEven}
.dt table tbody tr:nth-child(odd) {background: $tableRowOdd}

/* Popup data table */
#fPop {text-align:left;}
#fPop .dt .tableHeader {table-layout:auto;}


/* POPUPS */
.pu-msg-error {background:#ca1e1e /*url(../images/layout/bg-red.png) repeat-x 0 0*/;color:#fff;}
.pu-msg-error .ui-widget-header{color:#fff;background-color:$tertiaryColor;/*border-color:#851212*/}
.pu-msg-error  .ui-dialog-buttonpane {background:none;border-color:#851212;border-width:2px 0 0 0;}
.pu-msg-error  .ui-button {background:#ca1e1e;border-color:#851212;color:#fff;}
.pu-msg-error  .ui-button:hover{background:#851212;border-color:#ca1e1e;color:#fff;}
.pu-msg-error  .cms,.pu-msg-success  .cms {color:#fff;}
.pu-msg-success {background:#76ac12 /*url(../images/layout/bg-green.png)*/ repeat-x 0 0;color:#fff;}
.pu-msg-success .ui-widget-header{background-color:#76ac12;border-color:#62910E;color:#fff;}
.pu-msg-success  .ui-dialog-buttonpane {background:none;border-color:#62910E;border-width:2px 0 0 0;}
.pu-msg-success  .ui-button {background:#76ac12;border-color:#62910E;color:#fff;}
.pu-msg-success  .ui-button:hover {background:#62910E;border-color:#76ac12;color:#fff;}
.pu-no-close .ui-dialog-titlebar-close {display: none;}
.pu-other-customizations .cms {padding: 11px;float: right;}

.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {font-size: 0px;}

.ui-button-icon.ui-icon.ui-icon-closethick {display: block;}

/* SCROLL TO TOP BUTTON */
.scroll-to-top {position: fixed;bottom: 10px;right: 25px;width: 36px;height: 36px;overflow: hidden;z-index: 9999;cursor: pointer;}
.scroll-to-top:before {color: $primaryColor;font-family: FontAwesome;font-style: normal;content: "\f077";font-size: 3em;line-height: 1;}
/* SIZES */
.width-100{width:100%;}
.width-50{width:50%;}
.width-25{width:25%;}

/* CUSTOMER DEFAULT CLASSES [FORMS] */
.c-text-bold {font-weight:bold !important;}
.c-text-italic{font-style:italic !important;}
.c-text-underline{text-decoration:underline !important;}
.c-text-line-through{text-decoration:line-through !important;}
.c-text-center{text-align:center !important;}
.c-fill-DDDDDD{background-color:#DDDDDD;}

/* VCO */
.c-label-base {font-weight:bold;margin-right:5px;}
.c-img-center {display:block;margin:auto}
.c-img-left {display:block;margin:auto 0}
.c-margin-bottom-5{margin-bottom:5px;}
.c-margin-bottom-10{margin-bottom:10px;}
.c-margin-bottom-20{margin-bottom:20px;}
.c-margin-top-5{margin-top:5px;}
.c-margin-top-10{margin-top:10px;}
.c-margin-top-20{margin-top:20px;}
.c-margin-left-5{margin-left:5px;}
.c-margin-left-10{margin-left:10px;}
.c-margin-left-20{margin-left:20px;}
.c-margin-right-5{margin-right:5px;}
.c-margin-right-10{margin-right:10px;}
.c-margin-right-20{margin-right:20px;}

@media screen and (max-width:600px) {
  .c-no-float-cont-resp-155 {margin-left: 0;float:none;}
  .c-no-float-cont-tarea-size-resp-155 {margin-left: 0px;width: calc(100% - 12px);float:none;}
}

@media screen and (min-width:601px) {
  .c-no-float-cont-resp-155 {margin-left: 155px;float:none;}
  .c-no-float-cont-tarea-size-resp-155 {margin-left: 155px;width: calc(100% - 167px);float:none;}
}

.c-min-width-150{min-width:150px;height:auto;}
.c-min-width-200{min-width:200px;height:auto;}
.c-min-width-250{min-width:250px;height:auto;}

.c-button-icon-24 i:before {font-size: 24px;}
.c-button-icon-32 i:before {font-size: 32px;}

/* allarm position */
.c-display-inline-box{display:inline-box;}

/* CUSTOM CLASSES [FORMS] */
.c-border-0080FF{border:1px solid #0080FF;}
.c-border-silver{border:1px solid silver;}
.c-border-white{border:1px solid white;}
.c-fill-A6C198{background-color:#A6C198;}
.c-fill-blue{background-color:blue;}
.c-fill-DBDBDB{background-color:#DBDBDB;}
.c-fill-E4E4E4{background-color:#E4E4E4;}
.c-fill-E8E8E8{background-color:#E8E8E8;}
.c-fill-E9E9E9{background-color:#E9E9E9;}
.c-fill-E9EDF4{background-color:#E9EDF4;}
.c-fill-D0D8E8{background-color:#D0D8E8;}
.c-fill-4F81BD{background-color:#4F81BD;}
.c-fill-green75{background-color:#80FF80;}
.c-fill-red75{background-color:#ff8080;}
.c-fill-lightblue{background-color: lightblue;}
.c-padding-base{padding: 0 10px;}
.c-text-004000{color:#004000;}
.c-text-0080FF{color:#0080FF;}
.c-text-04{font-size:04px;}
.c-text-06{font-size:06px;}
.c-text-07{font-size:07px;}
.c-text-08{font-size:08px;}
.c-text-09{font-size:09px;}
.c-text-10{font-size:10px;}
.c-text-11{font-size:11px;}
.c-text-12{font-size:12px;}
.c-text-14{font-size:14px;}
.c-text-16{font-size:16px;}
.c-text-18{font-size:18px;}
.c-text-20{font-size:20px;}
.c-text-24{font-size:24px;}
.c-text-36{font-size:36px;}
.c-text-48{font-size:48px;}
.c-text-72{font-size:72px;}
.c-text-B5B500{color:#B5B500;}
.c-text-D80B05{color:#D80B05;}
.c-text-FF8040{color:#FF8040;}
.c-text-green{color:green;}
.c-text-lime{color:lime;}
.c-text-maroon{color:maroon;}
.c-text-olive{color:olive;}
.c-text-red{color:red;}
.c-text-yellow{color:yellow;}
.c-text-white{color:white;}

.c-text-white{color:white;}
.c-text-red{color:red;}
.c-text-lime{color:lime;}
.c-text-0080FF{color:#0080FF;}
.c-text-B5B500{color:#B5B500;}
.c-text-D80B05{color:#D80B05;}
.c-text-FF8040{color:#FF8040;}
.c-newline-label{white-space:normal;overflow:auto;display:block;}

/* SIZES */
.c-width-resp-50 {width:50%;}
.c-width-resp-30 {width:30%;}
.c-width-resp-33 {width:33.333333333333%;}
.c-width-resp-70 {width:70%;}

.c-width-resp-45-lazy {width:45%;}
.c-width-resp-10-lazy {width:10%;}

@media screen and (min-width:1000px) and (max-width:1400px) {
  .c-width-resp-33 {width:50%;}
  .c-width-resp-33:last-child{width:100%;}
}
@media screen and (max-width:999px) {
  .c-width-resp-45-lazy {width:90%}
  .c-width-resp-50,
  .c-width-resp-30,
  .c-width-resp-33,
  .c-width-resp-70,
  .c-width-resp-45-lazy:last-child {width:100%;}
}

/* FOCUS COLUMN ROW */
.redRow{color:red;}
.greenRow{background-color: #E0ECB7;}
