.hidden {display:none !important;}

#lyt-labreport-tbl {
  font-size: 12px;
  th {
    height: 102px;
  }
  td {
    padding: 0;
    height: 18px;
    max-height: 18px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 0;
    span {
      overflow: hidden;
      max-height: 18px;
    }
  }

  #dg-labreport-exam {
    width: 410px;
    min-width: 410px;
    overflow:hidden;

    tr:last-child {
      height: 50px;
      vertical-align: top;
    }

    th, td {
      min-width: 200px;
    }

    .no-border {
      border: none;
      span {
        display: none;
      }
    }
  }

  #dg-labreport {
    overflow:auto;
      tr {
        i {
          float: left;
        }
        td, th {
          min-width: 170px;
          text-align: center;
        }
        .ok {
          color: black;
          background-color: #ddffdd;
          i {
            color: green;
          }
        }
        .waiting {
          i {
            color: grey;
          }
        }
        .error {
          color: black;
          background-color: #eedddd;
          i {
            color: red;
          }
        }
      }

  }
}

phi-slider {
  align-self: initial !important;
  width:100%;
}
