<form #form="ngForm" id="FormNanda">
  <h1>{{'FormNanda' | translate}}</h1>
  <div id="LytNanda" class="layout vertical">
    <div id="LytNandaBtnBar" class="layout horizontal fill">
      <div id="LytNandaBtnBarLft" class="layout horizontal">
        <div class="lbl">
        <label>{{'label_LblNandaDate' | translate}}</label>
        <span>{{now | dateFormat: 'short'}}</span>
        </div>
      </div>
      <div id="LytNandaBtnBarRght" class="layout horizontal end">
        <div class="lbl">
        <label>{{'label_LblNandaAuthor' | translate}}</label>
        <span>{{Employee.name.fam + ' ' + Employee.name.giv}}</span>
        </div>
      </div>
    </div>
    <div id="LytNandaMain" class="layout horizontal">
      <div id="LytNandaCoded" class="layout vertical" *ngIf="Nanda.statusCode.code == 'NANDACODED'">
        <phi-radiogroup id="RadioGroup_1504787167499" [listElementsExpression]="getAllOrFavorites()" (change)="typeChanged($event.value)"></phi-radiogroup>
        <div id="LytNandaCodedSearch" class="layout horizontal">
          <phi-textbox [(ngModel)]="DictionaryManager.searchByName['NANDA:NANDAStruktur']" name="DictionaryManager.searchByName['NANDA:NANDAStruktur']" id="TxtNandaSearch"></phi-textbox>
          <phi-buttonsearch (binding)="search()" id="BtnSearchNanda"></phi-buttonsearch>
          <phi-button (binding)="infoNanda()" id="BtnNandaInfo" styleClass="fa fa-info fa-2x"></phi-button>
        </div>
        <div id="LayoutRow_1508923558949" class="layout vertical" *ngIf="NandaInfo && Nanda.statusCode.code == 'NANDACODED'">
          <div class="lbl" *ngIf="NandaInfo.code" style="margin-bottom:.5em;">
          <label>{{'label_NandaInfoCode' | translate}}</label>
          <span>{{NandaInfo.code}}</span>
          </div>
          <div class="lbl" *ngIf="NandaInfo.currentTranslation" style="margin-bottom:.5em;">
          <label>{{'label_NandaInfoDesc' | translate}}</label>
          <span>{{NandaInfo.currentTranslation}}</span>
          </div>
          <div class="lbl" *ngIf="NandaInfo.description" style="margin-bottom:.5em;" class="max-width-half-screen">
          <label>{{'label_NandaInfoDet' | translate}}</label>
          <span>{{NandaInfo.description}}</span>
          </div>
        </div>
        <phi-tree [(ngModel)]="Nanda.nandaDiag" name="Nanda.nandaDiag" [listElementsExpression]="DictionaryManager.searchResults['NANDA:NANDAStruktur']" (change)="diagChanged()" styleClass="max-height-600" [required]="true" [selectOnlyLeaves]="true" [showCode]="true"></phi-tree>
      </div>
      <div id="LytNandaNotCoded" class="layout vertical">
        <div id="LytNandaTitle" class="layout vertical fieldset">
          <div id="LytNandaCoded2" class="layout vertical" *ngIf="Nanda.nandaDiag && Nanda.statusCode.code == 'NANDACODED'">
            <div class="lbl">
            <label>{{'label_LblNandaDesc' | translate}}</label>
            <span>{{Nanda.nandaDiag.code + ' - ' + Nanda.nandaDiag.currentTranslation}}</span>
            </div>
          </div>
          <phi-textarea [(ngModel)]="Nanda.titleDiag" name="Nanda.titleDiag" id="TxtANandaTitleDiag" [widgetLabel]="'label_TxtANandaTitleDiag' | translate" [required]="Nanda.statusCode.code == 'NANDANOTCODED'" [renderedEl]="Nanda.statusCode.code == 'NANDANOTCODED'"></phi-textarea>
          <div id="LayoutFill_1504779424118" class="layout horizontal">
            <div id="LayoutRow_1504779426870" class="layout horizontal">
              <phi-monthcalendar [(ngModel)]="Nanda.actNandaDate" name="Nanda.actNandaDate" id="CalNandaDate" [widgetLabel]="'label_CalNandaDate' | translate" [required]="true"></phi-monthcalendar>
            </div>
            <div id="LayoutRow_1504779431726" class="layout horizontal end" *ngIf="Nanda.statusCode.code == 'NANDANOTCODED'">
              <phi-checkbox id="ChkBxNandaRsk" (change)="riskChanged($event)">{{'ChkBxNandaRsk' | translate}}</phi-checkbox>
            </div>
          </div>
          <phi-radiogroup [(ngModel)]="Nanda.typePCP" name="Nanda.typePCP" id="RGrpNandaType" [widgetLabel]="'label_RGrpNandaType' | translate" domain="PHIDIC:NandaTypePCP" converter="Code Value Converter"></phi-radiogroup>
        </div>
        <div id="LytNandaDetails" class="layout vertical fieldset" *ngIf="Nanda.nandaDiag || Nanda.statusCode.code == 'NANDANOTCODED'">
          <div id="ETitle" class="layout vertical" title="{{'ETitle' | translate}}">
            <div class="lbl" *ngIf="Nanda.riskCode.code == 'NOTATRISK'">
            <label>{{'label_LblNandaE' | translate}}</label>
            <span></span>
            </div>
            <phi-groupcheckbox [(ngModel)]="Nanda.nandaBM" name="Nanda.nandaBM" id="GrChkNandaE" styleClass="max-height-100 max-width-half-screen" [listElementsExpression]="NANDAEtiologicFactors" [renderedEl]="NANDAEtiologicFactors != undefined && NANDAEtiologicFactors.length > 0" converter="Code Value Converter" layout="vertical"></phi-groupcheckbox>
            <phi-textarea [(ngModel)]="Nanda.elseNandaBM" name="Nanda.elseNandaBM" id="TxtANandaE" [renderedEl]="Nanda.riskCode.code == 'NOTATRISK'"></phi-textarea>
          </div>
          <div id="STitle" class="layout vertical" title="{{'STitle' | translate}}">
            <div class="lbl" *ngIf="Nanda.riskCode.code == 'NOTATRISK'">
            <label>{{'label_LblNandaS' | translate}}</label>
            <span></span>
            </div>
            <phi-groupcheckbox [(ngModel)]="Nanda.nandaBFSign" name="Nanda.nandaBFSign" id="GrChkNandaS" styleClass="max-height-100 max-width-half-screen" [listElementsExpression]="NANDASymptoms" [renderedEl]="NANDASymptoms != undefined && NANDASymptoms.length > 0" converter="Code Value Converter" layout="vertical"></phi-groupcheckbox>
            <phi-textarea [(ngModel)]="Nanda.nandaBFstr" name="Nanda.nandaBFstr" id="TxtANandaS" [renderedEl]="Nanda.riskCode.code == 'NOTATRISK'"></phi-textarea>
            <phi-textarea [(ngModel)]="Nanda.elseNandaRF" name="Nanda.elseNandaRF" id="TxtANandaRf" [widgetLabel]="'label_TxtANandaRf' | translate" [renderedEl]="Nanda.riskCode.code == 'ATRISK'"></phi-textarea>
          </div>
          <div id="RTitle" class="layout vertical" title="{{'RTitle' | translate}}">
            <div id="LytNandaR" class="layout horizontal fill">
              <div class="lbl">
              <label>{{'label_LblNandaR' | translate}}</label>
              <span></span>
              </div>
              <div id="LytNandaRbtn" class="layout horizontal end" *ngIf="Param['p.dashboard.activityprescriber.addresources']?.value && Nanda.statusCode.code == 'NANDACODED'">
                <phi-buttonadd (binding)="toggleResource()" id="BtnAddRsrc"></phi-buttonadd>
              </div>
            </div>
            <phi-groupcheckbox id="GrChkNandaR" styleClass="max-height-100 max-width-half-screen" [listElementsExpression]="CheckingResources" [renderedEl]="showResources" (change)="resourcesChanged($event)" layout="vertical"></phi-groupcheckbox>
            <phi-textarea [(ngModel)]="Nanda.resources" name="Nanda.resources" id="TxtANandaR"></phi-textarea>
          </div>
          <div id="CTitle" class="layout vertical" title="{{'CTitle' | translate}}">
            <div id="LytNandaC" class="layout horizontal fill" *ngIf="Nanda.riskCode.code == 'NOTATRISK'">
              <div id="LytNandaCdesc" class="layout vertical">
                <div class="lbl">
                <label>{{'label_LblNandaC' | translate}}</label>
                <span></span>
                </div>
                <div class="lbl" *ngIf="Nanda.consequenceDiag">
                <span>{{Nanda.consequenceDiag.code + ' - ' + Nanda.consequenceDiag.currentTranslation}}</span>
                </div>
                <div class="lbl" *ngIf="NandaConsequenceInfo">
                <label>{{'label_LblNandaCdesc' | translate}}</label>
                <span>{{NandaConsequenceInfo.description}}</span>
                </div>
              </div>
              <div id="LytNandaCbtn" class="layout horizontal end" *ngIf="Nanda.statusCode.code == 'NANDACODED'">
                <phi-buttonadd (binding)="toggleConsequenceDiag()" id="BtnAddCnsqnc" [renderedEl]="Nanda.consequenceDiag == undefined"></phi-buttonadd>
                <phi-button (binding)="infoNandaConsequence()" id="BtnNandaInfoCnsqnc" styleClass="fa fa-info fa-2x" [renderedEl]="Nanda.consequenceDiag != undefined"></phi-button>
                <phi-buttonremove (binding)="removeConsequenceDiag()" id="BtnRmvCnsqnc" [renderedEl]="Nanda.consequenceDiag != undefined"></phi-buttonremove>
              </div>
            </div>
            <phi-tree [(ngModel)]="Nanda.consequenceDiag" name="Nanda.consequenceDiag" domain="NANDA:NANDAStruktur" [renderedEl]="showConsequence" (change)="cnsqncChanged($event)" styleClass="max-height-600" [selectOnlyLeaves]="true" [showCode]="true"></phi-tree>
            <phi-textarea [(ngModel)]="Nanda.consequence" name="Nanda.consequence" id="TxtANandaC" [renderedEl]="Nanda.riskCode.code == 'NOTATRISK'"></phi-textarea>
            <phi-groupcheckbox [(ngModel)]="Nanda.nandaRF" name="Nanda.nandaRF" id="GrChkNandaRF" [widgetLabel]="'label_GrChkNandaRF' | translate" styleClass="max-height-100 max-width-half-screen" [listElementsExpression]="NANDARiskFactors" [renderedEl]="NANDARiskFactors != undefined && NANDARiskFactors.length > 0" converter="Code Value Converter" layout="vertical"></phi-groupcheckbox>
          </div>
        </div>
      </div>
    </div>
    <div id="LytNandaBtnBar2" class="layout horizontal fill">
      <div id="LytNandaBtnBarLft2" class="layout horizontal">
        <phi-buttoncancel (binding)="close()" id="BtnCancelNanda"></phi-buttoncancel>
      </div>
      <div id="LytNandaBtnBarRght2" class="layout horizontal end">
        <phi-buttonsave (binding)="save()" id="BtnSaveNanda" [form]="form"></phi-buttonsave>
      </div>
    </div>
  </div>
</form>
