<form #form="ngForm" id="FrmNandaDlt">
  <h1>{{'FrmNandaDlt' | translate}}</h1>
  <div id="LytNandaDlt" class="layout vertical">
    <div id="LytNandaDltHdr" class="layout horizontal fill">
      <div id="LytNandaDltHdrL" class="layout horizontal">
        <div class="lbl">
        <label>{{'label_LblNandaDltDate' | translate}}</label>
        <span>{{Nanda.cancellationDate | dateFormat: 'short'}}</span>
        </div>
      </div>
      <div id="LytNandaDltHdrR" class="layout horizontal end">
        <div class="lbl">
        <label>{{'label_LblNandaDltAuthor' | translate}}</label>
        <span>{{Nanda.cancelledBy.name?.fam + ' ' +Nanda.cancelledBy.name?.giv}}</span>
        </div>
      </div>
    </div>
    <phi-textarea [(ngModel)]="Nanda.cancellationNote" name="Nanda.cancellationNote" id="TxtaNandaDlt" [widgetLabel]="'label_TxtaNandaDlt' | translate" [required]="true" [disabled]="Nanda.cancelledByRole"></phi-textarea>
    <div id="LytNandaDltFtr" class="layout horizontal center">
      <phi-buttonsave (binding)="onDelete()" id="BtnSaveNanda" [renderedEl]="Nanda.cancelledByRole == undefined" [form]="form"></phi-buttonsave>
    </div>
  </div>
</form>
