<form #form="ngForm" id="FrmObjectiveNanda">
  <h1>{{'FrmObjectiveNanda' | translate}} {{Nanda.progNumber}} - {{Nanda.titleDiag}}{{Nanda.nandaDiag?.currentTranslation}}</h1>
  <div id="LytObjectiveNanda" class="layout vertical">
    <div id="LytObjectiveNandaHdr" class="layout horizontal fill">
      <div id="LytObjectiveNandaHdrL" class="layout horizontal">
        <div class="lbl">
        <label>{{'label_LblObjectiveNandaDate' | translate}}</label>
        <span>{{now | dateFormat: 'short'}}</span>
        </div>
      </div>
      <div id="LytObjectiveNandaHdrR" class="layout horizontal end">
        <div class="lbl">
        <label>{{'label_LblObjectiveNandaAuthor' | translate}}</label>
        <span>{{Employee.name.fam + ' ' + Employee.name.giv}}</span>
        </div>
      </div>
    </div>
    <div id="LytObjectiveNandaDesc" class="layout horizontal">
      <phi-textarea [(ngModel)]="ObjectiveNanda.text.string" name="ObjectiveNanda.text.string" id="TxtaObjectiveNandaDesc" [widgetLabel]="'label_TxtaObjectiveNandaDesc' | translate" [required]="true"></phi-textarea>
    </div>
    <div id="LytObjectiveNandaEval" class="layout horizontal fieldset">
    <label class="fldstLabel">{{'LytObjectiveNandaEval' | translate}}</label>
      <div id="LytObjectiveNandaEvalL" class="layout vertical">
      <phi-combobox [(ngModel)]="ObjectiveNanda.activity.responsibleRole" name="ObjectiveNanda.activity.responsibleRole" id="CbxObjectiveNandaRspnsbl" [widgetLabel]="'label_CbxObjectiveNandaRspnsbl' | translate" domain="ROLES:EmployeeFunction:10,12,21" converter="Code Value Converter"></phi-combobox>
        <phi-monthcalendar [(ngModel)]="ObjectiveNanda.activity.effectiveDate.low" name="ObjectiveNanda.activity.effectiveDate.low" id="CalObjectiveNandaEval" [widgetLabel]="'label_CalObjectiveNandaEval' | translate" [required]="true" dateTimeFormat="Date and Time"></phi-monthcalendar>
        <div id="LayoutRow_1507549881382" class="layout horizontal">
          <phi-monthcalendar [(ngModel)]="ObjectiveNanda.activity.effectiveDate.high" name="ObjectiveNanda.activity.effectiveDate.high" id="CalObjectiveNandaTmLmt" [widgetLabel]="'label_CalObjectiveNandaTmLmt' | translate" [disabled]="!enableTimeLimit" dateTimeFormat="Date and Time"></phi-monthcalendar>
          <phi-checkbox [(ngModel)]="enableTimeLimit" name="enableTimeLimit" id="ChkObjectiveNandaTmLmt"></phi-checkbox>
        </div>
        <phi-textarea [(ngModel)]="ObjectiveNanda.note" name="ObjectiveNanda.note" id="TxtaObjectiveNandaNt" [widgetLabel]="'label_TxtaObjectiveNandaNt' | translate"></phi-textarea>
      </div>
      <div id="LytObjectiveNandaEvalR" class="layout vertical">
        <div id="LayoutRow_1510560069089" class="layout horizontal">
          <phi-combobox [(ngModel)]="ObjectiveNanda.activity.supportRole" name="ObjectiveNanda.activity.supportRole" id="CbxObjectiveNandaSpprt" [widgetLabel]="'label_CbxObjectiveNandaSpprt' | translate" [disabled]="!ObjectiveNanda.activity.supportNumber || ObjectiveNanda.activity.supportNumber == 0" domain="ROLES:EmployeeFunction:10,12,21" converter="Code Value Converter">{{'CbxObjectiveNandaSpprt' | translate}}</phi-combobox>
          <phi-textbox [(ngModel)]="ObjectiveNanda.activity.supportNumber" name="ObjectiveNanda.activity.supportNumber" id="TextBox_1510560079329" converter="Integer Converter" minimum="0" (change)="supportNumberChanged(ObjectiveNanda.activity, $event.value)"></phi-textbox>
        </div>
        <phi-textbox [(ngModel)]="ObjectiveNanda.activity.timeSpent" name="ObjectiveNanda.activity.timeSpent" id="CbxObjectiveNandaTm" [widgetLabel]="'label_CbxObjectiveNandaTm' | translate" converter="Integer Converter" minimum="1" maximum="60">{{'CbxObjectiveNandaTm' | translate}}</phi-textbox>
        <phi-frequency [(ngModel)]="ObjectiveNanda.activity.dosage" name="ObjectiveNanda.activity.dosage" [frequencyDomain]="TemplateDosageAction.getDosages4Activity()" label="control_interval" [required]="true"></phi-frequency>
      </div>
    </div>
    <div id="LytObjectiveNandaFtr" class="layout horizontal fill">
      <div id="LytObjectiveNandaFtrL" class="layout horizontal">
        <phi-buttoncancel (binding)="close()" id="BtnCancObjectiveNanda"></phi-buttoncancel>
      </div>
      <div id="LytObjectiveNandaFtrR" class="layout horizontal end">
        <phi-buttonsave (binding)="save()" id="BtnSaveObjectiveNanda" [form]="form"></phi-buttonsave>
      </div>
    </div>
  </div>
</form>
