<form #form="ngForm" id="objective-close">
  <h1>{{'objective-close' | translate}}</h1>
  <div id="objective-close-main" class="layout vertical">
    <div id="date-author" class="layout horizontal fill">
      <div class="lbl">
      <label>{{'label_date' | translate}}</label>
      <span>{{date | dateFormat: 'short'}}</span>
      </div>
      <div id="date-author-spacer" class="layout horizontal">
      </div>
      <div class="lbl">
      <label>{{'label_author' | translate}}</label>
      <span>{{ObjectiveNanda.activity.author?.name?.fam + ' ' + ObjectiveNanda.activity.author?.name?.giv}}</span>
      </div>
    </div>
    <div class="lbl">
    <span class="bold">{{ObjectiveNanda.activity.nandaLep.currentTranslation}}</span>
    </div>
    <div id="objective-close-detail" class="layout horizontal">
      <div id="objective-close-info" class="layout vertical fieldset">
        <div class="lbl">
        <label>{{'label_objective-close-start' | translate}}</label>
        <span>{{ObjectiveNanda.activity.effectiveDate.low | dateFormat: 'short'}}</span>
        </div>
        <div class="lbl">
        <label>{{'label_objective-close-end' | translate}}</label>
        <span>{{ObjectiveNanda.activity.effectiveDate.high | dateFormat: 'short'}}</span>
        </div>
        <div class="lbl">
        <label>{{'label_objective-close-frqncy' | translate}}</label>
        <span>{{CarePlan.frequency}}</span>
        </div>
        <div class="lbl">
        <label>{{'label_objective-close-plnnd' | translate}}</label>
        <span>{{ObjectiveNanda.activity.author?.name?.fam + ' ' + ObjectiveNanda.activity.author?.name?.giv}}</span>
        </div>
        <div class="lbl">
        <label>{{'label_objective-close-note' | translate}}</label>
        <span>{{ObjectiveNanda.activity.note}}</span>
        </div>
      </div>
      <div id="objective-close-state" class="layout vertical fieldset">
        <phi-radiogroup [(ngModel)]="ObjectiveNanda.objReached" name="ObjectiveNanda.objReached" id="objective-close-objReached" [widgetLabel]="'label_objective-close-objReached' | translate" domain="PHIDIC:ObjectiveReach" converter="Code Value Converter" layout="vertical"></phi-radiogroup>
        <phi-monthcalendar [(ngModel)]="ObjectiveNanda.cancellationDate" name="ObjectiveNanda.cancellationDate" id="objective-close-date" [widgetLabel]="'label_objective-close-date' | translate" todayIsDefaultTime="true"></phi-monthcalendar>
      </div>
      <div id="objective-close-note" class="layout vertical fieldset">
        <phi-textarea [(ngModel)]="ObjectiveNanda.cancellationNote" name="ObjectiveNanda.cancellationNote" id="TextArea_1508316255005" [widgetLabel]="'label_TextArea_1508316255005' | translate"></phi-textarea>
      </div>
    </div>
    <div id="save-cancel" class="layout horizontal fill">
      <phi-buttoncancel (binding)="close()" id="BtnCancel"></phi-buttoncancel>
      <div id="save-cancel-spacer" class="layout horizontal center">
      </div>
      <phi-buttonsave (binding)="onSave()" id="BtnSave"></phi-buttonsave>
    </div>
  </div>
</form>
