// @import '..\\..\\..\\style\\variables';

phi-slider {
  width:100%;
}

/deep/ .sdlocTree {
  height: 175px;
  overflow: auto;
  margin-bottom: 0px;
}

.date-red {
  color: #B50000;
}

.date-orange {
  color: orange;
}

.date-blue {
  color: #0053E6;
}

.phi-tabbedpanel {
  height:50%;
  overflow: auto;

  .tab-content {
    flex: 2;
    overflow: auto;
  }
}

.priority {
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 3px;

  &:before {
    color: white;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 14px;
  }

  &.OWN, &.AMBCOLOR {background-color: cornflowerblue;}
  &.OWN:before, &.AMBCOLOR:before {content: "\f067";} // fa-plus

  &.SSN {background-color: red;}
  &.SSN:before {content: "\f067";} // fa-plus

  &.GREEN:before {color: green; content: "\f111";} // fa-circle
  &.YELLOW:before {color: yellow; content: "\f111";} // fa-circle
  &.RED:before {color: red; content: "\f111";} // fa-circle
  &.BLACK:before {color: black; content: "\f111";} // fa-circle
  &.WHITE:before {color: white; content: "\f111";} // fa-circle
  &.BLUE:before { color: blue; content: "\f111";} // fa-circle
  &.AZURE:before { color: cyan; content: "\f111";} // fa-circle
  &.ORANGE:before { color: orange; content: "\f111";} // fa-circle

}
#lyt-amb-filter1 {
  padding: 10px 0;
  justify-content: space-around;

  > .phi-widget {
    align-self: initial;
  }
}

#lyt-amb-results-lft {
  width:100%;
}
#lyt-amb-results-rght {
  width:100%;
  padding-left: 10px;
}

td.locked {
  color: gray;
}
