<form #form="ngForm" id="frm-app-list">
  <h1 *ngIf="showFooter">{{'frm-app-list' | translate}}</h1>
  <div id="lyt-app-list" class="layout vertical fullHeight">
    <div id="tbl-amb-all-appntmnt" phi-datagrid class="scrollX" [class.has-footer]="showFooter">
      <thead class="tableHeader">
        <tr>
          <th>{{'dgc-amb-apps-status' | translate}}</th>
          <th (click)="PatientAppointmentList?.orderBy('appdate')">{{'dgc-amb-apps-date' | translate}} <i *ngIf="PatientAppointmentList?.sortColumn('appdate')" [class]="PatientAppointmentList.sortArrow"></i></th>
          <th>{{'dgc-amb-apps-proc' | translate}}</th>
          <th>{{'dgc-amb-apps-amb-ward' | translate}}</th>
          <th>{{'dgc-amb-apps-amb-agenda' | translate}}</th>
        </tr>
      </thead>
      <tbody class="selectable">
        <tr *ngFor="let PatientAppointment of PatientAppointmentList?.entities; let i = index" (click)="ie(PatientAppointment, 'Appointment')" [class.selRow]="selected(PatientAppointment, 'Appointment')">
          <td>
            <span class="fa app {{PatientAppointment.status}}"></span>
          </td>
          <td>
            <span>{{PatientAppointment.appdate | dateFormat: 'short'}}</span>
          </td>
          <td>
            <span *ngFor="let row of AppointmentAction.procedureToArray(PatientAppointment)">
                <i class="fa app {{row.status}}"></i>{{row.title}}
              </span>
          </td>
          <td>
            <span>{{PatientAppointment.ambulatory}}</span>
          </td>
          <td>
            <span>{{PatientAppointment.agenda}}</span>
          </td>
      </tr>
      </tbody>
    </div>
    <div id="lyt-app-list-btn" class="layout horizontal space-between" *ngIf="showFooter">
      <phi-buttoncancel (binding)="close()" id="btn-app-list-close"></phi-buttoncancel>
      <phi-button (binding)="selectOnCalendar()" id="btn-app-list" [disabled]="!Appointment">{{'btn-app-list' | translate}}</phi-button>
    </div>
  </div>
</form>
