<form #form="ngForm" id="frm-app-delete">
  <h1>{{'frm-app-delete' | translate}}</h1>
  <div id="lyt-app-delete" class="layout vertical">
    <div id="lyt-app-delete-reason" class="layout horizontal">
      <phi-combobox [(ngModel)]="reasonCancCode" name="reasonCancCode" id="cbx-app-delete-reasonCancCode" [required]="environment.ambulatoryPortal.requiredDeleteReason" converter="Code Value Converter" domain="PHIDIC:CancReasonCode"></phi-combobox>
      <phi-checkbox [(ngModel)]="reputWl" name="reputWl" id="chk-app-delete-reputWl">{{'chk-app-delete-reputWl' | translate}}</phi-checkbox>
      <phi-checkbox [(ngModel)]="cleanCycle"  name="cleanCycle" id="chk-app-delete-cleanCycle" *ngIf="grouperId">{{'chk-app-delete-cleanCycle' | translate}}</phi-checkbox>
    </div>
    <phi-textarea [(ngModel)]="cancNote" name="cancNote" id="txt-app-delete-cancNote" [required]="environment.ambulatoryPortal.requiredDeleteReason"></phi-textarea>
    <div id="lyt-app-delete-btns" class="layout horizontal space-between">
      <phi-buttoncancel (binding)="onCancel()" id="btn-app-delete-cancel"></phi-buttoncancel>
      <phi-buttoncheck (binding)="onDelete()" id="btn-app-delete" [form]="form"></phi-buttoncheck>
    </div>
  </div>
</form>
