<form #form="ngForm" id="frm-app-details">
  <div id="lyt-app-details" class="layout vertical">
    <div class="lbl">
    <label>{{'label_lbl-app-number' | translate}}</label>
    <span>{{Appointment.stepmarker}}</span>
    </div>
    <div class="lbl" *ngIf="Appointment.patient">
    <label>{{'label_lbl-app-patient' | translate}}</label>
    <span>{{Appointment.patient.name?.fam + ' ' + Appointment.patient.name?.giv}} {{Appointment?.patient?.birthtime | dateFormat: 'shortDate'}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_lbl-app-amb' | translate}}</label>
    <span>{{Appointment.agenda?.name?.giv}}</span>
    </div>
    <label>{{'dg-app-srv' | translate}}</label>
    <div id="dg-app-srv" phi-datagrid *ngIf="Appointment.procedurerequest" label="Prestazioni">
      <tbody>
        <tr *ngFor="let Procedure of AppointmentAction.procedureToArray(Appointment); let i = index">
          <td>
            <span class="fa app {{Procedure.status}}"></span>
          </td>
          <td>
            <span>{{Procedure.title}}</span>
          </td>
      </tr>
      </tbody>
    </div>
    <div class="lbl">
    <label>{{'label_lbl-app-date' | translate}}</label>
    <span>{{Appointment.defaultdate | dateFormat: 'short'}}</span>
    </div>
    <div id="lyt-app-note" class="layout horizontal">
    <phi-textarea [(ngModel)]="Appointment.text.string" name="Appointment.text.string" id="txt-app-note" [widgetLabel]="'label_txt-app-note' | translate" *ngIf="Appointment"></phi-textarea>
      <div id="lyt-app-note-save" class="layout vertical" style="padding-top: 25px;">
        <phi-buttonsave (binding)="onSave()" id="btn-app-note-save"></phi-buttonsave>
      </div>
    </div>
    <div class="lbl" *ngIf="Appointment.canccode?.trans">
    <label>{{'label_txt-app-delreason' | translate}}</label>
    <span>{{Appointment.canccode.trans}}</span>
    </div>
    <div class="lbl" *ngIf="Appointment.canccode?.trans">
    <label>{{'label_txt-app-delnote' | translate}}</label>
    <span>{{Appointment.cancreasondetails}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_lbl-app-author' | translate}}</label>
    <span>{{Appointment.author?.name?.fam}} {{Appointment.author?.name?.giv}}</span>
    </div>
    <div class="lbl">
    <label>{{'label_lbl-app-creationdate' | translate}}</label>
    <span>{{Appointment.creationdate | dateFormat: 'short'}}</span>
    </div>
  </div>
</form>
