<form #form="ngForm" id="frm-appgrp-lst">
  <div id="lyt-appgrp-lst" class="layout vertical">
    <div id="dg-appgrp" [phi-datagrid]="AppointmentList" class="max-height-300">
      <thead class="tableHeader">
        <tr>
          <th>{{'dgc-appgrp-state' | translate}}</th>
          <th (click)="AppointmentList?.orderBy('defaultDate')">{{'dgc-appgrp-date' | translate}} <i *ngIf="AppointmentList?.sortColumn('defaultDate')" [class]="AppointmentList.sortArrow"></i></th>
          <th>{{'dgc-appgrp-dur' | translate}}</th>
          <th>{{'dgc-appgrp-agenda' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Appointment of AppointmentList?.entities; let i = index">
          <td>
            <span class="fa app {{Appointment.statusCode.code}}"></span>
          </td>
          <td>
            <span>{{Appointment.defaultDate | dateFormat: 'short'}}</span>
          </td>
          <td>
            <span>{{Appointment.procedure.levelCode.score}}</span>
          </td>
          <td>
            <span>{{Appointment.serviceDeliveryLocation.name.giv}}</span>
          </td>
      </tr>
      </tbody>
    </div>
  </div>
</form>
