<form #form="ngForm" id="frm-appgrp">
  <div id="lyt-appgrp" class="layout horizontal space-between">
    <div id="lyt-appgrp-l" class="layout vertical">
      <div class="lbl">
      <label>{{'label_lbl-app-patient' | translate}}</label>
      <span>{{Appointment.patient.name?.fam + ' ' + Appointment.patient.name?.giv}} {{Appointment.patient?.birthtime | dateFormat: 'shortDate'}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-amb' | translate}}</label>
      <span>{{Appointment.appgroup?.amb?.name?.giv}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-procedure' | translate}}</label>
      <span>{{Appointment.appgroup?.proc?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-author' | translate}}</label>
      <span>{{Appointment.appgroup?.author?.name?.fam}} {{Appointment.appgroup.author?.name?.giv}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-date' | translate}}</label>
      <span>{{Appointment.appgroup?.avatime | dateFormat: 'shortDate'}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-pattipe' | translate}}</label>
      <span>{{Appointment.appgroup?.patienttype?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-typology' | translate}}</label>
      <span>{{Appointment.appgroup?.agetype?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-diag' | translate}}</label>
      <span>{{Appointment.appgroup?.diagnosis?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-priority' | translate}}</label>
      <span>{{Appointment.appgroup?.priority?.trans}}</span>
      </div>
    </div>
    <div id="lyt-appgrp-r" class="layout vertical">
      <div class="lbl">
      <label>{{'label_lbl-app-lang' | translate}}</label>
      <span>{{Appointment.appgroup?.spoklang?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-sentby' | translate}}</label>
      <span>{{Appointment.appgroup?.sentby?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-note' | translate}}</label>
      <span>{{Appointment.appgroup?.text?.string}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-type' | translate}}</label>
      <span></span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-tel' | translate}}</label>
      <span>{{Appointment.appgroup?.phonenumber}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-loc' | translate}}</label>
      <span>{{Appointment.appgroup?.location?.trans}}</span>
      </div>
      <div class="lbl">
      <label>{{'label_lbl-app-desc' | translate}}</label>
      <span>{{Appointment.appgroup?.title?.string}}</span>
      </div>
    </div>
  </div>
</form>
