
<form id="hf" name="hf" method="post" action={{baseUrl}} target="">
  <input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value={{viewState}} autocomplete="off" />
  <input type="hidden" autocomplete="off" name="hf" value="hf">
  <input type="hidden" autocomplete="off" name="autoScroll" value="">
  <div id="hf:header">
    <input id="conversationId" type="hidden" value="">
  </div>
</form>
<div (click)="removeErrorMessages()">
  <div id="errorMenu">
  </div>
</div>
<div id="phiDesktop" class="phiJsf">
  <div class="scroll-to-top"></div>
  <form id="f" name="f" method="post" action={{baseUrl}} target="">
  </form>
</div>
<div id="popup" class="phiJsf">
  <form id="fPop" name="f" method="post" action={{baseUrl}} target="">
  </form>
</div>
<span id="_viewRoot:status" style="display: none">
  <span id="_viewRoot:status.start"></span>
  <span id="_viewRoot:status.stop"></span>
</span>
