@import 'variables';

   //overvrite skeleton style:
  .phiJsf {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
  }

  #phiDesktop.phiJsf {
    height: 100%;

    #i { height: 100%; }
    #i > div{display: flex;flex-direction: column;height:100%;width:100%;}
    #i > div > div{display: flex;flex:2;}
  }

  .ui-widget {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.04em;
  }

  .ui-dialog-title {
    font-size: 17px;
  }

  .reqStar {
    padding: 0 2px;
    color: rgb(194, 122, 122);
    float: right;
  }

  .phiJsf textarea {
    min-height: 0;
    padding: 0;
    float: left;
    width: calc(100% - 12px); /* used to create space for required asterisk */
  }


  .phiJsf input[type=date],
  .phiJsf input[type=datetime-local],
  .phiJsf input[type=email],
  .phiJsf input[type=number],
  .phiJsf input[type=password],
  .phiJsf input[type=search],
  .phiJsf input[type=tel],
  .phiJsf input[type=time],
  .phiJsf input[type=url],
  .phiJsf input[type=text],
  .phiJsf select {
    height: 21px;
    padding: 0;
  }

  .phiJsf label,
  .phiJsf legend {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
  }

  .phiJsf .comboBox {
    height: 21px;
    font-size: 1em;
    line-height: 1em;
    padding: 0;
  }

  .phiJsf .button, .phiJsf button, .phiJsf input[type="submit"], .phiJsf input[type="reset"], .phiJsf input[type="button"] {
    padding: 0;
    line-height: 1em;
  }

  .phiJsf .listBox {
    height: auto;
  }

  .phiJsf .tableBody > tr > td > input[type=text] {
    float: left;
  }

  .ui-autocomplete {
    list-style: none;
  }

  .ui-autocomplete li a {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
  }

  .ui-autocomplete li a small {
    padding-left: 12px;
  }

  .phiJsf th:first-child,
  .phiJsf td:first-child {
    padding-left: 10px;
  }

  .phiJsf .checkGroupTable td {
    padding: 4px 0;
  }

  .phiJsf .radioGroupTable td:first-child {
    padding-left: 0;
  }

  .phiJsf .tableBody tr:hover {
    background-color: $tableRowHover;
  }

/*  .phiJsf .tabset .tabs li a {
    font-size: 14px;
  }

  .phiJsf .tabset .tabs {
    list-style: none;
    margin-bottom: 22px;
    height: 2px;
    display: block;
  }

  .phiJsf .tabset .tabs li.active a {
    color: $tabTextColor;
    background-color: $tabBgColor;
  }

  .phiJsf .tabset .tabs li {
    margin: 0 1px;
    border: 0;
    padding: 1px 0px;
    background-color: $tabBgColorDisabled;
  }

  .phiJsf .tabset .tab-content {
    border: 3px solid $tabBorderColor;
  }

  .phiJsf .tabset .tabs li a {
    color: $tabTextColorDisabled;
    background-color: transparent;
    font-size: 16px;
    padding: 1px 10px;
  }*/

  .phiJsf .inputArea > div {
    padding-left: 0 !important;
  }

  #errorMenu {
/*    z-index: 99;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;*/

    #errorMenuErrors {
      font-weight: bold;
      color: #a94442;
      background-color: #f2dede;

      li {
        padding: 5px;
        list-style: none;
      }
    }
  }

