<nav phiMenu id="side-menu" class="menu" [class.visible]="menuVisible" [class.banner-visible]="bannerVisible">
  <section *ngIf="Param['p.general.showversion']?.visible && phiVersion">
    <p><a>PHI KLINIK - v{{phiVersion}}</a></p>
  </section>
  <section *ngIf="Param['p.dashboard.menu.showambandci']?.value" class="area-selector separator">
    <a (click)="showWard()" [class.active-route]="area=='ci'">
      <i class="fa fa-fw fa-bed"></i>
      <h1>CI</h1>
      <p>{{'ci' | translate}}</p>
    </a>
    <a (click)="showAmbulatory()" [class.active-route]="area=='amb'">
      <i class="fa fa-fw fa-user-md"></i>
      <h1>AM</h1>
      <p>{{'am' | translate}}</p>
    </a>
  </section>
  <ul>
    <li *ngIf="Param['p.general.help']?.visible" style="display:flex;" class="separator">
      <a href="{{Param['p.general.help'].value}}" target="_blank" >
        <i class="fa fa-fw fa-life-saver"></i><span>{{'FAQ' | translate}}</span>
      </a>
    </li>
    <li *ngFor="let process of processByAreaList" routerLinkActive="active">
      <phi-menu-item [process]="process" [onProcessClick]="onClick"></phi-menu-item>
    </li>
  </ul>
</nav>
