@import 'variables';

.menu {
  font-size: 14px;
  position: fixed;
  left: -280px;
  width: 280px;
  top: 80px;
  bottom: 0px;
  transition: transform ease 250ms;
  background-color: $secondaryColor;
  overflow-y: hidden;
  margin-bottom: 0px;
  z-index: 1;
  padding-top: 10px;

  &.visible {
    transform: translate3d(280px, 0, 0);
  }

  &:hover {
    overflow-y: auto;
  }

  .area-selector {
    display: flex;

    a {
      text-align: center;

      i {
        font-size: 26px;
      }
      h1, p {
        margin-bottom: 0;
      }
    }
  }
}

li {
  list-style: none;
  margin-bottom: .3em;
}

.active-route {
  color: black;
  background-color: white;
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 5px; //3px 5px;
  box-sizing: border-box;
  line-height: 1;
  border-left: 3px solid transparent;

  i, span, h1{
    display: inline-block;
  }

  span {
    padding-left: 5px;
  }
}

:host:hover > a {
  border-left: 3px solid $menuHighlightColor;
  background-color: #000;
  color: #fff;
}

.nav {
  height: 0px;
  overflow: hidden;
  transition: transform ease 250ms;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav.visible {
  height: auto;
}

ul.nav.visible {
  margin: 3px 0 0 20px;
}

ul {
  font-size: 100%;
}

.separator {
  margin-bottom: 20px;
}

.folder {
  background-color: $menuBackgroud;
}
