<a *ngIf="!_process.children || _process.children.length == 0" [routerLink]="path" [routerLinkActive]="['active-route']" (click)="onProcessClick()"><i class="fa {{iconClass}}"></i><span>{{title}}</span></a>
<a *ngIf="_process.children && _process.children.length > 0" (click)="onFolderClick()" class="folder"><i class="fa {{iconClass}}"></i><span>{{title}}</span></a>
<ul class={{navClass}}>
  <li *ngFor="let process of _process.children">
    <phi-menu-item [process]="process" [onProcessClick]="onProcessClick"></phi-menu-item>
  </li>
</ul>
