<header>

  <div class="hamburger hiddenForMobile">
    <a (click)="onClick()" *ngIf="!currentProcess && !this.config.isLoggedByServlet && !this.config.isLockedNode"><span class="fa fa-bars"></span></a>
    <a (click)="goHome()" *ngIf="currentProcess && !this.config.isLoggedByServlet && !this.config.isLockedNode"><span class="fa fa-home"></span></a>
  </div>

  <div class="logo" *ngIf="(Patient) == null"> </div>

  <nav>
    <phi-banner></phi-banner>
    <div class="search" *ngIf="(Patient) == null && this.config.param && this.config.param['p.banner.uptodate'] && this.config.param['p.banner.uptodate'].visible">
      <input #upToDate type="text" placeholder="UpToDate®" (keyup.enter)="searchUpToDate($event.target)">
      <phi-buttonsearch (binding)="searchUpToDate(upToDate)"></phi-buttonsearch>
    </div>
    <div id="userContainer">
      <div>
        <span class="user">{{this.config.employee?.name?.giv + ' ' + this.config.employee?.name?.fam}}</span>
        <span class="role">{{this.config.employeeRole}}</span>
      </div>
    </div>
    <div class="logout" title="Logout">
      <a id="logout" (click)="goOut()" class="square">
        <i class="fa fa-sign-out fa-3x"></i>
        <span class="title">Logout</span>
      </a>
    </div>
  </nav>

 </header>
