@import 'variables';

header {
  position: fixed;
  background-color: $primaryColor;
  text-align: center;
  width: 100%;
  top:0;
  height: 80px;
}

.hamburger {
  float: left;
  width: 80px;

  a {
    cursor: pointer;
    display: block;
    line-height: 80px;
    height: 80px;
    background-color: $secondaryColor;
    color: #fff;

    span {
      font-size: 40px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.logo {
  float: left;
  width: 200px;
  height: 80px;
  background-color: #fff;
  background-image: url(#{$logo-header});
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70%;
}

nav {
  display: flex;
  height: 100%;
  margin-right: 80px;
  overflow: hidden;

  phi-banner {
    flex-grow: 2;
  }
}
.square {
  width: 80px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  float: left;

  input {
    width: 180px;
  }
}

#userContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  float: right;
  text-align: right;

  @media screen and (max-width: 800px) {
    display: none;
  }

  .user {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }

  .role {
    text-transform: capitalize;
    display: block;
  }
}

.logout {
  background-color: $secondaryColor;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;

  a {
    color: white;
  }
  .title {
    display: block;
    line-height: 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
}
