
.min {vertical-align: super;text-align: end;}
.max {vertical-align: super;text-align: start;}

.valueContainer {
  width: 100%; text-align: center;
  .value {vertical-align: super;}
}

input[type=range] {
  margin: 0;
  padding: 0;

  &::-ms-tooltip {display: none;}
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    //border-width: 6px 0;
    color: transparent;
  }
  &::-ms-fill-lower, &::-ms-fill-upper {background: lightgray;}
}

section.range-slider {
  position: relative;
  text-align: center;
}

section.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 15px;
  left: 0px;
  outline: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  section.range-slider input {
    pointer-events: all;
    &:last-of-type {
      top: 24px;
    }
  }
}

section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

section.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

section.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
