/deep/ .phi-tabbedpanel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/deep/ ul.tab-nav {
    flex-basis: 37px; // Fixes IE11 height
    list-style: none;
    border-bottom: 1px solid #bbb;
    padding-left: 5px;
}

/deep/ ul.tab-nav li {
    display: inline;
}

/deep/ ul.tab-nav li a.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    border-bottom: none;
  font-weight: initial;
}

/deep/ ul.tab-nav li a.activetab.button {
  border-bottom: 1px solid #fff;
  font-weight: 600;
}

/deep/ .tab-content .tab-pane {
    display: none;
}

/deep/ .tab-content .tab-pane.activetab {
    display: block;
}
