@import 'variables';
/* action messages */
.message {padding:16px;margin:0 0 16px;position:relative;text-align:center;}
.message div {padding:5px 0 7px 80px;}
.message div h3 {margin-bottom:8px;font-weight:bold;}
.message div .cms {background:none;padding:0;}
.message .close {position:absolute;right:0px;top:0px;padding:5px 30px;cursor:pointer;background-color: black;}
.message .logout {position:absolute;left:0px;top:0px;padding:5px 30px;cursor:pointer;background-color: black;}
.message .close:hover {font-weight:bold;cursor:pointer;}
.msg-warning {background: #dbce0b;}
.msg-warning:before {font-family: FontAwesome;color: red;font-size: 60px;content: "\f06a";display: inline;line-height: 1;}
.msg-error {background:#ca1e1e;color:#fff;}
.msg-error .cms {/*background:url(../images/icons/error.png) no-repeat 0 0*/;min-height:60px;}
.msg-success {background:#76ac12 /*url(../images/layout/bg-green.png) repeat-x 0 0*/;}
.msg-success .cms {/*background:url(../images/icons/success.png) no-repeat 0 0*/;min-height:60px;}


/* paging */
.paging {display:block;float:right;}
.paging ul {display:block}
.paging ul li {display:block;float:left;}
.paging ul li a {display:block;float:left;padding:4px 0px;line-height:1;font-size:15px;text-decoration:none;color:#fff;font-weight:bold;background-color: $headerColor;border: 1px solid $headerColor;color:$headerTextColor;}
.paging ul li:hover a,
.paging ul li.active a {background-color:$tableRowSelected;color:$headerTextColor;}

/* calendar button*/
.ui-datepicker-trigger {font-family:FontAwesome;color:$iconColor;font-size:20px;font-style:normal;height:16px;margin-top:-7px;margin-left:5px;cursor:pointer;}
.ui-datepicker-trigger:before {content:"\f073";}
/* jQuery UI tabs */
.tabset {z-index:50;position:relative;}
.tabset .tabs {list-style: none;}
.tabset .tabs li {float:left;position:relative;top:1px;margin:0 4px 1px 0;padding:0;white-space:nowrap;}
.tabset .tabs li a {text-decoration: none;font-size: 16px;background-color:$tertiaryColor;padding:2px 5px;}
.tabset .tabs li.active {margin-bottom:0;padding-bottom:1px;}
.tabset .tabs li.active a {background-color:$secondaryColor;color:#fff;cursor:text;}

.tabset .tab-content {background-color:#fff;margin-bottom: 3px;padding-bottom: 3px;border: 1px solid #ccc;}
/* Data table */
.dt {width:100%;clear:both;}
.dt table {width:100%;}
.dt .caption {font-weight:bold;text-align:left;display:block;float:left;padding:4px 10px 3px 10px;color:$headerTextColor;background-color:$headerColor;}
.dt .caption input {/*float:right;border:none;*/margin-bottom:0px;height:28px;margin-left:10px;}
.dt .caption label {float:left;}
.dt .tableHeader {color: $headerTextColor;background-color: $headerColor;width:100%;}
.dt table .selRow td {background-color:$tableRowSelected;}
.dt .selectable tr,
.dt .sortableColumn,
.dt table th a {cursor:pointer;}
.dt .selectable tr:hover {background-color: $tableRowHover;}
.dt table th a {color: $headerTextColor;text-decoration:none;}
.dt span {display:block;}
/* Popup data table */
#fPop {text-align:left;}
#fPop .dt .tableHeader {table-layout:auto;}
/*Div widget container*/
.widgetDiv {position: absolute;white-space: nowrap;}

/* GroupBox and Legend */
.groupBoxLegend {font-size: 16px;margin-left: 5px;padding: 1px 10px;border: none;width: initial;background:$secondaryColor;color: #fff;}
.groupBox{height:100%;border: $groupBoxBorder;}

.layoutGroupBox .groupBoxLegend{position: inherit;}
#fPop .groupBox{position:static;height:100%;border: $groupBoxBorder;}

/*Required fields*/
/*input[type=text].required, input[type=password].required, textarea.required, select.required {border: 1px solid red;}
input[type=text].required, input[type=password].required, textarea.required {background-position: 98% center;background-image: url(../images/required_asterisk.png);background-repeat: no-repeat;}*/
/*select.required {background-position: 90% 50%;background-image: url(../images/required_asterisk.png);background-repeat: no-repeat;background-color: transparent;}*/
/*.required label {color:red;}*/
/*Disabled fields*/
input[type=text]:disabled, input[type=password]:disabled, textarea:disabled, select:disabled {border:1px solid #ABADB3;background-color:#EBEBE4;color:#545454}
a.disabled {color: #EBEBE4;cursor: default;}
a.disabled:before, a.disabled i:before, .disabled .ui-datepicker-trigger {color: #EBEBE4;cursor: default;}

.buttonContainer.disabled:after {color: #EBEBE4;cursor: default;}
.buttonContainer.disabled input {cursor: default;}

/* Error, validation msg */
.rich-message, .errorMessage, .errorMessages {display:block;color:red;font-weight:bold;z-index:1999;min-height:20px; margin:2.5px 0;}
.errorMessage {position: absolute;}

/*Errors in home header*/
.errorHeader {color:red; font-weight:bold;}

/*Errors in home summary*/
#main-nav #errorMenu #errorMenuErrors dl dt span {color:red;display:block;padding:6px 10px 3px 33px;border-bottom:1px solid #ddd;}
//#main-nav #errorMenu #errorMenuErrors dl dt span {background-image:url(../images/audit/outcome-12.gif);background-repeat:no-repeat;background-position:10px 6px;}

#main-nav #errorMenu #errorMenuInfos dl dt span {color:green;display:block;padding:6px 10px 3px 33px;border-bottom:1px solid #ddd;}
//#main-nav #errorMenu #errorMenuInfos dl dt span {background-image:url(../images/audit/outcome-0.gif);background-repeat:no-repeat;background-position:10px 6px;}

/* BIRTHPLACE WIDGET */
.birthPlace {width:100%;clear:both;display:block;}
.birthPlace li {width:100%;clear:both;display:block;float:left;}
.birthPlace li label {float:left;}
.birthPlace li input {float:left;}
.birthPlace li span {float:left;}

/*CUSTOM POSITIONING TO BE USED IN styleClass of widgets*/
.topDiv {width:100%;height:50%;}
.bottomDiv {width:100%;height:50%;}
.leftDiv {float:left;width:50%;height:100%;}
.rightDiv {float:left;width:50%;height:100%;}

.h50 {width:97%;height:47%;margin:1%}
.h45 {width:97%;height:42%;margin:1%}
.h45scroll {width:97%;height:42%;margin:1%;overflow:auto;}
.h10 {width:97%;height:7%;margin:1%}

.w50 {width:47%;height:97%;margin:1%;float:left;}

.h50w50 {width:47%;height:47%;margin:1%;float:left;}
.h100w100 {width:100%;height:100%;}

/*JsTree*/
.treeIconSize {font-size:22px;}
/*checkbox tree-show checkbox only on leaves*/
.checkOnlyLeaves li.jstree-open > a.jstree-anchor > i.jstree-checkbox,
.checkOnlyLeaves li.jstree-closed > a.jstree-anchor > i.jstree-checkbox { display:none;}


.buttonBase {background: transparent;cursor:pointer;display: inline-block;}/*BUTTON TRASPARENT TO REMOVE 4 VCO!!!*/
.buttonBase i {vertical-align: middle;}
.buttonBase i:before{font-family:FontAwesome;color:$iconColor;font-size:40px;font-style:normal;line-height: 0.8;}

.buttonGeneric {padding: 5px;width: initial;height: initial;background-color: $tertiaryColor;border: none;}/*BUTTON BORDER TO REMOVE 4 VCO!!!*/
.buttonGeneric span:hover {color:#fff;}
.dt .buttonBase i:before {font-size: 2em;}
.buttonBase.fa2x i:before {font-size: 2em;}
.buttonAdd i:before {content:"\f067";}
.buttonBack i:before {content:"\f060";}
.buttonCancel i:before {content:"\f00d";}
.buttonCheck i:before {content:"\f00c";}
.buttonClean i:before {content:"\f12d";}
.buttonEdit i:before {content:"\f040";}
.buttonHome i:before {content:"\f015";}
.buttonNext i:before {content:"\f061";}
.buttonOk i:before {content:"\f00c";}
.buttonRemove i:before {content:"\f068";}
.buttonRefresh i:before {content:"\f021";}
.buttonSave i:before {content:"\f0c7";}
.buttonSaveTemp i:before {content:"\f0c7";color:yellow;}
.buttonSearch i:before {content:"\f002";}
.pdfReportButton i:before {content:"\f1c1";}

/* LABELS */
//.label, .widget-label{font-weight:bold; text-align: right; margin-right: 5px; width:150px;}
//.label, .widget-label, .reqStar  {min-height:20px;}
//.widget-label{display:inline-block;float:left;}

/* WIDGETS */
.inputText, .listBox, .interval input, .hSlider, .comboBox, .inputArea {min-width:150px;}
.listBox {max-height:250px;}

option:disabled{display:none;}

.sizePlaceholder {width:100%;height:1px;clear:both;}
.virtualPageBox{width:100%;height:100%;}
/* TEXT AREA */
textarea {resize:vertical;}
.inputArea textarea {width: 100%;height: 100%;}
/* .inputArea>div is necessary for tinymce to work properly */
.inputArea>div {padding-left: 155px;height: 100%;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;}
textarea[readonly],textarea[disabled] {overflow:auto;}
input[readonly],textarea[readonly],textarea[disabled] {background-color:#EBEBE4;}

/* MONTH CALENDARS */
.monthCalendar.datepicker {width:80px;}
.monthCalendar.datetimepicker {width:120px;}
.monthCalendar.timepicker {width:50px;}

/* RADIO GROUP RENDERED TABLE SETTINGS */
.radioGroupTable td {padding:0 5px;}
.radioGroupTable td input,
.radioGroupTable td label {vertical-align:middle;}

/* GROUP CHECKBOX RENDERED TABLE SETTINGS */
.checkGroupTable td {padding:0 5px;}
.checkGroupTable td input,
.checkGroupTable td label {vertical-align:middle;}

/* SLIDER */
.hSlider {display:inline-block;width:120px;}
.vSlider {margin: 0 auto;height:150px;}
.vSlider a{left:0 !important;}
.hInput {margin-left:5px;}
.vInput {margin:5px 2.5px 0 2.5px;}
.hInput, .vInput{text-align:right;height:19px;}
.hSlider, .hInput{vertical-align:middle;}

/* PICKLIST */
.pickList_sourceListContainer, .pickList_targetListContainer {width: 39%; height: 100%;}
.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer { float: left; margin: 0 0.5%; box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.pickList_controlsContainer { text-align: center;width:19%;height: 100%;}
.pickList_controlsContainer button {width: 100%;padding: 5px;background-color:$tertiaryColor;border: none;margin: 2px;}
.pickList_list { list-style-type: none; margin: 0; padding: 0; float: left; width: 100%; height: 85%; border: 1px solid #ABADB3; overflow-y: auto; cursor: default;  box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.pickList_selectedListItem { background-color: #3297FD; color: #FFFFFF; }
.pickList_listLabel { font-size: 0.9em; font-weight: bold; text-align: center; height:15%;}
.pickList_clear { clear: both; }
.pickList {max-height: 250px;min-height: 10px;}
.pickList_sourceListContainer ul.required, .pickList_targetListContainer ul.required {border: 1px solid red;}
.pickList_sourceListContainer ul.disabled, .pickList_targetListContainer  ul.disabled{border:1px solid #ABADB3;background-color:#EBEBE4;color:#545454;}

/* TEXT SUGGESTION */
.inputText.autoAddress {width:150px;}
.textSuggestionSeparator {display:inline-block;width:5px;text-align:center;}
.layoutHorizontal .textSuggestionSeparator, .layoutVertical .textSuggestionSeparator {float:left;}

/* LAYOUTS AND CONTAINERS*/
.layoutRoot {display: flex;height:100%;width:100%;}
.layoutRootHorizontal {}
.layoutRootVertical {flex-direction: column;}

.layoutContainerHorizontal, .layoutContainerVertical, .layoutHorizontal, .layoutVertical,
.layoutContainerHorizontal .ui-datepicker-trigger, .layoutContainerVertical .ui-datepicker-trigger, .layoutHorizontal .ui-datepicker-trigger, .layoutVertical .ui-datepicker-trigger,
.reqStar, .widgetDivChild, .interval input, .interval label, .interval .ui-datepicker-trigger, .intervalSpan, .tabbedPanel,
.inputText, .label, .comboBox, .listBox, .monthCalendar, .inputArea, .radioGroup, .groupCheckBox, .link, .layoutSuggestionCpa {float:left;box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}

.slider, .widgetDivChild {float:left;}
.checkBox, .layoutGroupBox, .layoutGroupBoxOuter {box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */}
.layoutContainerVertical, .layoutVertical {clear:both}
.groupCheckBox td, .radioGroup td {padding-left: 0;}
.layoutContainerVertical {width:100%;}
.layoutContainerHorizontal {height:100%;}
.layoutGroupBox {border:$groupBoxBorder;min-width:0;width:100%;height:100%;}

.layoutVertical, .widgetDivChild, .inputArea  {width:100%;}
.layoutHorizontal, .layoutVertical, .layoutGroupBox, .layoutGroupBoxOuter, .tabbedPanel .tab-content {padding:2.5px;}
.layoutHorizontal .errorMessages, .layoutVertical .errorMessages {float:left;clear:both;}

.layoutSuggestionCpa {margin:0 5px;width: 25px;}

.fillHeight {display:flex;flex:2;}

.tabbedPanel {width:100%;/*position: relative;height: 100%;*/}
.tabbedPanel .tab-content, .tabbedPanel .tabs {margin:0;}
.tabbedPanel .tab-content {border: 3px solid $headerColor;}


/* POPUPS */
.pu-msg-warning {/*background:#dbce0b;*/}
.pu-msg-warning .ui-widget-header{/*background-color: rgb(251, 244, 138);*/}
.pu-msg-warning  .ui-dialog-buttonpane {background:none;/*border-color: rgba(202, 190, 18, 0.41);*//*border-width:2px 0 0 0;*/}
.pu-msg-warning  .ui-button {background:$tertiaryColor;border: none;/*border-color:#a29806;*/color:#000;}
.pu-msg-warning  .ui-button:hover {/*background:#a29806;*//*border-color:#dbce0b;*/color: #fff;}
.pu-msg-error {background:#ca1e1e /*url(../images/layout/bg-red.png) repeat-x 0 0*/;color:#fff;}
.pu-msg-error .ui-widget-header{color:#fff;background-color:$tertiaryColor;/*border-color:#851212*/}
.pu-msg-error  .ui-dialog-buttonpane {background:none;border-color:#851212;border-width:2px 0 0 0;}
.pu-msg-error  .ui-button {background:#ca1e1e;border-color:#851212;color:#fff;}
.pu-msg-error  .ui-button:hover{background:#851212;border-color:#ca1e1e;color:#fff;}
.pu-msg-error  .cms,.pu-msg-success  .cms {color:#fff;}
.pu-msg-success {background:#76ac12 /*url(../images/layout/bg-green.png)*/ repeat-x 0 0;color:#fff;}
.pu-msg-success .ui-widget-header{background-color:#76ac12;border-color:#62910E;color:#fff;}
.pu-msg-success  .ui-dialog-buttonpane {background:none;border-color:#62910E;border-width:2px 0 0 0;}
.pu-msg-success  .ui-button {background:#76ac12;border-color:#62910E;color:#fff;}
.pu-msg-success  .ui-button:hover {background:#62910E;border-color:#76ac12;color:#fff;}
.pu-no-close .ui-dialog-titlebar-close {display: none;}
.pu-other-customizations .cms {padding: 11px;float: right;}

/* SCROLL TO TOP BUTTON */
.scroll-to-top {position: fixed;bottom: 10px;right: 10px;width: 36px;height: 36px;overflow: hidden;z-index: 9999;}
.scroll-to-top:before {color: $primaryColor;font-family: FontAwesome;font-style: normal;content: "\f0aa";font-size: 3em;line-height: 1;}
/* SIZES */
.width-100{width:100%;}
.width-50{width:50%;}
.width-25{width:25%;}

/* CUSTOMER DEFAULT CLASSES [FORMS] */
.c-text-bold {font-weight:bold;}
.c-text-italic{font-style:italic;}
.c-text-underline{text-decoration:underline;}
.c-text-line-through{text-decoration:line-through;}
.c-text-center{text-align:center;}
.c-fill-DDDDDD{background-color:#DDDDDD;}

/* CUSTOMER DEFAULT CLASSES [REPORTS] */
.r-text-bold{font-weight:bold;}
.r-text-italic{font-style:italic;}
.r-text-underline{text-decoration:underline;}
.r-text-line-through{text-decoration:line-through;}

.r-text-07{font-size:7pt;}
.r-text-08{font-size:8pt;}
.r-text-10{font-size:10pt;}
.r-text-11{font-size:11pt;}
.r-text-12{font-size:12pt;}
.r-text-14{font-size:14pt;}
.r-text-16{font-size:16pt;}
.r-text-18{font-size:18pt;}
.r-fill-DDDDDD{background-color:#DDDDDD;}

/*textarea, input, select {font:normal 11px/1.5 Verdana;}*/

/* CUSTOMER CUSTOM CLASSES [FORMS] */
.c-text-11{font-size:11px;}
.c-text-white{color:white;}
.c-text-08{font-size:8px;}
.c-text-12{font-size:12px;}
.c-text-16{font-size:16px;}
.c-text-14{font-size:14px;}
.c-text-red{color:red;}
.c-text-20{font-size:20px;}
.c-text-13{font-size:13px;}
.c-text-lime{color:lime;}
.c-text-0080FF{color:#0080FF;}
.c-newline-label{white-space:normal;overflow:auto;display:block;}

/* CUSTOMER CUSTOM CLASSES [REPORTS] */
.r-font-document{font-family:Verdana;font-size:9pt;}
.r-fill-F0EBE0{background-color:#F0EBE0;}

/* FOCUS COLUMN ROW */
.redRow{color:red;}
.greenRow{background-color: #E0ECB7;}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#i > div{display: block;height:100%;width:100%;}
	#i > div > div{display: block;}
	.layoutRoot {display:block;}
	.fillHeight {display:block;}
}

//@import '../../../../src/main/webResources/SKIN/scss/overrides';
