// styles in src/style directory are applied to the whole page
/*!
 * PHI Theme
 */

@import 'variables';

html,body, #app {width:100%;height: 100%;}

.menu {
  position: fixed;
  left: -250px;
  width: 250px;
  top: 60px;
  bottom: 0px;
  transition: transform ease 250ms; //FIXME ADD BROWSER SPECIFIC
  background-color: #03A9F4;
  overflow-y: auto;
  z-index: 999;
  margin-bottom: 0px;
}
.menu.visible {
  transform: translate3d(250px, 0, 0); //FIXME ADD BROWSER SPECIFIC
}
.menu li {
  list-style: none;
}
.menu li a{
  color: #fff;
  text-decoration: none;
}

.nav {
  //height: 0px;
  overflow: hidden;
  transition: transform ease 250ms; //FIXME ADD BROWSER SPECIFIC
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav.visible {
  height: auto;
  //transform: translate3d(250px, 0, 0); //FIXME ADD BROWSER SPECIFIC
}

.nav.visible li {
  //margin-bottom: 0px;
  line-height: 1;
}

header {
  position: fixed;
  background-color: #03A9F4;
  width: 100%;
  top:0px;
  height: 60px;
  z-index: 100;
}
header li {
  float: left;
  list-style: none;
}
header li a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#page-wrapper {
  margin-top: 65px;
  transition: transform ease 250ms; //FIXME ADD BROWSER SPECIFIC
}
#page-wrapper.menu-visible {
  padding-left: 250px;
}
#flex-wrapper {
  padding-top: 65px;
  height: 100%;
}



#loader i {color: $primaryColor;}
.centered {display: table-cell;vertical-align: middle;text-align: center;}
.overlay-loading {display:table;position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
.zIndexFront {z-index: 100000;}

caption {
  padding-top: 0;
  padding-bottom: 0;
}


.layout {box-sizing: border-box;/*overflow: auto;*/}
.layout.center {text-align: center;}
.layout.end {text-align: end;}
//.layout.horizontal{width:100%;}
.layout.horizontal > .layout {float:left;-webkit-margin-end: 0px;}

.input {box-sizing: border-box;}
//.layout > .input {  padding-left: 4%;}
//.layout > .label {  padding-left: 4%;}
//.layout > a {  padding-left: 4%;}
//.layout > .dt {  padding-left: 4%;padding-right: 4%;}

.input.textarea {width:100%;padding-right: 4%;}
.input.textarea textarea {width:100%;height:50px;}

/*
.layoutContainer {}


 .widgetDivChild, .inputArea  {width:100%;}
.layoutHorizontal, .layoutVertical, .layoutGroupBox, .layoutGroupBoxOuter, .tabbedPanel .tab-content {padding:2.5px;}
.layoutHorizontal .errorMessages, .layoutVertical .errorMessages {float:left;clear:both;}

.layoutSuggestionCpa {margin:0 5px;width: 25px;}

.tabbedPanel {width:100%;}
.tabbedPanel .tab-content, .tabbedPanel .tabs {margin:0;}
.tabbedPanel .tab-content {border-color: #ccc;border-style: solid; border-width: 0 1px 2px 1px;}
.c-text-red{color:red;}

/*NEW
.layoutHorizontal > div {float:left}
*/


/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/*!
 *
 *  React Simpletabs - Just a simple tabs component built with React
 *  @version v0.1.0
 *  @link https://github.com/pedronauck/react-simpletabs
 *  @license MIT
 *  @author Pedro Nauck (https://github.com/pedronauck)
 *
 */
.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #ddd;
}
.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs-menu-item {
  float: left;
}
.tabs-menu-item a {
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  border-bottom: 0;
  color: #a9a9a9;
}
.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}
.tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}
.tabs-panel {
  display: none;
  padding: 30px;
}
.tabs-panel.is-active {
  display: block;
}

// DASHBOARD
.bold { font-weight: bold; }

.active { color: limegreen; }
.new { color: yellow; }
.held { color: red; }

.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: limegreen; }
.black { color: black; }

.yellowBackGround { background-color: #FFFF00; opacity: .3; }