<form #form="ngForm" id="Form_1553856410511">
  <div id="lyt-ps-menu" class="layout vertical popup-menu">
    <phi-button (binding)="registry()" id="btn-ps-menu-rgrstry" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-user"></i>{{'btn-ps-menu-rgrstry' | translate}}</phi-button>
    <div id="lyt-ps-menu-new" class="layout vertical" *ngIf="statusCode == 'new'">
      <phi-button (binding)="edit()" id="btn-ps-menu-edit" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-pencil-square"></i>{{'btn-ps-menu-edit' | translate}}</phi-button>
      <phi-button (binding)="medicalHistory()" id="btn-ps-menu-hstry" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-file-text"></i>{{'btn-ps-menu-hstry' | translate}}</phi-button>
      <phi-button (binding)="takeInCharge()" id="btn-ps-menu-actv" [disabled]="psAction.isRadiologist()"><i class="fa app active"></i>{{'btn-ps-menu-actv' | translate}}</phi-button>
    </div>
    <phi-button (binding)="outpatientSummary()" id="btn-ps-menu-smmry" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-list-alt"></i>{{'btn-ps-menu-smmry' | translate}}</phi-button>
    <phi-button (binding)="report()" id="btn-ps-menu-rfrt" [renderedEl]="statusCode == 'active'" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-file-text-o"></i>{{'btn-ps-menu-rfrt' | translate}}</phi-button>
    <div id="lyt-ps-menu-completed" class="layout vertical" *ngIf="statusCode == 'completed'">
      <phi-button (binding)="closingData()" id="btn-ps-menu-closingdata" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-sign-out"></i>{{'btn-ps-menu-closingdata' | translate}}</phi-button>
      <phi-button (binding)="reopen()" id="btn-ps-menu-reopen" [disabled]="psAction.isRadiologist()"><i class="fa fa-2x fa-users"></i>{{'btn-ps-menu-reopen' | translate}}</phi-button>
    </div>
    <phi-button (binding)="closeEncounter()" id="btn-ps-menu-close" [disabled]="psAction.isRadiologist()" [renderedEl]="statusCode == 'new' || statusCode == 'active'"><i class="fa fa-2x fa-sign-out"></i>{{'btn-ps-menu-close' | translate}}</phi-button>
    <phi-button (binding)="cancel()" id="btn-ps-menu-cancel" [disabled]="psAction.isRadiologist()" [renderedEl]="statusCode == 'new'"><i class="fa fa-2x fa-window-close"></i>{{'btn-ps-menu-cancel' | translate}}</phi-button>
  </div>
</form>
